force-app/main/default/flows/ASS_MaJ_Date_Autre_Usage_Hosrs_Tension.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>FillAutreUsage_0</name>
        <label>FillAutreUsage</label>
        <locationX>1106</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>$Record.Date_Autre_Usage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>MaJ_Equipement_de_mesure</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>FillDateHorsTension</name>
        <label>FillDateHorsTension</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>$Record.Date_de_Mise_Hors_Tension__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>MaJ_Equipement_de_mesure</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>FillHorsTensionAutreUsage</name>
        <label>FillHorsTensionAutreUsage</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>$Record.Date_Autre_Usage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Date_de_Mise_Hors_Tension__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>MaJ_Equipement_de_mesure</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ByPass</name>
        <label>ByPass</label>
        <locationX>1403</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Bypass_flows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Champ_Modifie</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Champ_Modifie</name>
        <label>Champ Modifie</label>
        <locationX>908</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Hors_Tension_Autre_Usage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Hors_tension__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Autre_usage__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Hors_Tension_Autre_Usage</targetReference>
            </connector>
            <label>Hors Tension &amp; Autre Usage</label>
        </rules>
        <rules>
            <name>Hors_Tension</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Hors_tension__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Hors_Tension</targetReference>
            </connector>
            <label>Hors Tension</label>
        </rules>
        <rules>
            <name>Autre_Usage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Autre_usage__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Autre_Usage</targetReference>
            </connector>
            <label>Autre Usage</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Autre_Usage</name>
        <label>Check Autre Usage ?</label>
        <locationX>1238</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>ViderDateAutreUsage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>UnCheck Autre Usage</defaultConnectorLabel>
        <rules>
            <name>Check_Autre_Usage_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Autre_usage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FillAutreUsage_0</targetReference>
            </connector>
            <label>Check Autre Usage</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Hors_Tension</name>
        <label>Check Hors Tension ?</label>
        <locationX>710</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>ViderDateHorsTension</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Uncheck Hors Tension</defaultConnectorLabel>
        <rules>
            <name>Check_Hors_Tension_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Hors_tension__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FillDateHorsTension</targetReference>
            </connector>
            <label>Check Hors Tension</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Hors_Tension_Autre_Usage</name>
        <label>Check Hors Tension &amp; Autre Usage</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>ViderDatesAutreUsageHorsTension</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Hors_Tension_Autre_Usage_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Hors_tension__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Autre_usage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FillHorsTensionAutreUsage</targetReference>
            </connector>
            <label>Check Hors Tension &amp; Autre Usage ?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DateToNull</name>
        <dataType>Date</dataType>
        <expression>NULL</expression>
    </formulas>
    <interviewLabel>ASS_MàJ_Date_Autre_Usage_Hosrs_Tension {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ASS_MàJ_Date_Autre_Usage_Hors_Tension</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>MaJ_Equipement_de_mesure</name>
        <label>MaJ Equipement de mesure</label>
        <locationX>908</locationX>
        <locationY>1127</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>ViderDateAutreUsage</name>
        <label>ViderDateAutreUsage</label>
        <locationX>1370</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>Date_Autre_Usage__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>ViderDateHorsTension</name>
        <label>ViderDateHorsTension</label>
        <locationX>842</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>Date_de_Mise_Hors_Tension__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>ViderDatesAutreUsageHorsTension</name>
        <label>ViderDatesAutreUsageHorsTension</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>Date_Autre_Usage__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Date_de_Mise_Hors_Tension__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1277</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ByPass</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Autre_usage__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Hors_tension__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Asset</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Asset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>test</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>test 123456</stringValue>
        </value>
    </variables>
</Flow>
