force-app/main/default/flows/ASS_Maj_Recu_SuiviExpedtion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>EditSuiviExp</name>
        <label>EditSuiviExp</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>SuiviExpToUpdate.Recu__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateSuiviExp</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>IsBypassed</name>
        <label>IsBypassed</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>bypassFalse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>bypassFlows</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetSuiviExp</targetReference>
            </connector>
            <label>bypassFalse</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>ASS_Maj_Recu_SuiviExpedtion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ASS_Maj_Recu_SuiviExpedtion</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetSuiviExp</name>
        <label>GetSuiviExp</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EditSuiviExp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Numero_de_serie__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SerialNumber</elementReference>
            </value>
        </filters>
        <object>ProductRequest</object>
        <outputReference>SuiviExpToUpdate</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Recu__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateSuiviExp</name>
        <label>UpdateSuiviExp</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <inputReference>SuiviExpToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IsBypassed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Localisation__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Station</stringValue>
            </value>
        </filters>
        <filters>
            <field>Localisation__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Asset</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>bypassFlows</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$User.Bypass_flows__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>SuiviExpToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductRequest</objectType>
    </variables>
</Flow>
