force-app/main/default/flows/ASS_SerialNumberUnique.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>CheckIfSerialNumberExist</name>
        <label>CheckIfSerialNumberExist</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>mainUpdate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SerialNumberUnique</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SerialNumber</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SerialNumber</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type_de_materiel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>32</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>mainUpdate</targetReference>
            </connector>
            <label>SerialNumberUnique</label>
        </rules>
    </decisions>
    <interviewLabel>ASS_SerialNumberUnique {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ASS_SerialNumberUnique</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>mainUpdate</name>
        <label>mainUpdate</label>
        <locationX>176</locationX>
        <locationY>527</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type_de_materiel__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>32</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>SerialNumberUniqueness__c</field>
            <value>
                <elementReference>$Record.SerialNumber</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CheckIfSerialNumberExist</targetReference>
        </connector>
        <object>Asset</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>recordtypeAccessoire</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Accessoires</stringValue>
        </value>
    </variables>
</Flow>
