force-app/main/default/flows/Ass_Desafect_Old_Pager.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Desafecter_Foyer_pan</name>
        <label>Desafecter Foyer pan</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>Asset_Du_Foyer.Foyer_paneliste__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset_Du_Foyer.Date_de_premiere_collecte_d_audience__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Null</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset_Du_Foyer.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset_Du_Foyer.Date_de_desaffectation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset_Du_Foyer.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cordon.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Desafecter_Pager</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Declenchement_possible</name>
        <label>Declenchement possible</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Bypass</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Bypass_flows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cordon</targetReference>
            </connector>
            <label>No Bypass</label>
        </rules>
    </decisions>
    <decisions>
        <name>FoyerPan_contient_pager</name>
        <label>FoyerPan contient pager?</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Oui</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Asset_Du_Foyer</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Foyer_Pan_d_equipement.Referentiel_Panel__r.Type_de_panel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AIP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Desafecter_Foyer_pan</targetReference>
            </connector>
            <label>Oui</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Null</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE(&quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Ass_Desafect_Old_Pager {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Ass_Desafect_Old_Pager</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Asset_Du_Foyer</name>
        <label>Asset_Du_Foyer</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Foyer_Pan_d_equipement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Foyer_paneliste__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Foyer_paneliste__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type_de_materiel__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>34</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>2</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Cordon</name>
        <label>Cordon</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asset_Du_Foyer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cordon</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Foyer_Pan_d_equipement</name>
        <label>Foyer Pan d&apos;equipement</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FoyerPan_contient_pager</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Foyer_paneliste__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Foyer_paneliste__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Desafecter_Pager</name>
        <label>Desafecter Pager</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Update_Nouveau_Pager</targetReference>
        </connector>
        <inputReference>Asset_Du_Foyer</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Nouveau_Pager</name>
        <label>Update Nouveau Pager</label>
        <locationX>50</locationX>
        <locationY>1079</locationY>
        <inputAssignments>
            <field>Date_d_affectation__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Declenchement_possible</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Foyer_paneliste__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Foyer_paneliste__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type_de_materiel__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>34</stringValue>
            </value>
        </filters>
        <object>Asset</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <triggerOrder>2</triggerOrder>
</Flow>
