force-app/main/default/flows/ASS_MAJ_Foyer_et_Ressource_et_Foyer_Paneliste.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>is_Cordon</name>
        <label>is Cordon</label>
        <locationX>224</locationX>
        <locationY>593</locationY>
        <defaultConnector>
            <targetReference>is_Station</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsCordon</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Localisation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Localisation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Bande_Usine__r.Referentiel_Panel__r.Type_de_panel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AIP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Foyer_Cordon</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>IsCordon</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_IMS</name>
        <label>is IMS</label>
        <locationX>21</locationX>
        <locationY>582</locationY>
        <defaultConnector>
            <targetReference>is_Cordon</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsIMS</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Localisation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Localisation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Bande_Usine__r.Referentiel_Panel__r.Type_de_panel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MMT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Bande_Usine__r.Referentiel_Panel__r.Type_de_panel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PAME</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Foyer_IMS</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>IsIMS</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_SAV_MM</name>
        <label>is SAV MM</label>
        <locationX>717</locationX>
        <locationY>600</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isSAVMM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Localisation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SAV_MM_Foyer</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>isSAVMM</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Station</name>
        <label>is Station</label>
        <locationX>411</locationX>
        <locationY>594</locationY>
        <defaultConnector>
            <targetReference>is_SAV_MM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsStation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Localisation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Foyer_Station</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>IsStation</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsByPassed</name>
        <label>IsByPassed</label>
        <locationX>19</locationX>
        <locationY>389</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>bypassFalse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>bypassFlows</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>is_IMS</targetReference>
            </connector>
            <label>bypassFalse</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>ASS MAJ Foyer et Ressource et Foyer Paneliste {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ASS MAJ Foyer et Ressource et Foyer Paneliste</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Foyer_Cordon</name>
        <label>Foyer Cordon</label>
        <locationX>291</locationX>
        <locationY>799</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Asset_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cordon</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Foyer_IMS</name>
        <label>Foyer IMS</label>
        <locationX>29</locationX>
        <locationY>806</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Asset_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IMS</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Foyer_Station</name>
        <label>Foyer Station</label>
        <locationX>538</locationX>
        <locationY>804</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Asset_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Station</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SAV_MM_Foyer</name>
        <label>SAV MM Foyer</label>
        <locationX>888</locationX>
        <locationY>798</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Asset_4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SAV MM</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Asset_1</name>
        <label>Update Asset 1</label>
        <locationX>168</locationX>
        <locationY>806</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Foyer_IMS.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Equipement_du_foyer__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Foyer_paneliste__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Ressource_de_service__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Asset_2</name>
        <label>Update Asset 2</label>
        <locationX>420</locationX>
        <locationY>800</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Foyer_Cordon.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Equipement_du_foyer__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Foyer_paneliste__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Ressource_de_service__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Asset_3</name>
        <label>Update Asset 3</label>
        <locationX>740</locationX>
        <locationY>801</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Localisation__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>2</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Foyer_Station.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Equipement_du_foyer__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Foyer_paneliste__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Asset_4</name>
        <label>Update Asset 4</label>
        <locationX>1026</locationX>
        <locationY>797</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>SAV_MM_Foyer.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Equipement_du_foyer__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Foyer_paneliste__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Ressource_de_service__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>164</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>IsByPassed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Localisation__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Asset</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>bypassFlows</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$User.Bypass_flows__c</elementReference>
        </value>
    </variables>
</Flow>
