force-app/main/default/flows/ASS_Maj_Name.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Check_Type_de_Produit</name>
        <label>Check Type de Produit</label>
        <locationX>446</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Update_Autre_Equipement_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Autre Equipement</defaultConnectorLabel>
        <rules>
            <name>Meter_Id_Audimetre_c</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type_de_materiel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>31</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type_de_materiel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>22</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type_de_materiel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>30</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type_de_materiel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>24</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type_de_materiel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>34</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Name_Equipment_Meter_Id</targetReference>
            </connector>
            <label>Meter Id (Audimetre__c)</label>
        </rules>
        <rules>
            <name>SIM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type_de_materiel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>23</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SIM_Name</targetReference>
            </connector>
            <label>SIM</label>
        </rules>
        <rules>
            <name>Numero_de_serie_SerialNumber</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type_de_materiel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>32</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type_de_materiel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>35</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Name_Equipement_SerialNumber</targetReference>
            </connector>
            <label>Numéro de série (SerialNumber)</label>
        </rules>
    </decisions>
    <decisions>
        <name>COND_IsByPassFlows</name>
        <label>IsByPassFlows</label>
        <locationX>1073</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>byPassFalse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ByPassFlows</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COND_Produit</targetReference>
            </connector>
            <label>byPassFalse</label>
        </rules>
    </decisions>
    <decisions>
        <name>COND_Produit</name>
        <label>Produit ?</label>
        <locationX>776</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>MAJ_Nom_Equipement_sans_produit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Un_produit_est_renseigne</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product2Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Type_de_Produit</targetReference>
            </connector>
            <label>Un produit est renseigné</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DMDComName</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.Product2.Type_de_produit__c}) + &apos; &apos; + {!$Record.Audimetre__c}</expression>
    </formulas>
    <formulas>
        <name>MeterId_Name</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.Product2.Type_de_produit__c}) + &apos; &apos; + {!$Record.Audimetre__c}</expression>
    </formulas>
    <formulas>
        <name>SerialNumber_Name</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.Product2.Type_de_produit__c}) + &apos; &apos; + {!$Record.SerialNumber}</expression>
    </formulas>
    <formulas>
        <name>SimName</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.Product2.Type_de_produit__c}) + &apos; &apos; + {!$Record.Sim_CCID__c}</expression>
    </formulas>
    <interviewLabel>ASS_Maj_Name {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ASS_Maj_Name</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>MAJ_Nom_Equipement_sans_produit</name>
        <label>MAJ Nom Equipement sans produit</label>
        <locationX>1106</locationX>
        <locationY>503</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Equipement sans produit</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Autre_Equipement_Name</name>
        <label>Update Autre Equipement Name</label>
        <locationX>842</locationX>
        <locationY>611</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Autre équipement</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Name_Equipement_SerialNumber</name>
        <label>Update Name Equipement SerialNumber</label>
        <locationX>578</locationX>
        <locationY>611</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>SerialNumber_Name</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Name_Equipment_Meter_Id</name>
        <label>Update Name Equipment Meter Id</label>
        <locationX>50</locationX>
        <locationY>611</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>MeterId_Name</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SIM_Name</name>
        <label>Update SIM Name</label>
        <locationX>314</locationX>
        <locationY>611</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>SimName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>947</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>COND_IsByPassFlows</targetReference>
        </connector>
        <object>Asset</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>ByPassFlows</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$User.Bypass_flows__c</elementReference>
        </value>
    </variables>
</Flow>
