force-app/main/default/flows/ASS_Desupension_foyerPaneliste.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>add_foyer_pan_to_update</name>
        <label>add foyer pan to update</label>
        <locationX>718</locationX>
        <locationY>504</locationY>
        <assignmentItems>
            <assignToReference>FoyerPanToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_foyer_pan</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_foyer_pan</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_desuspension_field_to_false</name>
        <label>set desuspension field to false</label>
        <locationX>654</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>loop_foyer_pan.Suspendu__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop_foyer_pan.Motif_de_suspension__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop_foyer_pan.Date_de_suspension__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>nullDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_foyer_pan_to_update</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>if_Date_de_premi_re_collecte_d_audience_was_empty</name>
        <label>if Date de première collecte d&apos;audience  was empty</label>
        <locationX>584</locationX>
        <locationY>333</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Date_de_premiere_collecte_d_audience__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Date_de_premiere_collecte_d_audience__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>nullDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_related_foyer_pan</targetReference>
            </connector>
            <label>true</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>nullDate</name>
        <dataType>Date</dataType>
        <expression>NULL</expression>
    </formulas>
    <interviewLabel>ASS_Desupension_foyerPaneliste {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ASS_Desupension_foyerPaneliste</label>
    <loops>
        <name>loop_foyer_pan</name>
        <label>loop foyer pan</label>
        <locationX>464</locationX>
        <locationY>532</locationY>
        <collectionReference>get_related_foyer_pan</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>set_desuspension_field_to_false</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_foyer_pan</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_related_foyer_pan</name>
        <label>get related foyer pan</label>
        <locationX>360</locationX>
        <locationY>413</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_foyer_pan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Foyer_paneliste__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Foyer_paneliste__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_foyer_pan</name>
        <label>update foyer pan</label>
        <locationX>456</locationX>
        <locationY>959</locationY>
        <inputReference>FoyerPanToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>330</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>if_Date_de_premi_re_collecte_d_audience_was_empty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Date_de_premiere_collecte_d_audience__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Asset</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>FoyerPanToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Foyer_paneliste__c</objectType>
    </variables>
</Flow>
