force-app/main/default/flows/Avaya_Creation_de_requete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Declenchement_possible</name>
        <label>Déclenchement possible ?</label>
        <locationX>421</locationX>
        <locationY>69</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Possible</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>bypassFlows</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ani</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtenu_par_telephone_fixe</targetReference>
            </connector>
            <label>Possible</label>
        </rules>
    </decisions>
    <decisions>
        <name>Requete_en_cours</name>
        <label>Requête en cours ?</label>
        <locationX>788</locationX>
        <locationY>314</locationY>
        <defaultConnector>
            <targetReference>Type_de_Panel</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>En_cours</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Requetes_du_foyer</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ecran_foyer_avec_requetes</targetReference>
            </connector>
            <label>En cours</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_de_Panel</name>
        <label>Type de Panel</label>
        <locationX>628</locationX>
        <locationY>380</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>MMT_PaME</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetFoyerPan.Referentiel_Panel__r.Type_de_panel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MMT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetFoyerPan.Referentiel_Panel__r.Type_de_panel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PAME</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Nouvelle_requete_MMT_PaME</targetReference>
            </connector>
            <label>MMT/ PaME</label>
        </rules>
        <rules>
            <name>AIP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetFoyerPan.Referentiel_Panel__r.Type_de_panel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AIP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_RecordType_Demande_Paneliste_AIP</targetReference>
            </connector>
            <label>AIP</label>
        </rules>
    </decisions>
    <description>+ modifications des liens dans le cadre du MEDIAMETRIE-726</description>
    <environments>Default</environments>
    <formulas>
        <name>bypassFlows</name>
        <dataType>Boolean</dataType>
        <expression>{!$User.Bypass_flows__c}</expression>
    </formulas>
    <formulas>
        <name>objectLink</name>
        <dataType>String</dataType>
        <expression>{!$Label.Lien_organisation_objet}</expression>
    </formulas>
    <formulas>
        <name>statutRequeteEnCours</name>
        <dataType>String</dataType>
        <expression>{!$Label.CAS_Statut_En_cours}</expression>
    </formulas>
    <formulas>
        <name>statutRequeteNouveau</name>
        <dataType>String</dataType>
        <expression>{!$Label.CAS_Statut_Nouveau}</expression>
    </formulas>
    <interviewLabel>Avaya Création de requête {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Avaya Création de requête</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Nouvelle_Requete_AIP</name>
        <label>Nouvelle Requête AIP</label>
        <locationX>407</locationX>
        <locationY>538</locationY>
        <assignRecordIdToReference>requete.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Ecran_foyer_nouvelle_requete</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>foyer.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Foyer_paneliste__c</field>
            <value>
                <elementReference>GetFoyerPan.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Appel Entrant</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_RecordType_Demande_Paneliste_AIP.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>statutRequeteNouveau</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Nouvelle_requete_MMT_PaME</name>
        <label>Nouvelle requête MMT/PaME</label>
        <locationX>405</locationX>
        <locationY>338</locationY>
        <assignRecordIdToReference>requete.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Ecran_foyer_nouvelle_requete</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>foyer.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Foyer_paneliste__c</field>
            <value>
                <elementReference>GetFoyerPan.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Appel Entrant</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>statutRequeteNouveau</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Get_RecordType_Demande_Paneliste_AIP</name>
        <label>Get RecordType Demande Panéliste AIP</label>
        <locationX>660</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Nouvelle_Requete_AIP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.CAS_Recordtype_DemandePanelisteAIP</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetFoyerPan</name>
        <label>GetFoyerPan</label>
        <locationX>907</locationX>
        <locationY>204</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Requete_en_cours</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Foyer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>foyer.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Foyer_paneliste__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Foyer récupéré grâce au téléphone fixe</description>
        <name>Obtenu_par_telephone_fixe</name>
        <label>Obtenu par téléphone fixe</label>
        <locationX>579</locationX>
        <locationY>67</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Requetes_du_foyer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AVAYA_3_phones__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>ani</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>foyer</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Requetes_du_foyer</name>
        <label>Requêtes du foyer</label>
        <locationX>736</locationX>
        <locationY>67</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetFoyerPan</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>foyer.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Origin</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Appel Entrant</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>statutRequeteNouveau</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>statutRequeteEnCours</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Ecran_foyer_avec_requetes</name>
        <label>Ecran foyer avec requêtes</label>
        <locationX>173</locationX>
        <locationY>198</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Affichage_foyer_avec_requete</name>
            <fieldText>&lt;p&gt;{!foyerRequetes}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>closecomp</name>
            <extensionName>c:flow_finish</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Ecran_foyer_nouvelle_requete</name>
        <label>Ecran foyer nouvelle requête</label>
        <locationX>127</locationX>
        <locationY>321</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Lien_foyer_nouvelle_requete</name>
            <fieldText>&lt;p&gt;{!foyerNouvelleRequete}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>close</name>
            <extensionName>c:flow_finish</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Declenchement_possible</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>foyerNouvelleRequete</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Comme le foyer &lt;a href=&quot;https://mediametrie.lightning.force.com/lightning/r/Account/{!foyer.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;b&gt;{!foyer.Name}&lt;/b&gt;&lt;/a&gt; n&apos;avait pas de requête ouverte, une &lt;a href=&quot;{!$Label.Lien_organisation_objet}Case/{!requete.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;nouvelle requête&lt;/a&gt; a été crée&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>foyerRequetes</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Le foyer &lt;a href=&quot;https://mediametrie.lightning.force.com/lightning/r/Account/{!foyer.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;b&gt;{!foyer.Name}&lt;/b&gt;&lt;/a&gt; a déjà une ou des requêtes ouvertes.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <description>Numéro de téléphone de la personne qui appelle fournit par le softphone Avaya</description>
        <name>ani</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>foyer</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>requete</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
