force-app/main/default/flows/Avaya_RechercheFoyer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Attribution_Nom_Foyer</name>
        <label>Attribution Nom Foyer</label>
        <locationX>138</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>nomFoyer</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pour_chaque_foyer.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>idFoyer</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pour_chaque_foyer.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remplissage_liste_lien</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remplissage_liste_lien</name>
        <label>Remplissage liste lien</label>
        <locationX>138</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>lienFoyerTexte</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lienFoyer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lienFoyerListe</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>lienFoyerTexte</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Pour_chaque_foyer</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Declenchement_possible</name>
        <label>Déclenchement possible ?</label>
        <locationX>380</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Possible</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>bypassFlows</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ecran_de_recherche</targetReference>
            </connector>
            <label>Possible</label>
        </rules>
    </decisions>
    <decisions>
        <name>FoyerRecherche</name>
        <label>FoyerRecherche</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>FoyerIntrouvable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Introuvable</defaultConnectorLabel>
        <rules>
            <name>Trouve</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Foyers</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pour_chaque_foyer</targetReference>
            </connector>
            <label>Trouve</label>
        </rules>
    </decisions>
    <description>Ecran de recherche si aucun foyer n&apos;a été trouvé</description>
    <formulas>
        <name>bypassFlows</name>
        <dataType>Boolean</dataType>
        <expression>{!$User.Bypass_flows__c}</expression>
    </formulas>
    <formulas>
        <name>objectLink</name>
        <dataType>String</dataType>
        <expression>{!$Label.Lien_organisation_objet}</expression>
    </formulas>
    <interviewLabel>Avaya_RechercheFoyer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Avaya Recherche Foyer</label>
    <loops>
        <name>Pour_chaque_foyer</name>
        <label>Pour chaque foyer</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <collectionReference>Foyers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Attribution_Nom_Foyer</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Foyers_correspondants_ecran</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Foyers</name>
        <label>Foyers</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FoyerRecherche</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Nom_de_famille__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Saisissez_votre_recherche</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Saisissez_votre_recherche</elementReference>
            </value>
        </filters>
        <filters>
            <field>Adresse_e_mail_principale__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Saisissez_votre_recherche</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Nom_de_famille__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Ecran_de_recherche</name>
        <label>Ecran de recherche</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Foyers</targetReference>
        </connector>
        <fields>
            <name>Saisissez_votre_recherche</name>
            <dataType>String</dataType>
            <fieldText>Saisissez votre recherche</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(208, 0, 0);&quot;&gt;Veuillez saisir au moins 3 caractères alphanumériques&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!Saisissez_votre_recherche}, &quot;[A-zÀ-ÿ*\\d]{3,}&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>FoyerIntrouvable</name>
        <label>Foyer introuvable</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>AncunFoyer</name>
            <fieldText>&lt;p&gt;Aucun foyer ne correspond à votre recherche.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Foyers_correspondants_ecran</name>
        <label>Foyers correspondants</label>
        <locationX>50</locationX>
        <locationY>1094</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>foyerTrouve</name>
            <fieldText>&lt;p&gt;Un ou des foyers correspondent à votre recherche :&lt;/p&gt;&lt;p&gt;{!lienFoyerListe}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Declenchement_possible</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>lienFoyer</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;span&gt;&lt;a href=&quot;/{!idFoyer}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!nomFoyer}&lt;/a&gt;&lt;/span&gt;</text>
    </textTemplates>
    <variables>
        <name>idFoyer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lienFoyerListe</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lienFoyerTexte</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>nomFoyer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
