force-app/main/default/flows/BATCH_SA_MAJ_InteventionStock.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>AssignerValeur</name>
        <label>AssignerValeur</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>$Record.SchedStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SchedEndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.EarliestStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>JourAvant</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DueDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>JourApres</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UR_Record</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>JourApres</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}+1</expression>
    </formulas>
    <formulas>
        <name>JourAvant</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}-1</expression>
    </formulas>
    <interviewLabel>BATCH_SA_MAJ_InteventionStock {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BATCH_SA_MAJ_InteventionStock</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UR_Record</name>
        <label>UR_Record</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>AssignerValeur</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Intervention gestion des stocks</stringValue>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-01-13</startDate>
            <startTime>02:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
