force-app/main/default/flows/BU_Chargement_Bande_Usine.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>AP_ParsingXML</name>
        <label>AP_ParsingXML</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <actionName>BandeUsineXMLController</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>bandeUsineId</name>
            <value>
                <elementReference>BandeUsineId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BandeUsineXMLController</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <dynamicChoiceSets>
        <name>ListeReferentielPanel</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Referentiel_Panel__c</object>
        <outputAssignments>
            <assignToReference>IdRefPanel</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SFPL_Localisation</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Localisation__c</picklistField>
        <picklistObject>Bande_Usine__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SFPL_TypeMateriel</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type_de_materiel__c</picklistField>
        <picklistObject>Bande_Usine__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>FOR_Nom_Bande_Usine</name>
        <dataType>String</dataType>
        <expression>&quot;Bande_Usine_&quot; &amp; Text(TODAY()) &amp;  &quot;_&quot; &amp; Text(NOW())</expression>
    </formulas>
    <interviewLabel>BU_Chargement_Bande_Usine {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BU_Chargement_Bande_Usine</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CRE_Creation_BU</name>
        <label>Création BU</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignRecordIdToReference>BandeUsineId</assignRecordIdToReference>
        <connector>
            <targetReference>SF_Chargement_de_la_Bande_Usine_Import</targetReference>
        </connector>
        <inputAssignments>
            <field>Duree_de_la_garantie__c</field>
            <value>
                <elementReference>NUM_Duree_de_la_garantie</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Localisation__c</field>
            <value>
                <elementReference>Localisation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>FOR_Nom_Bande_Usine</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referentiel_Panel__c</field>
            <value>
                <elementReference>IdRefPanel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_de_materiel__c</field>
            <value>
                <elementReference>Type_de_materiel</elementReference>
            </value>
        </inputAssignments>
        <object>Bande_Usine__c</object>
    </recordCreates>
    <screens>
        <name>SF_Chargement_de_la_Bande_Usine_Import</name>
        <label>Chargement de la Bande Usine</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AP_ParsingXML</targetReference>
        </connector>
        <fields>
            <name>SFTE_Titre_2</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Chargement de la Bande Usine&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SFFU_Bande_Usine_0</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>FU_Nom</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.xml</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>BandeUsineId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SF_Chargement_de_la_Bande_Usine_Info</name>
        <label>Chargement de la Bande Usine</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CRE_Creation_BU</targetReference>
        </connector>
        <fields>
            <name>SFTE_Titre_1</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Chargement de la Bande Usine&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Type_de_panel</name>
            <choiceReferences>ListeReferentielPanel</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type de panel</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Localisation</name>
            <choiceReferences>SFPL_Localisation</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Localisation</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Type_de_materiel</name>
            <choiceReferences>SFPL_TypeMateriel</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type de matériel</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>NUM_Duree_de_la_garantie</name>
            <dataType>Number</dataType>
            <fieldText>Durée de la garantie</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <nextOrFinishButtonLabel>Suivant</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SF_Chargement_de_la_Bande_Usine_Info</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>BandeUsineId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FU_Nom</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Chargement du fichier la bande Usine</stringValue>
        </value>
    </variables>
    <variables>
        <name>IdRefPanel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
