force-app/main/default/flows/CAS_Email_Web_To_Case_Foyer_Paneliste.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>ASS_By_Bass</name>
        <label>By Bass ?</label>
        <locationX>1749</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Bypass_flows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASS_Type_MMAT_ou_PaME</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>ASS_Type_MMAT_ou_PaME</name>
        <label>Type MMAT ou PaME</label>
        <locationX>1073</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Have_Foyer_Contact_EmailEntrant</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>MMAT</name>
            <conditionLogic>1 OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email MMAT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Foyer_paneliste__r.Referentiel_Panel__r.Type_de_panel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MMT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_Referentiel_Panel_MMAT</targetReference>
            </connector>
            <label>MMAT</label>
        </rules>
        <rules>
            <name>PaME</name>
            <conditionLogic>1 OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email PaME</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Foyer_paneliste__r.Referentiel_Panel__r.Type_de_panel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PAME</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_Referentiel_Panel_PaME</targetReference>
            </connector>
            <label>PaME</label>
        </rules>
        <rules>
            <name>AIP</name>
            <conditionLogic>1 OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email AIP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Foyer_paneliste__r.Referentiel_Panel__r.Type_de_panel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AIP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Referentiel_Panel_AIP</targetReference>
            </connector>
            <label>AIP</label>
        </rules>
    </decisions>
    <decisions>
        <name>foyerPanelistePameFound</name>
        <label>foyerPanelistePameFound</label>
        <locationX>710</locationX>
        <locationY>815</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>fp_PAME</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_Recuperation_Foyer_Paneliste_PaME.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UPD_MaJ_Origine_Requete_FoyerPaneliste_PaME</targetReference>
            </connector>
            <label>fp-PAME</label>
        </rules>
    </decisions>
    <decisions>
        <name>FP</name>
        <label>FP</label>
        <locationX>1766</locationX>
        <locationY>935</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>foyerPan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_FP.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Requete</targetReference>
            </connector>
            <label>foyerPan</label>
        </rules>
    </decisions>
    <decisions>
        <name>FP_AIP_Found</name>
        <label>FP_AIP_Found</label>
        <locationX>1238</locationX>
        <locationY>815</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>fp_Aip</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recuperation_Foyer_Paneliste_AIP.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MAJ_Origine_Requete_Foyer_paneliste_PaME</targetReference>
            </connector>
            <label>fp-Aip</label>
        </rules>
    </decisions>
    <decisions>
        <name>fp_MMAT_found</name>
        <label>fp-MMAT found</label>
        <locationX>182</locationX>
        <locationY>815</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yesMMT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_Recuperation_Foyer_Paneliste_MMAT.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UPD_MaJ_Origine_Requete_FoyerPaneliste_MMAT</targetReference>
            </connector>
            <label>yesMMT</label>
        </rules>
    </decisions>
    <decisions>
        <name>Have_Foyer_Contact_EmailEntrant</name>
        <label>Have Foyer/Contact/EmailEntrant</label>
        <locationX>1964</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Have_F_Cont</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email entrant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Foyer</targetReference>
            </connector>
            <label>Have F/Cont/EmailEntrant</label>
        </rules>
    </decisions>
    <description>ajout de Email entrant</description>
    <environments>Default</environments>
    <interviewLabel>CAS_Email_Web_To_Case_Foyer_Paneliste {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CAS_Email_Web_To_Case_Foyer_Paneliste</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Foyer</name>
        <label>Get Foyer</label>
        <locationX>1766</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GET_FP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_FP</name>
        <label>GET FP</label>
        <locationX>1766</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FP</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Foyer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Foyer.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Foyer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Foyer_paneliste__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_Recuperation_Foyer_Paneliste_MMAT</name>
        <label>Récupération Foyer Panéliste MMAT</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>fp_MMAT_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Foyer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Referentiel_Panel__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_Referentiel_Panel_MMAT.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Foyer_paneliste__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_Recuperation_Foyer_Paneliste_PaME</name>
        <label>Récupération Foyer Panéliste PaME</label>
        <locationX>710</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>foyerPanelistePameFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Foyer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Referentiel_Panel__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_Referentiel_Panel_PaME.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Foyer_paneliste__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_Referentiel_Panel_MMAT</name>
        <label>Référentiel Panel MMAT</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GET_Recuperation_Foyer_Paneliste_MMAT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type_de_panel__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MMT</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Referentiel_Panel__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_Referentiel_Panel_PaME</name>
        <label>Référentiel Panel PaME</label>
        <locationX>710</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GET_Recuperation_Foyer_Paneliste_PaME</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type_de_panel__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PAME</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Referentiel_Panel__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperation_Foyer_Paneliste_AIP</name>
        <label>Récupération Foyer Panéliste AIP</label>
        <locationX>1238</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FP_AIP_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Foyer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Referentiel_Panel__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Referentiel_Panel_AIP.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Foyer_paneliste__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Referentiel_Panel_AIP</name>
        <label>Référentiel Panel AIP</label>
        <locationX>1238</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recuperation_Foyer_Paneliste_AIP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type_de_panel__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AIP</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Referentiel_Panel__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>MAJ_Origine_Requete_Foyer_paneliste_PaME</name>
        <label>MàJ Origine Requête/ Foyer panéliste AIP</label>
        <locationX>1106</locationX>
        <locationY>935</locationY>
        <inputAssignments>
            <field>Foyer_paneliste__c</field>
            <value>
                <elementReference>Recuperation_Foyer_Paneliste_AIP.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Email entrant</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UPD_MaJ_Origine_Requete_FoyerPaneliste_MMAT</name>
        <label>MàJ Origine Requête/ Foyer panéliste MMAT</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <inputAssignments>
            <field>Foyer_paneliste__c</field>
            <value>
                <elementReference>GET_Recuperation_Foyer_Paneliste_MMAT.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Email entrant</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UPD_MaJ_Origine_Requete_FoyerPaneliste_PaME</name>
        <label>MàJ Origine Requête/ Foyer panéliste PaME</label>
        <locationX>578</locationX>
        <locationY>935</locationY>
        <inputAssignments>
            <field>Foyer_paneliste__c</field>
            <value>
                <elementReference>GET_Recuperation_Foyer_Paneliste_PaME.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Email entrant</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_Requete</name>
        <label>update Requete</label>
        <locationX>1634</locationX>
        <locationY>1055</locationY>
        <inputAssignments>
            <field>Foyer_paneliste__c</field>
            <value>
                <elementReference>GET_FP.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Email entrant</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1623</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ASS_By_Bass</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3 OR 4 OR 5) AND 6</filterLogic>
        <filters>
            <field>Origin</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Email PaME</stringValue>
            </value>
        </filters>
        <filters>
            <field>Origin</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Email MMAT</stringValue>
            </value>
        </filters>
        <filters>
            <field>Origin</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </filters>
        <filters>
            <field>Origin</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Email AIP</stringValue>
            </value>
        </filters>
        <filters>
            <field>Origin</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Email entrant</stringValue>
            </value>
        </filters>
        <filters>
            <field>Foyer_paneliste__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
