force-app/main/default/flows/CON_Update_Contact_Principal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Update_Contact_Principal_True</name>
        <label>Update Contact Principal True</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>getRelatedAccount.Contact_principal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Changement_Nom_Foyer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Name</name>
        <label>Update Name</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>getRelatedAccount.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LastName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateRelatedAccount</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Changement_Nom_Foyer</name>
        <label>Changement Nom Foyer</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>updateRelatedAccount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>MMT_PaME</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>getRelatedAccount.Types_de_Panel__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Label.RFP_TypePanel_MMAT</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getRelatedAccount.Types_de_Panel__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Label.RFP_TypePanel_PaME</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Name</targetReference>
            </connector>
            <label>MMT/PaME</label>
        </rules>
    </decisions>
    <decisions>
        <name>COND_By_Pass</name>
        <label>By Pass ?</label>
        <locationX>336</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Bypass_flows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getRelatedAccount</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CON_Update_Contact_Principal {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CON_Update_Contact_Principal</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getRelatedAccount</name>
        <label>getRelatedAccount</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Contact_Principal_True</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>MaJ_Old_Contact_Principal</name>
        <label>MaJ Old Contact Principal</label>
        <locationX>182</locationX>
        <locationY>1151</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact_principal__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contact_principal__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateRelatedAccount</name>
        <label>updateRelatedAccount</label>
        <locationX>182</locationX>
        <locationY>1031</locationY>
        <connector>
            <targetReference>MaJ_Old_Contact_Principal</targetReference>
        </connector>
        <inputReference>getRelatedAccount</inputReference>
    </recordUpdates>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>COND_By_Pass</targetReference>
        </connector>
        <filterFormula>((ISCHANGED({!$Record.Contact_principal__c}) &amp;&amp; {!$Record.Contact_principal__c} = true) || (ISNEW() &amp;&amp; {!$Record.Contact_principal__c} = true))</filterFormula>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
