force-app/main/default/flows/CON_Quitter_foyer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Connect_To_AP01</name>
        <label>Connect To AP01</label>
        <locationX>710</locationX>
        <locationY>1574</locationY>
        <actionName>AP01_MembreDuFoyer</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ASS_Suppression_Foyer</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>listContactIds</name>
            <value>
                <elementReference>GET_Composition_du_foyer.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AP01_MembreDuFoyer</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>ASS_Nombre_de_personne</name>
        <label>Nombre de personne</label>
        <locationX>512</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>NombreCompositionFoyer</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>CompositionDuFoyerList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Plus_qu_un_paneliste</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS_Suppression_Foyer</name>
        <label>Suppression Foyer</label>
        <locationX>710</locationX>
        <locationY>1694</locationY>
        <assignmentItems>
            <assignToReference>GET_Composition_du_foyer.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GET_Composition_du_foyer.Date_de_suppression__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Composition_du_Foyer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>List_M_J_Individu_Pan_liste</name>
        <label>List MàJ Individu Panéliste</label>
        <locationX>798</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>IndividusPanelisteToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FOR_Chuter_tous_les_Individus_Paneliste</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FOR_Chuter_tous_les_Individus_Paneliste</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Individus_Paneliste</name>
        <label>Update Individus Panéliste</label>
        <locationX>798</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>FOR_Chuter_tous_les_Individus_Paneliste.Date_de_chute_de_l_individu__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>List_M_J_Individu_Pan_liste</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>By_Pass</name>
        <label>By Pass ?</label>
        <locationX>825</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Bypass_flows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_Composition_du_foyer</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Callout</name>
        <label>Check Callout</label>
        <locationX>710</locationX>
        <locationY>2174</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Successful</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Connect_To_AP01.responseStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Success_Screen</targetReference>
            </connector>
            <label>Successful</label>
        </rules>
    </decisions>
    <decisions>
        <name>COND_Contact_Principal</name>
        <label>Contact Principal ?</label>
        <locationX>281</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>GET_All_Nombre_Composition_du_foyer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non</defaultConnectorLabel>
        <rules>
            <name>Oui</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GET_Composition_du_foyer.Contact_principal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GET_Composition_du_foyer.Personne_de_Reference__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Erreur_Contact_Principal</targetReference>
            </connector>
            <label>Oui</label>
        </rules>
    </decisions>
    <decisions>
        <name>Plus_qu_un_paneliste</name>
        <label>Plus qu&apos;un panéliste</label>
        <locationX>512</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Confirmation_depart</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Plus_qu_un</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NombreCompositionFoyer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GET_Composition_du_foyer.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Erreur_Plus_qu_un_individu_paneliste</targetReference>
            </connector>
            <label>Plus qu&apos;un</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <label>CON_Quitter_foyer</label>
    <loops>
        <name>FOR_Chuter_tous_les_Individus_Paneliste</name>
        <label>Chuter tous les Individus Panéliste</label>
        <locationX>710</locationX>
        <locationY>1118</locationY>
        <collectionReference>GET_Individu_Paneliste</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Individus_Paneliste</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Connect_To_AP01</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GET_All_Nombre_Composition_du_foyer</name>
        <label>All Nombre Composition du foyer</label>
        <locationX>512</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ASS_Nombre_de_personne</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_Composition_du_foyer.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>CompositionDuFoyerList</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GET_Composition_du_foyer</name>
        <label>Composition du foyer</label>
        <locationX>281</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>COND_Contact_Principal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_Individu_Paneliste</name>
        <label>Récupération Individu Panéliste</label>
        <locationX>710</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FOR_Chuter_tous_les_Individus_Paneliste</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Composition_du_foyer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_Composition_du_foyer.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Individu_Paneliste__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Composition_du_Foyer</name>
        <label>Update Composition du Foyer</label>
        <locationX>710</locationX>
        <locationY>1814</locationY>
        <connector>
            <targetReference>Update_Individu_Paneliste</targetReference>
        </connector>
        <inputReference>GET_Composition_du_foyer</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Individu_Paneliste</name>
        <label>Update Individu Paneliste</label>
        <locationX>710</locationX>
        <locationY>1934</locationY>
        <connector>
            <targetReference>Validation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Erreur</targetReference>
        </faultConnector>
        <inputReference>IndividusPanelisteToUpdate</inputReference>
    </recordUpdates>
    <screens>
        <name>Confirmation_depart</name>
        <label>Confirmation départ</label>
        <locationX>710</locationX>
        <locationY>878</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GET_Individu_Paneliste</targetReference>
        </connector>
        <fields>
            <name>TXT_Confirmaiton_depart</name>
            <fieldText>&lt;p&gt;Etes-vous sur de vouloir faire quitter le foyer à cet individu ?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Oui</nextOrFinishButtonLabel>
        <pauseButtonLabel>Non</pauseButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Erreur</name>
        <label>Erreur</label>
        <locationX>1106</locationX>
        <locationY>2054</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TXT_Erreur</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Erreur_Contact_Principal</name>
        <label>Erreur Contact Principal</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TXT_Erreur_Contact_Principal</name>
            <fieldText>&lt;p&gt;Le panéliste ne peut pas quitter le foyer car il est le contact principale ou la personne de référence du foyer.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Erreur_Plus_qu_un_individu_paneliste</name>
        <label>Erreur Plus qu&apos;un individu panéliste</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TXT_Erreur_Plus_qu_un_individu_paneliste</name>
            <fieldText>&lt;p&gt;Le panéliste ne peut pas quitter le foyer car il est le dernier panéliste d&apos;un des panels du foyer.&lt;/p&gt;&lt;p&gt;Pour qu&apos;il puisse quitter le foyer il faut chuter le foyer panéliste aux quel il est lié.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>842</locationX>
        <locationY>2294</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_message</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!$Label.FLW_MAJ_SIPanel_ErreurMAJ} : &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Label.FLW_MAJ_SIPanel_ErreurMAJ_Text}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!$Label.FLW_MAJ_SIPanel_ErrorCode}&lt;/strong&gt; : {!Connect_To_AP01.responseStatusCode}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 12px;&quot;&gt;{!$Label.FLW_MAJ_SIPanel_ErrorStatus}&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 12px;&quot;&gt; : &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Connect_To_AP01.responseStatus}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>578</locationX>
        <locationY>2294</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Display</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;{!$Label.FLW_MAJ_SIPanel_MAJReussie}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;{!$Label.FLW_MAJ_SIPanel_MAJReussie_Contact}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Validation</name>
        <label>Validation</label>
        <locationX>710</locationX>
        <locationY>2054</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Callout</targetReference>
        </connector>
        <fields>
            <name>TXT_Validation</name>
            <fieldText>&lt;p&gt;Le panéliste a bien quitté le foyer.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>699</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>By_Pass</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CompositionDuFoyerList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>IndividusPanelisteToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Individu_Paneliste__c</objectType>
    </variables>
    <variables>
        <name>NombreCompositionFoyer</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
