force-app/main/default/flows/CON_Dissociation_Foyer_Composition_Foyer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>ASS_Nombre_Individu_Pan_liste</name>
        <label>Nombre Individu Panéliste</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Nombre_Individu_Panelsite_Non_Chute</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>EnregistrementIndividuPanelsite</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Dissocier_Foyer_Composition_du_foyer</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Chute_Individu_panelsite_AIP</name>
        <label>Chute Individu panélsite AIP</label>
        <locationX>182</locationX>
        <locationY>1151</locationY>
        <defaultConnectorLabel>Non AIP</defaultConnectorLabel>
        <rules>
            <name>AIP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Label.RFP_TypePanel_AIP</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MaJ_Composition_Du_Foyer_Non_Paneliste_AIP</targetReference>
            </connector>
            <label>AIP</label>
        </rules>
    </decisions>
    <decisions>
        <name>COND_By_Pass</name>
        <label>By Pass ?</label>
        <locationX>336</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Bypass_flows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_Recuperation_individu_paneliste_de_la_composition_du_foyer</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dissocier_Foyer_Composition_du_foyer</name>
        <label>Dissocier Foyer/Composition du foyer</label>
        <locationX>182</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>Chute_Individu_panelsite_AIP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Aucun_individu_Panelsite</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Nombre_Individu_Panelsite_Non_Chute</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MaJ_Composition_du_Foyer</targetReference>
            </connector>
            <label>Aucun individu Panélsite</label>
        </rules>
    </decisions>
    <description>Dissocier le foyer de la composition du foyer lorsque tous les individu panéliste de la composition du foyer sont chutés</description>
    <environments>Default</environments>
    <interviewLabel>CON_Dissociation_Foyer_Composition_Foyer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CON_Dissociation_Foyer_Composition_Foyer</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GET_Recuperation_foyer</name>
        <label>Récupération foyer</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ASS_Nombre_Individu_Pan_liste</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Composition_du_foyer__r.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_Recuperation_individu_paneliste_de_la_composition_du_foyer</name>
        <label>Récupération individu panéliste de la composition du foyer</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GET_Recuperation_foyer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Composition_du_foyer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Composition_du_foyer__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Date_de_chute_de_l_individu__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Individu_Paneliste__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>MaJ_Composition_du_Foyer</name>
        <label>MàJ Composition du Foyer</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Chute_Individu_panelsite_AIP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Composition_du_foyer__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>MaJ_Composition_Du_Foyer_Non_Paneliste_AIP</name>
        <label>MàJ Composition du Foyer Non Panéliste AIP</label>
        <locationX>50</locationX>
        <locationY>1271</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_Recuperation_foyer.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>2</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>COND_By_Pass</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Date_de_chute_de_l_individu__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Foyer_paneliste__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Individu_Paneliste__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>EnregistrementIndividuPanelsite</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Individu_Paneliste__c</objectType>
    </variables>
    <variables>
        <name>Nombre_Individu_Panelsite_Non_Chute</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
