force-app/main/default/flows/CON_Nommage_Foyer_AIP.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>update_name</name>
        <label>update name</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>GET_FOYER.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LastName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_foyer</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>if_foyer_aip</name>
        <label>if foyer aip</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>if_foyer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_FOYER.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_name</targetReference>
            </connector>
            <label>if foyer</label>
        </rules>
    </decisions>
    <decisions>
        <name>IfBypassFlow</name>
        <label>IfBypassFlow</label>
        <locationX>380</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>ByPassFlowFalse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ByPassFlows</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_FOYER</targetReference>
            </connector>
            <label>ByPassFlowFalse</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CON_Nommage_Foyer_AIP {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CON_Nommage_Foyer_AIP</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GET_FOYER</name>
        <label>GET FOYER</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>if_foyer_aip</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Types_de_Panel__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AIP</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_foyer</name>
        <label>update foyer</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <inputReference>GET_FOYER</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IfBypassFlow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>ByPassFlows</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$User.Bypass_flows__c</elementReference>
        </value>
    </variables>
</Flow>
