force-app/main/default/flows/CON_UpdateIndivPanName.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>SetIndivPaneliste_Name</name>
        <label>SetIndivPaneliste Name</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>Get_Indiv_Paneliste.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IndPanNom</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IdPanUpdate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetIndivPaneliste_Name_affichage</name>
        <label>SetIndivPaneliste Name affichage</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>Get_Indiv_Paneliste.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IndPanNomAffichage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IdPanUpdateAfffichage</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>fp rempli sur indiv paneliste</description>
        <name>Foyer_Pan_liste_Rempli</name>
        <label>Foyer Panéliste Rempli</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>SetIndivPaneliste_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>foyerPanIndivPan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Indiv_Paneliste.Foyer_paneliste_Affichage__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetIndivPaneliste_Name_affichage</targetReference>
            </connector>
            <label>foyerPanIndivPan</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Indiv_Paneliste</name>
        <label>Has Indiv Paneliste</label>
        <locationX>380</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IndivPaneliste</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Indiv_Paneliste.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Foyer_Pan_liste_Rempli</targetReference>
            </connector>
            <label>IndivPaneliste</label>
        </rules>
    </decisions>
    <decisions>
        <name>isByPassed</name>
        <label>isByPassed</label>
        <locationX>611</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>bypassFalse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Bypass_flows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Indiv_Paneliste</targetReference>
            </connector>
            <label>bypassFalse</label>
        </rules>
    </decisions>
    <description>update individu paneliste name when contact name is updated</description>
    <environments>Default</environments>
    <formulas>
        <name>IndPanNom</name>
        <dataType>String</dataType>
        <expression>{!$Record.FirstName}+ &quot; &quot;+{!$Record.LastName} +&quot; &quot; + TEXT({!Get_Indiv_Paneliste.Foyer_paneliste__r.Referentiel_Panel__r.Type_de_panel__c})</expression>
    </formulas>
    <formulas>
        <name>IndPanNomAffichage</name>
        <dataType>String</dataType>
        <expression>{!$Record.FirstName}+ &quot; &quot;+{!$Record.LastName} +&quot; &quot; + TEXT({!Get_Indiv_Paneliste.Foyer_paneliste_Affichage__r.Referentiel_Panel__r.Type_de_panel__c})</expression>
    </formulas>
    <interviewLabel>CON_UpdateIndivPanName {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CON_UpdateIndivPanName</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Indiv_Paneliste</name>
        <label>Get Indiv Paneliste</label>
        <locationX>380</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Indiv_Paneliste</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Composition_du_foyer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Individu_Paneliste__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>IdPanUpdate</name>
        <label>IdPanUpdate</label>
        <locationX>314</locationX>
        <locationY>935</locationY>
        <inputReference>Get_Indiv_Paneliste</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>IdPanUpdateAfffichage</name>
        <label>IdPanUpdateAfffichage</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <inputReference>Get_Indiv_Paneliste</inputReference>
    </recordUpdates>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>isByPassed</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
