force-app/main/default/flows/CONV_Nom_Convention.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>By_Pass</name>
        <label>By Pass ?</label>
        <locationX>776</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Bypass_flows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Type_De_Convention</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_De_Convention</name>
        <label>Type De Convention</label>
        <locationX>446</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Foyer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Referentiel_convention__r.Type_de_la_convention__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Nom_Foyer</targetReference>
            </connector>
            <label>Foyer</label>
        </rules>
        <rules>
            <name>Individu</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Referentiel_convention__r.Type_de_la_convention__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Nom_Individu</targetReference>
            </connector>
            <label>Individu</label>
        </rules>
        <rules>
            <name>Routeur</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Referentiel_convention__r.Type_de_la_convention__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Nom_Routeur</targetReference>
            </connector>
            <label>Routeur</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Nom_Foyer</name>
        <dataType>String</dataType>
        <expression>&apos;Convention Foyer &apos; + {!$Record.Foyer_paneliste__r.Foyer__r.Name} + &apos; &apos; + TEXT({!$Record.Referentiel_convention__r.Referentiel_Panel__r.Type_de_panel__c})</expression>
    </formulas>
    <formulas>
        <name>Nom_Individu</name>
        <dataType>String</dataType>
        <expression>&apos;Convention Individu &apos; +{!$Record.Individu_Paneliste__r.Name}</expression>
    </formulas>
    <formulas>
        <name>Nom_Routeur</name>
        <dataType>String</dataType>
        <expression>&apos;Convention Routeur &apos; + {!$Record.Foyer_paneliste__r.Foyer__r.Name} + &apos; &apos; + TEXT({!$Record.Referentiel_convention__r.Referentiel_Panel__r.Type_de_panel__c})</expression>
    </formulas>
    <interviewLabel>CONV_Nom_Convention {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CONV_Nom_Convention</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Nom_Foyer</name>
        <label>Update Nom Foyer</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Nom_Foyer</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Nom_Individu</name>
        <label>Update Nom Individu</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Nom_Individu</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Nom_Routeur</name>
        <label>Update Nom Routeur</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Nom_Routeur</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>By_Pass</targetReference>
        </connector>
        <object>Convention__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
