force-app/main/default/flows/Creation_requete_welcome_call.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>fillRequeteToInsert</name>
        <label>fillRequeteToInsert</label>
        <locationX>199</locationX>
        <locationY>864</locationY>
        <assignmentItems>
            <assignToReference>requeteToInsert.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Foyer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requeteToInsert.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Recruté</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requeteToInsert.Sous_type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Welcome Call</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requeteToInsert.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordTypeIdDemandePanelAIP</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>insertRequete</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>recordTypeIdAIP</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0121X000002wRVYQA2</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_if_convention_signed</name>
        <label>Check if convention signed</label>
        <locationX>190</locationX>
        <locationY>616</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Convention_signed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getConvention.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>fillRequeteToInsert</targetReference>
            </connector>
            <label>Convention signed</label>
        </rules>
    </decisions>
    <interviewLabel>Création requête welcome call {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Création requête welcome call</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>insertRequete</name>
        <label>insertRequete</label>
        <locationX>416</locationX>
        <locationY>864</locationY>
        <inputReference>requeteToInsert</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getConvention</name>
        <label>getConvention</label>
        <locationX>195</locationX>
        <locationY>475</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_convention_signed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Date_de_signature_de_la_convention__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Foyer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Foyer__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Convention__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get recordTypeId of recordType demande panéliste AIP</description>
        <name>getRequeteRecordTypeId</name>
        <label>getRequeteRecordTypeId</label>
        <locationX>189</locationX>
        <locationY>324</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getConvention</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Demande_Paneliste_AIP</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>recordTypeIdDemandePanelAIP</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>getRequeteRecordTypeId</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Statut_Foyer_paneliste__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0121X000002wRVYQA2</stringValue>
            </value>
        </filters>
        <object>Foyer_paneliste__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>commandeToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>recordTypeIdDemandePanelAIP</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>requeteToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
