force-app/main/default/flows/Creation_Tache_J21Envoyer_Courrier.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>add_tache_to_list</name>
        <label>add tache to list</label>
        <locationX>1079</locationX>
        <locationY>103</locationY>
        <assignmentItems>
            <assignToReference>ListTAcheToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TacheToInsert</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ForCAse</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddToListTache</name>
        <label>AddToListTache</label>
        <locationX>1085</locationX>
        <locationY>490</locationY>
        <assignmentItems>
            <assignToReference>ListTAcheToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TacheToInsert</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ForCAse</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>InsertTache45</name>
        <label>InsertTache45</label>
        <locationX>1085</locationX>
        <locationY>345</locationY>
        <assignmentItems>
            <assignToReference>TacheToInsert.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ForCAse.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TacheToInsert.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Envoyer courrier recommandé</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TacheToInsert.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ForCAse.Foyer_paneliste__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TacheToInsert.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ForCAse.Account.Contact_principal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TacheToInsert.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddToListTache</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>tache_insert</name>
        <label>tache insert</label>
        <locationX>1076</locationX>
        <locationY>223</locationY>
        <assignmentItems>
            <assignToReference>TacheToInsert.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ForCAse.CreatedById</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TacheToInsert.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Envoyer courrier</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TacheToInsert.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ForCAse.Foyer_paneliste__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TacheToInsert.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ForCAse.Account.Contact_principal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TacheToInsert.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_tache_to_list</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>mllm</name>
        <dataType>String</dataType>
        <value>
            <stringValue>ayoub.ghammaz@ei-technologies.com</stringValue>
        </value>
    </constants>
    <decisions>
        <name>IsBypassed</name>
        <label>IsBypassed</label>
        <locationX>168</locationX>
        <locationY>372</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>bypassFalse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>bypassFlows</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRecordTypeIDControle</targetReference>
            </connector>
            <label>bypassFalse</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsJ21</name>
        <label>IsJ21</label>
        <locationX>904</locationX>
        <locationY>225</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Is21or30</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ForCAse.Jour_de_traitement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>21.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ForCAse.Jour_de_traitement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>30.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>tache_insert</targetReference>
            </connector>
            <label>Is21or30</label>
        </rules>
        <rules>
            <name>Is45</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ForCAse.Jour_de_traitement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>45.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InsertTache45</targetReference>
            </connector>
            <label>Is45</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Creation Tache J21Envoi Courrier {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Creation Tache J21Envoyer Courrier</label>
    <loops>
        <name>ForCAse</name>
        <label>ForCAse</label>
        <locationX>672</locationX>
        <locationY>210</locationY>
        <collectionReference>GetRequeteJ21</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>IsJ21</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreerTacheEnvoiCourrier</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreerTacheEnvoiCourrier</name>
        <label>CreerTacheEnvoiCourrier</label>
        <locationX>679</locationX>
        <locationY>50</locationY>
        <inputReference>ListTAcheToInsert</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetRecordTypeIDControle</name>
        <label>GetRecordTypeIDContrôle</label>
        <locationX>368</locationX>
        <locationY>366</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RecordTypeIdControleAIP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contrôle</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRequeteJ21</name>
        <label>GetRequeteJ21</label>
        <locationX>672</locationX>
        <locationY>367</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ForCAse</targetReference>
        </connector>
        <filterLogic>(1 or 2) and 3 and (4 or 5 or 6)</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetRecordTypeIDControle.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordTypeIdControleAIP.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Clôturé</stringValue>
            </value>
        </filters>
        <filters>
            <field>Jour_de_traitement__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>21.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Jour_de_traitement__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>30.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Jour_de_traitement__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>45.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>RecordTypeIdControleAIP</name>
        <label>RecordTypeIdContrôleAIP</label>
        <locationX>540</locationX>
        <locationY>367</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetRequeteJ21</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contrôle AIP</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>115</locationY>
        <connector>
            <targetReference>IsBypassed</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-10-07</startDate>
            <startTime>06:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>emailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!ForCAse.Contact_sur_place__r.Name} vous etes non repodant depuis 45 jours&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>bypassFlows</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$User.Bypass_flows__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>email</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>ListTAcheToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TacheToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
