force-app/main/default/flows/Creation_requete_MAJ_champs_commande.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>setIndivPan</name>
        <label>setIndivPanAIP</label>
        <locationX>270</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>v_IndivAIP_ContactId.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getIndiv.Composition_du_foyer__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopOnContacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_fields</name>
        <label>Update fields</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>$Record.ShippingAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.ShippingAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ShippingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.ShippingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ShippingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.ShippingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ShippingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.ShippingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ShippingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.ShippingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ShippingLatitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.ShippingLatitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ShippingLongitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.ShippingLongitude</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Copy_1_of_ifIndivPanelisteAIP</name>
        <label>Copy 1 of ifIndivPanelisteAIP</label>
        <locationX>402</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>loopOnContacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_ifIndivPanelisteAIPFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getIndiv</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setIndivPan</targetReference>
            </connector>
            <label>Copy 1 of ifIndivPanelisteAIPFound</label>
        </rules>
    </decisions>
    <decisions>
        <name>ifIndivPanelisteAIP</name>
        <label>ifIndivPanelisteAIP</label>
        <locationX>182</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_FieldsValues</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ifIndivPanelisteAIPFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>v_IndivAIP_ContactId.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FieldsValues</targetReference>
            </connector>
            <label>ifIndivPanelisteAIPFound</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsByPassFlows</name>
        <label>IsByPassFlows</label>
        <locationX>380</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Update_fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>byPassFalse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ByPassFlow</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getContacts</targetReference>
            </connector>
            <label>byPassFalse</label>
        </rules>
    </decisions>
    <description>add ShipToContact update with selection from Indiv panéliste of type AIP</description>
    <environments>Default</environments>
    <interviewLabel>Création requête MAJ {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Création requête MAJ champs commande</label>
    <loops>
        <name>loopOnContacts</name>
        <label>loopOnContacts</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <collectionReference>getContacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>getIndiv</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ifIndivPanelisteAIP</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getContacts</name>
        <label>getContacts</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopOnContacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getIndiv</name>
        <label>getIndiv</label>
        <locationX>402</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_ifIndivPanelisteAIP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Composition_du_foyer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loopOnContacts.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type_de_panel__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AIP</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Individu_Paneliste__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_FieldsValues</name>
        <label>Copy 1 of FieldsValues</label>
        <locationX>314</locationX>
        <locationY>1367</locationY>
        <inputAssignments>
            <field>ShippingCity</field>
            <value>
                <elementReference>$Record.Account.ShippingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountry</field>
            <value>
                <elementReference>$Record.Account.ShippingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingLatitude</field>
            <value>
                <elementReference>$Record.Account.ShippingLatitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingLongitude</field>
            <value>
                <elementReference>$Record.Account.ShippingLongitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>$Record.Account.ShippingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>$Record.Account.ShippingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>FieldsValues</name>
        <label>FieldsValues</label>
        <locationX>50</locationX>
        <locationY>1367</locationY>
        <inputAssignments>
            <field>ShipToContactId</field>
            <value>
                <elementReference>v_IndivAIP_ContactId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCity</field>
            <value>
                <elementReference>$Record.Account.ShippingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountry</field>
            <value>
                <elementReference>$Record.Account.ShippingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingLatitude</field>
            <value>
                <elementReference>$Record.Account.ShippingLatitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingLongitude</field>
            <value>
                <elementReference>$Record.Account.ShippingLongitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>$Record.Account.ShippingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>$Record.Account.ShippingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IsByPassFlows</targetReference>
        </connector>
        <object>Order</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>ByPassFlow</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$User.Bypass_flows__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>v_IndivAIP_ContactId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
