force-app/main/default/flows/Creation_requete_et_commande_pack_initiale.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>fillCommandeToInsert</name>
        <label>fillCommandeToInsert</label>
        <locationX>1068</locationX>
        <locationY>751</locationY>
        <assignmentItems>
            <assignToReference>commandeToInsert.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Foyer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>commandeToInsert.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>commandeToInsert.EffectiveDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>commandeToInsert.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pack initial</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>commandeToInsert.Requete__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>requeteToInsert.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>insertCommande</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>fillRequeteDemandeAIPToInsert</name>
        <label>fillRequeteDemandeAIPToInsert</label>
        <locationX>1065</locationX>
        <locationY>444</locationY>
        <assignmentItems>
            <assignToReference>requeteToInsert.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Foyer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requeteToInsert.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Recruté</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requeteToInsert.Sous_type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pack Initial</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requeteToInsert.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordTypeIdDemandePanelAIP</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>insertRequeteDemandeAIP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>fillRequeteDemandeToInsert</name>
        <label>fillRequeteDemandeToInsert</label>
        <locationX>56</locationX>
        <locationY>456</locationY>
        <assignmentItems>
            <assignToReference>requeteToInsert.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordTypeDemandePanel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requeteToInsert.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Foyer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requeteToInsert.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>requeteTypeIntervention</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requeteToInsert.Sous_type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>requeteSousTypeInstallationNouveauFoyer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>insertRequeteDemande</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_convention_signed</name>
        <label>Check if convention signed</label>
        <locationX>859</locationX>
        <locationY>437</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Convention_signed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getConvention.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>fillRequeteDemandeAIPToInsert</targetReference>
            </connector>
            <label>Convention signed</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkRequeteRecordType</name>
        <label>checkRequeteRecordType</label>
        <locationX>411</locationX>
        <locationY>357</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Mediamat_et_PaME</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>recordTypePanlisteMediametPame</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getRequeteDemandeRecordTypeId</targetReference>
            </connector>
            <label>Mediamat et PaME</label>
        </rules>
        <rules>
            <name>AIP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>recordTypePanlisteAIP</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getRequeteDemandeAIPRecordTypeId</targetReference>
            </connector>
            <label>AIP</label>
        </rules>
    </decisions>
    <formulas>
        <name>recordTypeDemandePaneliste</name>
        <dataType>String</dataType>
        <expression>{!$Label.CAS_Recordtype_DemandePaneliste}</expression>
    </formulas>
    <formulas>
        <name>recordTypeDemandePanelisteAIP</name>
        <dataType>String</dataType>
        <expression>{!$Label.CAS_Recordtype_DemandePanelisteAIP}</expression>
    </formulas>
    <formulas>
        <name>recordTypePanlisteAIP</name>
        <dataType>String</dataType>
        <expression>{!$Label.PAN_recordType_AIP}</expression>
    </formulas>
    <formulas>
        <name>recordTypePanlisteMediametPame</name>
        <dataType>String</dataType>
        <expression>{!$Label.PAN_recordType_mediamatpame}</expression>
    </formulas>
    <formulas>
        <name>requeteSousTypeInstallationNouveauFoyer</name>
        <dataType>String</dataType>
        <expression>{!$Label.CAS_Sous_type_Installation_Nouveau_Foyer}</expression>
    </formulas>
    <formulas>
        <name>requeteTypeIntervention</name>
        <dataType>String</dataType>
        <expression>{!$Label.CAS_Type}</expression>
    </formulas>
    <interviewLabel>Création requête et commande pack initiale {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Création requête et commande pack initiale</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>insertCommande</name>
        <label>insertCommande</label>
        <locationX>1065</locationX>
        <locationY>915</locationY>
        <inputReference>commandeToInsert</inputReference>
    </recordCreates>
    <recordCreates>
        <name>insertRequeteDemande</name>
        <label>insertRequeteDemande</label>
        <locationX>50</locationX>
        <locationY>622</locationY>
        <inputReference>requeteToInsert</inputReference>
    </recordCreates>
    <recordCreates>
        <name>insertRequeteDemandeAIP</name>
        <label>insertRequeteDemandeAIP</label>
        <locationX>1068</locationX>
        <locationY>594</locationY>
        <connector>
            <targetReference>fillCommandeToInsert</targetReference>
        </connector>
        <inputReference>requeteToInsert</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getConvention</name>
        <label>getConvention</label>
        <locationX>755</locationX>
        <locationY>435</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_convention_signed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Date_de_signature_de_la_convention__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Foyer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Foyer__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Convention__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get recordTypeId of recordType demande panéliste AIP</description>
        <name>getRequeteDemandeAIPRecordTypeId</name>
        <label>getRequeteDemandeAIPRecordTypeId</label>
        <locationX>613</locationX>
        <locationY>435</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getConvention</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordTypeDemandePanelisteAIP</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>recordTypeIdDemandePanelAIP</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getRequeteDemandeRecordTypeId</name>
        <label>getRequeteDemandeRecordTypeId</label>
        <locationX>240</locationX>
        <locationY>442</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>fillRequeteDemandeToInsert</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordTypeDemandePaneliste</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>recordTypeDemandePanel</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>290</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>checkRequeteRecordType</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Statut_Foyer_paneliste__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0</stringValue>
            </value>
        </filters>
        <object>Foyer_paneliste__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>commandeToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>recordTypeDemandePanel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordTypeIdDemandePanelAIP</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>requeteToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
