force-app/main/default/flows/Creer_une_fidelisation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>getCreditVRMessage</name>
        <label>getCréditVRMessage</label>
        <locationX>578</locationX>
        <locationY>1514</locationY>
        <actionName>AP01_Fidelisation</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>credit_erreur</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>s</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AP01_Fidelisation</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>getDebitVRMessage</name>
        <label>getDebitVRMessage</label>
        <locationX>1370</locationX>
        <locationY>1514</locationY>
        <actionName>AP01_Fidelisation</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>debit_erreur</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>s</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AP01_Fidelisation</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>fillFidelisationToCreate</name>
        <label>fillFidelisationToCreate</label>
        <locationX>182</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>FidelisationToCreate.Commentaire__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Commentaire</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FidelisationToCreate.Type_de_mouvement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type_de_mouvement</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FidelisationToCreate.Motif_de_credit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Motif_de_credit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FidelisationToCreate.Points_credites__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Points_Credites</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FidelisationToCreate.Foyer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Foyer.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FidelisationToCreate.Foyer_paneliste__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Foyer_Paneliste.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FidelisationToCreate.Requete__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequete.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FidelisationToCreate.Composition_du_foyer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Composition_foyer.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FidelisationToCreate.Individu_paneliste__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Individu_paneliste.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FidelisationToCreate.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreditRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_credit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>fillFidelisationToCreate_0</name>
        <label>fillFidelisationToCreate</label>
        <locationX>974</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>FidelisationToCreate.Origine_de_la_commande__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Origine_de_la_commande</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FidelisationToCreate.Date_de_traitement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_de_traitement</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FidelisationToCreate.Commentaire__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Commentaire_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FidelisationToCreate.Type_de_mouvement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type_de_mouvement_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FidelisationToCreate.Statut_de_commande__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Statut_de_Commande_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FidelisationToCreate.Points_debites__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Points_debites</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FidelisationToCreate.Foyer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Foyer_0.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FidelisationToCreate.Foyer_paneliste__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Foyer_Paneliste_0.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FidelisationToCreate.Composition_du_foyer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Composition_foyer_0.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FidelisationToCreate.Individu_paneliste__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Individu_paneliste_0.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FidelisationToCreate.Requete__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequete.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FidelisationToCreate.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DebitRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_debit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetIndivAIP</name>
        <label>SetIndivAIP</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>IndivPanelisteCredit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getIndPan</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Creer_fidelisation_Credit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetIndivAIP_0</name>
        <label>SetIndivAIP</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>IndivPanelisteDebit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getIndPan_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Creer_fidelisation_debit_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetIndivNonAip</name>
        <label>SetIndivNonAip</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>IndivPanelisteCredit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetIndPanOfPDR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Creer_fidelisation_Credit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetIndivNonAip_0</name>
        <label>SetIndivNonAip</label>
        <locationX>1106</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>IndivPanelisteDebit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetIndPanOfPDR_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Creer_fidelisation_debit_0</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AIP</name>
        <choiceText>AIP</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>AnniversaireFoyer</name>
        <choiceText>Anniversaire foyer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>6</stringValue>
        </value>
    </choices>
    <choices>
        <name>Annulee</name>
        <choiceText>Annulée</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Annulée</stringValue>
        </value>
    </choices>
    <choices>
        <name>BonusInstallation</name>
        <choiceText>Bonus installation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1</stringValue>
        </value>
    </choices>
    <choices>
        <name>BonusMensuelTV</name>
        <choiceText>Bonus mensuel TV</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2</stringValue>
        </value>
    </choices>
    <choices>
        <name>BonusMensuelWeb</name>
        <choiceText>Bonus mensuel web</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>7</stringValue>
        </value>
    </choices>
    <choices>
        <name>Commande</name>
        <choiceText>Commande</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1</stringValue>
        </value>
    </choices>
    <choices>
        <name>Credit</name>
        <choiceText>Crédit&lt;p&gt;     Points de fidélisation qu&apos;on ajoute sur le compte&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Credit_automatique</name>
        <choiceText>Crédit automatique</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>6</stringValue>
        </value>
    </choices>
    <choices>
        <name>Credit_exceptionnel</name>
        <choiceText>Crédit exceptionnel</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>7</stringValue>
        </value>
    </choices>
    <choices>
        <name>Credit_manuel</name>
        <choiceText>Crédit manuel</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>8</stringValue>
        </value>
    </choices>
    <choices>
        <name>Debit</name>
        <choiceText>Débit&lt;p&gt;    Points de fidélisation qu&apos;on retire du compte&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>DebitAutomatique</name>
        <choiceText>Débit automatique</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2</stringValue>
        </value>
    </choices>
    <choices>
        <name>DebitExceptionnel</name>
        <choiceText>Débit exceptionnel</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3</stringValue>
        </value>
    </choices>
    <choices>
        <name>DebitManuel</name>
        <choiceText>Débit manuel</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4</stringValue>
        </value>
    </choices>
    <choices>
        <name>DebitPtsFinDeContrat</name>
        <choiceText>Débit des points fin de contrat</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5</stringValue>
        </value>
    </choices>
    <choices>
        <name>Defreez</name>
        <choiceText>Défreez</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>10</stringValue>
        </value>
    </choices>
    <choices>
        <name>EnCoursDeTraitement</name>
        <choiceText>En cours de traitement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>En cours de traitement	</stringValue>
        </value>
    </choices>
    <choices>
        <name>Enregistree</name>
        <choiceText>Enregistrée</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Enregistrée</stringValue>
        </value>
    </choices>
    <choices>
        <name>Expediee</name>
        <choiceText>Expédiée</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Expédiée</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mediamat</name>
        <choiceText>Médiamat</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Noel</name>
        <choiceText>Noël</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4</stringValue>
        </value>
    </choices>
    <choices>
        <name>PaME</name>
        <choiceText>PaME</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Points_mensuel_TV</name>
        <choiceText>Points Mensuel TV</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>QuizzRegleOR</name>
        <choiceText>Quiz Règle Or</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>8</stringValue>
        </value>
    </choices>
    <choices>
        <name>Recensement</name>
        <choiceText>Recensement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3</stringValue>
        </value>
    </choices>
    <choices>
        <name>Rentree</name>
        <choiceText>Rentrée</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>11</stringValue>
        </value>
    </choices>
    <choices>
        <name>SmileMe</name>
        <choiceText>Smile Me</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>9</stringValue>
        </value>
    </choices>
    <choices>
        <name>VacancesDete</name>
        <choiceText>Vacances d&apos;été</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5</stringValue>
        </value>
    </choices>
    <choices>
        <name>Welcome_Pack</name>
        <choiceText>Welcome Pack</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Credit_Ou_Debit</name>
        <label>Crédit Ou Débit</label>
        <locationX>908</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Credit_choix</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Credit</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreditRecordType</targetReference>
            </connector>
            <label>Crédit</label>
        </rules>
        <rules>
            <name>Debit_choix</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Debit</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DebitRecordType</targetReference>
            </connector>
            <label>Débit</label>
        </rules>
    </decisions>
    <decisions>
        <name>ifAIP</name>
        <label>ifAIP</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>GetIndPanOfPDR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>panel_aip</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getFoyerPaneliste.Referentiel_Panel__r.Type_de_panel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AIP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getIndPan</targetReference>
            </connector>
            <label>panel aip</label>
        </rules>
    </decisions>
    <decisions>
        <name>ifAIP_0</name>
        <label>ifAIP</label>
        <locationX>974</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>GetIndPanOfPDR_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>panel_aip_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getFoyerPaneliste.Referentiel_Panel__r.Type_de_panel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AIP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getIndPan_0</targetReference>
            </connector>
            <label>panel aip</label>
        </rules>
    </decisions>
    <description>Add indiv paneliste et composition foyer to Non AIP  for Debit</description>
    <dynamicChoiceSets>
        <name>CreditTypeDeMovement</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type_de_mouvement__c</picklistField>
        <picklistObject>Fidelisation__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Id_RecordType_Credit</name>
        <dataType>String</dataType>
        <displayField>Id</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fidelisation__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.FID_Type_d_enregistrement_Debit</elementReference>
            </value>
        </filters>
        <limit>1</limit>
        <object>RecordType</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Id_RecordType_Debit</name>
        <dataType>String</dataType>
        <displayField>Id</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fidelisation__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.FID_Type_d_enregistrement_Debit</elementReference>
            </value>
        </filters>
        <limit>1</limit>
        <object>RecordType</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SFPL_OrigineCommande</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Origine_de_la_commande__c</picklistField>
        <picklistObject>Fidelisation__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Créer une fidélisation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Créer une fidélisation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_credit</name>
        <label>Create crédit</label>
        <locationX>182</locationX>
        <locationY>1406</locationY>
        <connector>
            <targetReference>credit_cree</targetReference>
        </connector>
        <faultConnector>
            <targetReference>getCreditVRMessage</targetReference>
        </faultConnector>
        <inputReference>FidelisationToCreate</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_debit</name>
        <label>Create débit</label>
        <locationX>974</locationX>
        <locationY>1406</locationY>
        <connector>
            <targetReference>Debit_cree</targetReference>
        </connector>
        <faultConnector>
            <targetReference>getDebitVRMessage</targetReference>
        </faultConnector>
        <inputReference>FidelisationToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>CreditRecordType</name>
        <label>CreditRecordType</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>creation_credit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fidelisation__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.FID_Type_d_enregistrement_Credit</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>DebitRecordType</name>
        <label>DebitRecordType</label>
        <locationX>974</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>creation_debit_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fidelisation__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.FID_Type_d_enregistrement_Debit</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getFoyerPaneliste</name>
        <label>getFoyerPaneliste</label>
        <locationX>908</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Creer_Fidelisation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getRequete.Foyer_paneliste__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Foyer_paneliste__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getIndPan</name>
        <label>getIndPan</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetIndivAIP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Foyer_paneliste__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getRequete.Foyer_paneliste__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Individu_Paneliste__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getIndPan_0</name>
        <label>getIndPan</label>
        <locationX>842</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetIndivAIP_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Foyer_paneliste__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getRequete.Foyer_paneliste__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Individu_Paneliste__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetIndPanOfPDR</name>
        <label>GetIndPanOfPDR</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetIndivNonAip</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Composition_du_foyer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getRequete.Account.Personne_de_reference__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Individu_Paneliste__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetIndPanOfPDR_0</name>
        <label>GetIndPanOfPDR</label>
        <locationX>1106</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetIndivNonAip_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Composition_du_foyer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getRequete.Account.Personne_de_reference__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Individu_Paneliste__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRequete</name>
        <label>getRequete</label>
        <locationX>908</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getFoyerPaneliste</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <description>points</description>
        <name>creation_credit</name>
        <label>Créer : Fidélisation : Crédit</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ifAIP</targetReference>
        </connector>
        <fields>
            <name>Informations</name>
            <fieldText>&lt;p&gt;Informations&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>creation_credit_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>creation_credit_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Commentaire</name>
                    <fieldText>Commentaire</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Points_de_fidelite</name>
            <fieldText>&lt;p&gt;Points de fidélité&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Type_de_mouvement</name>
            <choiceReferences>Credit_automatique</choiceReferences>
            <choiceReferences>Credit_exceptionnel</choiceReferences>
            <choiceReferences>Credit_manuel</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type de mouvement</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>points</description>
        <name>creation_debit_0</name>
        <label>Créer : Fidélisation : débit</label>
        <locationX>974</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ifAIP_0</targetReference>
        </connector>
        <fields>
            <name>Informations_0</name>
            <fieldText>&lt;p&gt;Informations&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>creation_debit_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>creation_debit_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Origine_de_la_commande</name>
                    <choiceReferences>SFPL_OrigineCommande</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Origine de la commande</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>creation_debit_0_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Date_de_traitement</name>
                    <dataType>Date</dataType>
                    <fieldText>Date de traitement</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Commentaire_0</name>
                    <fieldText>Commentaire</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Points_de_fidelite_0</name>
            <fieldText>&lt;p&gt;Points de fidélité&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Type_de_mouvement_0</name>
            <choiceReferences>Commande</choiceReferences>
            <choiceReferences>DebitAutomatique</choiceReferences>
            <choiceReferences>DebitPtsFinDeContrat</choiceReferences>
            <choiceReferences>DebitExceptionnel</choiceReferences>
            <choiceReferences>DebitManuel</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type de mouvement</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>credit_cree</name>
        <label>crédit crée</label>
        <locationX>182</locationX>
        <locationY>1514</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>credit_succes</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 157, 8);&quot;&gt;Le crédit a été créé&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>credit_erreur</name>
        <label>crédit erreur</label>
        <locationX>578</locationX>
        <locationY>1622</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>credit_erreur_message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;{!getCreditVRMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Creer_Fidelisation</name>
        <label>Créer : Fidélisation</label>
        <locationX>908</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Credit_Ou_Debit</targetReference>
        </connector>
        <fields>
            <name>Type_de_fid_lisation</name>
            <choiceReferences>Debit</choiceReferences>
            <choiceReferences>Credit</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type de fidélisation</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Creer_fidelisation_Credit</name>
        <label>Créer : Fidélisation : Crédit</label>
        <locationX>182</locationX>
        <locationY>1190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>fillFidelisationToCreate</targetReference>
        </connector>
        <fields>
            <name>Creer_fidelisation_Credit_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Creer_fidelisation_Credit_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Motif_de_credit</name>
                    <choiceReferences>BonusInstallation</choiceReferences>
                    <choiceReferences>BonusMensuelTV</choiceReferences>
                    <choiceReferences>Recensement</choiceReferences>
                    <choiceReferences>Noel</choiceReferences>
                    <choiceReferences>VacancesDete</choiceReferences>
                    <choiceReferences>AnniversaireFoyer</choiceReferences>
                    <choiceReferences>BonusMensuelWeb</choiceReferences>
                    <choiceReferences>QuizzRegleOR</choiceReferences>
                    <choiceReferences>SmileMe</choiceReferences>
                    <choiceReferences>Defreez</choiceReferences>
                    <choiceReferences>Rentree</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Motif de crédit</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Credit_automatique</leftValueReference>
                            <operator>WasSelected</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Credit_exceptionnel</leftValueReference>
                            <operator>WasSelected</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Credit_manuel</leftValueReference>
                            <operator>WasSelected</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Creer_fidelisation_Credit_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Points_Credites</name>
                    <dataType>Number</dataType>
                    <fieldText>Points Crédités</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Objets</name>
            <fieldText>&lt;p&gt;Objets&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Creer_fidelisation_Credit_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Creer_fidelisation_Credit_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Foyer</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Foyer</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Fidelisation__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Foyer__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>getRequete.AccountId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Composition_foyer</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Fidelisation__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Composition_du_foyer__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Composition_du_foyer</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>IndivPanelisteCredit.Composition_du_foyer__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Creer_fidelisation_Credit_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Foyer_Paneliste</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Foyer panéliste</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Fidelisation__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Foyer_paneliste__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>getRequete.Foyer_paneliste__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Individu_paneliste</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Individu panéliste</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Fidelisation__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Individu_paneliste__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>IndivPanelisteCredit.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Creer_fidelisation_debit_0</name>
        <label>Créer : Fidélisation : débit</label>
        <locationX>974</locationX>
        <locationY>1190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>fillFidelisationToCreate_0</targetReference>
        </connector>
        <fields>
            <name>Creer_fidelisation_debit_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Creer_fidelisation_debit_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Statut_de_Commande_0</name>
                    <choiceReferences>Enregistree</choiceReferences>
                    <choiceReferences>EnCoursDeTraitement</choiceReferences>
                    <choiceReferences>Expediee</choiceReferences>
                    <choiceReferences>Annulee</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Statut de commande</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Creer_fidelisation_debit_0_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Points_debites</name>
                    <dataType>Number</dataType>
                    <fieldText>Points débités</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Objets_0</name>
            <fieldText>&lt;p&gt;Objets&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Creer_fidelisation_debit_0_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Creer_fidelisation_debit_0_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Foyer_0</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Foyer</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Fidelisation__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Foyer__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>getRequete.AccountId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Composition_foyer_0</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Fidelisation__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Composition_du_foyer__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Composition_du_foyer</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>IndivPanelisteDebit.Composition_du_foyer__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Creer_fidelisation_debit_0_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Foyer_Paneliste_0</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Foyer panéliste</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Fidelisation__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Foyer_paneliste__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>getRequete.Foyer_paneliste__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Individu_paneliste_0</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Individu panéliste</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Fidelisation__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Individu_paneliste__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>IndivPanelisteDebit.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Debit_cree</name>
        <label>Débit crée</label>
        <locationX>974</locationX>
        <locationY>1514</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>debit_succes</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(2, 147, 0);&quot;&gt;le débit a été créé&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>debit_erreur</name>
        <label>débit erreur</label>
        <locationX>1370</locationX>
        <locationY>1622</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>debit_en_erreur</name>
            <fieldText>&lt;p&gt;{!getDebitVRMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>782</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getRequete</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>FidelisationToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Fidelisation__c</objectType>
    </variables>
    <variables>
        <name>IndivPanelisteCredit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Individu_Paneliste__c</objectType>
    </variables>
    <variables>
        <name>IndivPanelisteDebit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Individu_Paneliste__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>requeteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
