force-app/main/default/flows/Creer_une_commande.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Create_produits_command_s</name>
        <label>Create produits commandés</label>
        <locationX>837</locationX>
        <locationY>479</locationY>
        <actionName>AP01_ProduitCommande</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Enregistrement_Cree</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>listOrder</name>
            <value>
                <elementReference>OrderInsertId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AP01_ProduitCommande</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>fillCommandeToInsert</name>
        <label>fillCommandeToInsert</label>
        <locationX>441</locationX>
        <locationY>442</locationY>
        <assignmentItems>
            <assignToReference>commandeToInsert.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type_commande</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>commandeToInsert.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Ord_Status_VersionPreliminaire</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>commandeToInsert.EffectiveDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_de_debut</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>commandeToInsert.Requete__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_id_foyer.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>commandeToInsert.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_id_foyer.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>commandeToInsert.Foyer_paneliste__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_id_foyer.Foyer_paneliste__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>commandeToInsert.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Catalogue_de_prix_standard</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_commande</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>PackChute</name>
        <choiceText>Pack Chute</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>PackChuteValue</elementReference>
        </value>
    </choices>
    <choices>
        <name>packInitialPager</name>
        <choiceText>Pack initial Pager</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>PackInitialPagerValue</elementReference>
        </value>
    </choices>
    <choices>
        <name>PackInitialPagerSetmeter</name>
        <choiceText>Pack Initial pager Setmeter</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>PackInitialPagerSetmeterValue</elementReference>
        </value>
    </choices>
    <choices>
        <name>RemplacementdeMateriel</name>
        <choiceText>Remplacement de Matériel</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>RemplacementDeMaterielValue</elementReference>
        </value>
    </choices>
    <choices>
        <name>RenvoiBeacon</name>
        <choiceText>Renvoi Beacon</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>RenvoiBeaconValue</elementReference>
        </value>
    </choices>
    <dynamicChoiceSets>
        <name>statutDeCommande</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>Order</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>typeDeCommande</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type</picklistField>
        <picklistObject>Order</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Créer une commande {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Créer une commande</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Insert_commande</name>
        <label>Insert commande</label>
        <locationX>674</locationX>
        <locationY>444</locationY>
        <connector>
            <targetReference>Create_produits_command_s</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_screen</targetReference>
        </faultConnector>
        <inputReference>commandeToInsert</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_id_foyer</name>
        <label>Get id foyer</label>
        <locationX>190</locationX>
        <locationY>263</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Creer_une_commande</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Creer_une_commande</name>
        <label>Créer une commande</label>
        <locationX>191</locationX>
        <locationY>442</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>fillCommandeToInsert</targetReference>
        </connector>
        <fields>
            <name>Type_commande</name>
            <choiceReferences>packInitialPager</choiceReferences>
            <choiceReferences>PackChute</choiceReferences>
            <choiceReferences>PackInitialPagerSetmeter</choiceReferences>
            <choiceReferences>RenvoiBeacon</choiceReferences>
            <choiceReferences>RemplacementdeMateriel</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Date_de_debut</name>
            <dataType>Date</dataType>
            <fieldText>Date de début</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enregistrement_Cree</name>
        <label>Enregistrement_Crée</label>
        <locationX>1075</locationX>
        <locationY>558</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Message_de_Creation</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(51, 176, 42); background-color: rgb(255, 255, 255);&quot;&gt;La commande a bien été créée !&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_screen</name>
        <label>Error screen</label>
        <locationX>849</locationX>
        <locationY>305</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Fault_message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_id_foyer</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>commandeToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>OrderInsertId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>commandeToInsert.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>PackChuteValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Pack Chute</stringValue>
        </value>
    </variables>
    <variables>
        <name>PackInitialPagerSetmeterValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Pack Initial pager Setmeter</stringValue>
        </value>
    </variables>
    <variables>
        <name>PackInitialPagerValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Pack initial Pager</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RemplacementDeMaterielValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Remplacement de Matériel</stringValue>
        </value>
    </variables>
    <variables>
        <name>RenvoiBeaconValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Renvoi Beacon</stringValue>
        </value>
    </variables>
</Flow>
