force-app/main/default/flows/Creer_une_etiquette.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>58.0</apiVersion>
    <choices>
        <name>Attente_intervention_Ambassadeur</name>
        <choiceText>Attente intervention Ambassadeur pour installation du Meter</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>$Label.ETI_Nom_de_l_etiquette_Attente_intervention_amabassadeur_pour_installation_meter</elementReference>
        </value>
    </choices>
    <choices>
        <name>Attente_Materiel_MM</name>
        <choiceText>Attente Materiel MM</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>$Label.ETI_Nom_de_l_etiquette_En_attente_materiel_MM</elementReference>
        </value>
    </choices>
    <choices>
        <name>AutoDesinstallation</name>
        <choiceText>AutoDésinstallation</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>$Label.ETI_Nom_de_l_etiquette_Autodesinstallation</elementReference>
        </value>
    </choices>
    <choices>
        <name>AutresUsages</name>
        <choiceText>Autres Usages +</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Autres Usages +</stringValue>
        </value>
    </choices>
    <choices>
        <name>Box_monobloc</name>
        <choiceText>Box monobloc</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>$Label.ETI_Nom_de_l_etiquette_Box_Monobloc</elementReference>
        </value>
    </choices>
    <choices>
        <name>Changement</name>
        <choiceText>Changement</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>$Label.ETI_Nom_de_l_etiquette_Changement_tv</elementReference>
        </value>
    </choices>
    <choices>
        <name>ChgtFAI_Box</name>
        <choiceText>Chgt FAI/Box</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>$Label.ETI_Nom_de_l_etiquette_Changement_de_box_fai</elementReference>
        </value>
    </choices>
    <choices>
        <name>ChgtTV</name>
        <choiceText>Chgt TV</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>$Label.ETI_Nom_de_l_etiquette_Changement_tv</elementReference>
        </value>
    </choices>
    <choices>
        <name>Ctrl_Abonnemnt</name>
        <choiceText>Ctrl abonnement</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>$Label.ETI_Nom_de_l_etiquette_Ctrl_abonnement</elementReference>
        </value>
    </choices>
    <choices>
        <name>Debranches</name>
        <choiceText>Débranchés</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>$Label.ETI_Nom_de_l_etiquette_Debranche</elementReference>
        </value>
    </choices>
    <choices>
        <name>Demenagement</name>
        <choiceText>Déménagement</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>$Label.ETI_Nom_de_l_etiquette_Demenagement</elementReference>
        </value>
    </choices>
    <choices>
        <name>Device_HS</name>
        <choiceText>Device HS</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>$Label.ETI_Nom_de_l_etiquette_Device_hs</elementReference>
        </value>
    </choices>
    <choices>
        <name>DeviceIncompatible</name>
        <choiceText>Device Incompatible</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>$Label.ETI_Nom_de_l_etiquette_Device_incompatible</elementReference>
        </value>
    </choices>
    <choices>
        <name>EquipeNonActif</name>
        <choiceText>Equipé Non Actif&lt;p&gt;&lt;br&gt;&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>$Label.ETI_Nom_de_l_etiquette_Equipe_Non_Actif</elementReference>
        </value>
    </choices>
    <choices>
        <name>Foyer_PaME_a_chuter</name>
        <choiceText>Foyer PaME à chuter</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>$Label.ETI_Nom_de_l_etiquette_Foyer_PaME_chuter</elementReference>
        </value>
    </choices>
    <choices>
        <name>Foyer_Temoin</name>
        <choiceText>Foyer témoin</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>$Label.ETI_Nom_de_l_etiquette_Foyer_temoin</elementReference>
        </value>
    </choices>
    <choices>
        <name>Foyer_test</name>
        <choiceText>Foyer test</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>$Label.ETI_Nom_de_l_etiquette_Foyer_test_temoin</elementReference>
        </value>
    </choices>
    <choices>
        <name>Foyer_vacancier</name>
        <choiceText>Foyer vacancier</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>$Label.ETI_Nom_de_l_etiquette_Foyer_vacancier</elementReference>
        </value>
    </choices>
    <choices>
        <name>Gros_Conso_TV</name>
        <choiceText>Gros Conso TV</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>$Label.ETI_Nom_de_l_etiquette_Gros_consommateur_TV</elementReference>
        </value>
    </choices>
    <choices>
        <name>Indispo</name>
        <choiceText>Indispo Prochains jours</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>$Label.ETI_Nom_de_l_etiquette_Indisponible_les_prochains_jours</elementReference>
        </value>
    </choices>
    <choices>
        <name>INJ_Step1</name>
        <choiceText>INJ Step1</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>$Label.ETI_Nom_de_l_etiquette_injoignable_step1</elementReference>
        </value>
    </choices>
    <choices>
        <name>INJ_Step2</name>
        <choiceText>INJ Step2</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>$Label.ETI_Nom_de_l_etiquette_injoignable_step2</elementReference>
        </value>
    </choices>
    <choices>
        <name>INJ_Step3</name>
        <choiceText>INJ Step3</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>$Label.ETI_Nom_de_l_etiquette_injoignable_step3</elementReference>
        </value>
    </choices>
    <choices>
        <name>INJ_Step4</name>
        <choiceText>INJ Step4</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>$Label.ETI_Nom_de_l_etiquette_injoignable_step4</elementReference>
        </value>
    </choices>
    <choices>
        <name>INJ_Step5</name>
        <choiceText>INJ Step5</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>$Label.ETI_Nom_de_l_etiquette_injoignable_step5</elementReference>
        </value>
    </choices>
    <choices>
        <name>Materiel_Autodesinstall_en_attente</name>
        <choiceText>Matériel autodésinstall en attente</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>$Label.ETI_Nom_de_l_etiquette_Materiel_en_attente</elementReference>
        </value>
    </choices>
    <choices>
        <name>Materiel_Autodesinstall_Non_Recu</name>
        <choiceText>Matériel autodésinstall non reçu ou incomplet</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>$Label.ETI_Nom_de_l_etiquette_Materiel_autodesinstall_non_recu</elementReference>
        </value>
    </choices>
    <choices>
        <name>Mauvaise_Reception</name>
        <choiceText>Mauvaise Réception</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>$Label.ETI_Nom_de_l_etiquette_Mauvaise_Reception</elementReference>
        </value>
    </choices>
    <choices>
        <name>Modif_CATI3</name>
        <choiceText>Modif CATI3</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>$Label.ETI_Nom_de_l_etiquette_Modif_cati3</elementReference>
        </value>
    </choices>
    <choices>
        <name>Mouvement_atypique</name>
        <choiceText>Mouvement atypique</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>$Label.ETI_Nom_de_l_etiquette_Mouvement_Atypique</elementReference>
        </value>
    </choices>
    <choices>
        <name>OK_Conversion_SM</name>
        <choiceText>OK Conversion SM</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>$Label.ETI_Nom_de_l_etiquette_OK_Conversion_SM</elementReference>
        </value>
    </choices>
    <choices>
        <name>Pbl_SondeTV</name>
        <choiceText>Pbl sonde TV</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>$Label.ETI_Nom_de_l_etiquette_Pbl_sonde_TV</elementReference>
        </value>
    </choices>
    <choices>
        <name>PblADSL</name>
        <choiceText>Pbl ADSL</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>$Label.ETI_Nom_de_l_etiquette_Pb_adsl</elementReference>
        </value>
    </choices>
    <choices>
        <name>Petit_Conso_TV</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Petit Conso TV&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>$Label.ETI_Nom_de_l_etiquette_Faible_consommateur_tv</elementReference>
        </value>
    </choices>
    <choices>
        <name>Peu_ecoute</name>
        <choiceText>Peu écoute casque</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>$Label.ETI_Nom_de_l_etiquette_Peu_Ecoute_Casque</elementReference>
        </value>
    </choices>
    <choices>
        <name>Pilote</name>
        <choiceText>Pilote XXXX (TVM3)</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>$Label.ETI_Nom_de_l_etiquette_Pilote_xxx</elementReference>
        </value>
    </choices>
    <choices>
        <name>Presence_foyer</name>
        <choiceText>Présence foyer</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>$Label.ETI_Nom_de_l_etiquette_Presencefoyer</elementReference>
        </value>
    </choices>
    <choices>
        <name>Profession_atypique</name>
        <choiceText>Profession atypique</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>$Label.ETI_Nom_de_l_etiquette_Profession_Atypique</elementReference>
        </value>
    </choices>
    <choices>
        <name>Raisons_personnelles</name>
        <choiceText>Raisons personnelles</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>$Label.ETI_Nom_de_l_etiquette_Raisons_Personnelles</elementReference>
        </value>
    </choices>
    <choices>
        <name>Refus_connexion_routeur</name>
        <choiceText>Refus connexion routeur MM</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>$Label.ETI_Nom_de_l_etiquette_Refus_connexion_routeur_mm</elementReference>
        </value>
    </choices>
    <choices>
        <name>Refus_installer_Device</name>
        <choiceText>Refus installer Device</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>$Label.ETI_Nom_de_l_etiquette_Refus_installer_device</elementReference>
        </value>
    </choices>
    <choices>
        <name>Refus_temporaire</name>
        <choiceText>Refus temporaire de participation</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>$Label.ETI_Nom_de_l_etiquette_Refus_Temporaire_De_Participation</elementReference>
        </value>
    </choices>
    <choices>
        <name>Repeteur</name>
        <choiceText>Répéteur</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>$Label.ETI_Nom_de_l_etiquette_Repeteur</elementReference>
        </value>
    </choices>
    <choices>
        <name>Set_meters_debranches</name>
        <choiceText>Set meter(s) débranché(s)</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>$Label.ETI_Nom_de_l_etiquette_Set_meter_s_d_branch_s</elementReference>
        </value>
    </choices>
    <choices>
        <name>Suivi_Signature</name>
        <choiceText>Suivi signature convention</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>$Label.ETI_Nom_de_l_etiquette_Suivi_signature_convention</elementReference>
        </value>
    </choices>
    <choices>
        <name>Ticket_DSI</name>
        <choiceText>Ticket DSI /DDSM</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>$Label.ETI_Nom_de_l_etiquette_Ticket_dsi_ddsm</elementReference>
        </value>
    </choices>
    <choices>
        <name>Ticket_incident</name>
        <choiceText>Ticket incident</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>$Label.ETI_Nom_de_l_etiquette_Ticket_Incident</elementReference>
        </value>
    </choices>
    <choices>
        <name>Travaux</name>
        <choiceText>Travaux</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>$Label.ETI_Nom_de_l_etiquette_Travaux</elementReference>
        </value>
    </choices>
    <choices>
        <name>Wifi6</name>
        <choiceText>Wifi 6</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>$Label.ETI_Nom_de_l_etiquette_Wifi6</elementReference>
        </value>
    </choices>
    <choices>
        <name>Wifi_mesh</name>
        <choiceText>Wifi mesh</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>$Label.ETI_Nom_de_l_etiquette_wifi_mesh</elementReference>
        </value>
    </choices>
    <decisions>
        <name>Type_de_Panel</name>
        <label>Type de Panel</label>
        <locationX>708</locationX>
        <locationY>374</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PAME</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type_Panel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.RFP_TypePanel_PaME</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Creation_Etiquette_0</targetReference>
            </connector>
            <label>PAME</label>
        </rules>
        <rules>
            <name>MMT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type_Panel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.RFP_TypePanel_MMAT</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Creation_Etiquette</targetReference>
            </connector>
            <label>MMT</label>
        </rules>
        <rules>
            <name>AIP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type_Panel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.RFP_TypePanel_AIP</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Creation_Etiquette_0_0</targetReference>
            </connector>
            <label>AIP</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Liste_Equipement_Foyer</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Foyer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetFoyer.Id</elementReference>
            </value>
        </filters>
        <object>Equipements_du_foyer__c</object>
        <outputAssignments>
            <assignToReference>IdEquipement</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ListeCompositionFoyer</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetFoyer.Id</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>IdCompositionFoyer</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>NomEtiquette</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Nom_de_l_etiquette__c</picklistField>
        <picklistObject>Etiquette__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>StatutPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Statut__c</picklistField>
        <picklistObject>Etiquette__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>FormulaTypePanelEvaluation</name>
        <dataType>String</dataType>
        <expression>IF( TEXT({!getFoyerPan.Referentiel_Panel__r.Type_de_panel__c} ) == &apos;AIP&apos;, &apos;AIP&apos; ,IF(  TEXT({!getFoyerPan.Referentiel_Panel__r.Type_de_panel__c} )== &apos;Médiamat&apos;, &apos;MEDIAMAT&apos;, &apos;PaME&apos; ))</expression>
    </formulas>
    <formulas>
        <name>Type_Panel</name>
        <dataType>String</dataType>
        <expression>TEXT({!getFoyerPan.Referentiel_Panel__r.Type_de_panel__c} )</expression>
    </formulas>
    <interviewLabel>Créer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Créer une étiquette</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Creation_Etiquette</name>
        <label>Création Etiquette</label>
        <locationX>952</locationX>
        <locationY>597</locationY>
        <connector>
            <targetReference>Enregistrement_Cree</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Affichage_erreur</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Date_de_debut__c</field>
            <value>
                <elementReference>Date_de_debut_Creation_Etiquette</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_de_fin__c</field>
            <value>
                <elementReference>Date_de_fin_Creation_Etiquette</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_de_rappel__c</field>
            <value>
                <elementReference>Date_de_Rappel_Creation_Etiquette</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Equipement_du_foyer__c</field>
            <value>
                <elementReference>IdEquipement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Foyer__c</field>
            <value>
                <elementReference>GetFoyer.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Foyer_paneliste__c</field>
            <value>
                <elementReference>getFoyerPan.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membre_du_foyer__c</field>
            <value>
                <elementReference>IdCompositionFoyer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nom_de_l_etiquette__c</field>
            <value>
                <elementReference>Nom_de_l_etiquette_Creation_Etiquette</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rappel_a_faire__c</field>
            <value>
                <elementReference>Rappel_a_faire_Creation_Etiquette</elementReference>
            </value>
        </inputAssignments>
        <object>Etiquette__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Creation_Etiquette_0</name>
        <label>Création Etiquette</label>
        <locationX>387</locationX>
        <locationY>504</locationY>
        <connector>
            <targetReference>Enregistrement_Cree</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Affichage_erreur</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Date_de_debut__c</field>
            <value>
                <elementReference>Date_de_debut_Creation_Etiquette</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_de_fin__c</field>
            <value>
                <elementReference>Date_de_fin_Creation_Etiquette</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_de_rappel__c</field>
            <value>
                <elementReference>Date_de_Rappel_Creation_Etiquette</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Equipement_du_foyer__c</field>
            <value>
                <elementReference>IdEquipement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Foyer__c</field>
            <value>
                <elementReference>GetFoyer.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Foyer_paneliste__c</field>
            <value>
                <elementReference>getFoyerPan.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membre_du_foyer__c</field>
            <value>
                <elementReference>IdCompositionFoyer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nom_de_l_etiquette__c</field>
            <value>
                <elementReference>etiquettes_Pame</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rappel_a_faire__c</field>
            <value>
                <elementReference>Rappel_a_faire_Creation_Etiquette</elementReference>
            </value>
        </inputAssignments>
        <object>Etiquette__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Creation_Etiquette_0_0</name>
        <label>Création Etiquette</label>
        <locationX>831</locationX>
        <locationY>535</locationY>
        <connector>
            <targetReference>Enregistrement_Cree</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Affichage_erreur</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Date_de_debut__c</field>
            <value>
                <elementReference>Date_de_debut_Creation_Etiquette</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_de_fin__c</field>
            <value>
                <elementReference>Date_de_fin_Creation_Etiquette</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_de_rappel__c</field>
            <value>
                <elementReference>Date_de_Rappel_Creation_Etiquette</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Equipement_du_foyer__c</field>
            <value>
                <elementReference>IdEquipement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Foyer__c</field>
            <value>
                <elementReference>GetFoyer.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Foyer_paneliste__c</field>
            <value>
                <elementReference>getFoyerPan.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membre_du_foyer__c</field>
            <value>
                <elementReference>IdCompositionFoyer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nom_de_l_etiquette__c</field>
            <value>
                <elementReference>Nom_de_l_tiquette_AIP</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rappel_a_faire__c</field>
            <value>
                <elementReference>Rappel_a_faire_Creation_Etiquette</elementReference>
            </value>
        </inputAssignments>
        <object>Etiquette__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetFoyer</name>
        <label>GetFoyer</label>
        <locationX>483</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Creer_Etiquette</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getFoyerPan.Foyer__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getFoyerPan</name>
        <label>getFoyerPan</label>
        <locationX>777</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetFoyer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Foyer_paneliste__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Affichage_erreur</name>
        <label>Erreur</label>
        <locationX>464</locationX>
        <locationY>588</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Affichage_d_erreur</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Creer_Etiquette</name>
        <label>Créer : Etiquette</label>
        <locationX>385</locationX>
        <locationY>357</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Type_de_Panel</targetReference>
        </connector>
        <fields>
            <name>Informations_Sur_Etiquette</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Informations sur l&apos;étiquette&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Creer_Etiquette_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Creer_Etiquette_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Nom_de_l_etiquette_Creation_Etiquette</name>
                    <choiceReferences>AutoDesinstallation</choiceReferences>
                    <choiceReferences>AutresUsages</choiceReferences>
                    <choiceReferences>ChgtFAI_Box</choiceReferences>
                    <choiceReferences>ChgtTV</choiceReferences>
                    <choiceReferences>Demenagement</choiceReferences>
                    <choiceReferences>Attente_Materiel_MM</choiceReferences>
                    <choiceReferences>Petit_Conso_TV</choiceReferences>
                    <choiceReferences>Foyer_test</choiceReferences>
                    <choiceReferences>Foyer_vacancier</choiceReferences>
                    <choiceReferences>Gros_Conso_TV</choiceReferences>
                    <choiceReferences>Indispo</choiceReferences>
                    <choiceReferences>Materiel_Autodesinstall_Non_Recu</choiceReferences>
                    <choiceReferences>Materiel_Autodesinstall_en_attente</choiceReferences>
                    <choiceReferences>Modif_CATI3</choiceReferences>
                    <choiceReferences>Presence_foyer</choiceReferences>
                    <choiceReferences>Pbl_SondeTV</choiceReferences>
                    <choiceReferences>PblADSL</choiceReferences>
                    <choiceReferences>Pilote</choiceReferences>
                    <choiceReferences>Suivi_Signature</choiceReferences>
                    <choiceReferences>Ticket_DSI</choiceReferences>
                    <choiceReferences>Travaux</choiceReferences>
                    <choiceReferences>INJ_Step1</choiceReferences>
                    <choiceReferences>Ticket_incident</choiceReferences>
                    <choiceReferences>INJ_Step2</choiceReferences>
                    <choiceReferences>INJ_Step3</choiceReferences>
                    <choiceReferences>INJ_Step4</choiceReferences>
                    <choiceReferences>INJ_Step5</choiceReferences>
                    <choiceReferences>Foyer_Temoin</choiceReferences>
                    <choiceReferences>EquipeNonActif</choiceReferences>
                    <choiceReferences>Debranches</choiceReferences>
                    <choiceReferences>Wifi_mesh</choiceReferences>
                    <choiceReferences>Wifi6</choiceReferences>
                    <choiceReferences>Repeteur</choiceReferences>
                    <choiceReferences>Box_monobloc</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Nom de l&apos;étiquette</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>1</conditionLogic>
                        <conditions>
                            <leftValueReference>Type_Panel</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>MMT</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>etiquettes_Pame</name>
                    <choiceReferences>AutoDesinstallation</choiceReferences>
                    <choiceReferences>Attente_intervention_Ambassadeur</choiceReferences>
                    <choiceReferences>AutresUsages</choiceReferences>
                    <choiceReferences>ChgtFAI_Box</choiceReferences>
                    <choiceReferences>ChgtTV</choiceReferences>
                    <choiceReferences>Ctrl_Abonnemnt</choiceReferences>
                    <choiceReferences>Demenagement</choiceReferences>
                    <choiceReferences>Device_HS</choiceReferences>
                    <choiceReferences>DeviceIncompatible</choiceReferences>
                    <choiceReferences>Attente_Materiel_MM</choiceReferences>
                    <choiceReferences>Petit_Conso_TV</choiceReferences>
                    <choiceReferences>Foyer_test</choiceReferences>
                    <choiceReferences>Foyer_vacancier</choiceReferences>
                    <choiceReferences>Gros_Conso_TV</choiceReferences>
                    <choiceReferences>Indispo</choiceReferences>
                    <choiceReferences>Materiel_Autodesinstall_Non_Recu</choiceReferences>
                    <choiceReferences>Materiel_Autodesinstall_en_attente</choiceReferences>
                    <choiceReferences>Modif_CATI3</choiceReferences>
                    <choiceReferences>Presence_foyer</choiceReferences>
                    <choiceReferences>Pbl_SondeTV</choiceReferences>
                    <choiceReferences>PblADSL</choiceReferences>
                    <choiceReferences>Pilote</choiceReferences>
                    <choiceReferences>Refus_connexion_routeur</choiceReferences>
                    <choiceReferences>Refus_installer_Device</choiceReferences>
                    <choiceReferences>Suivi_Signature</choiceReferences>
                    <choiceReferences>Ticket_DSI</choiceReferences>
                    <choiceReferences>Travaux</choiceReferences>
                    <choiceReferences>INJ_Step1</choiceReferences>
                    <choiceReferences>Ticket_incident</choiceReferences>
                    <choiceReferences>INJ_Step2</choiceReferences>
                    <choiceReferences>INJ_Step3</choiceReferences>
                    <choiceReferences>INJ_Step4</choiceReferences>
                    <choiceReferences>INJ_Step5</choiceReferences>
                    <choiceReferences>Foyer_Temoin</choiceReferences>
                    <choiceReferences>EquipeNonActif</choiceReferences>
                    <choiceReferences>Debranches</choiceReferences>
                    <choiceReferences>Foyer_PaME_a_chuter</choiceReferences>
                    <choiceReferences>OK_Conversion_SM</choiceReferences>
                    <choiceReferences>Wifi_mesh</choiceReferences>
                    <choiceReferences>Wifi6</choiceReferences>
                    <choiceReferences>Repeteur</choiceReferences>
                    <choiceReferences>Box_monobloc</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Nom de l&apos;étiquette</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>1</conditionLogic>
                        <conditions>
                            <leftValueReference>Type_Panel</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>PAME</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Nom_de_l_tiquette_AIP</name>
                    <choiceReferences>ChgtFAI_Box</choiceReferences>
                    <choiceReferences>ChgtTV</choiceReferences>
                    <choiceReferences>Demenagement</choiceReferences>
                    <choiceReferences>Attente_Materiel_MM</choiceReferences>
                    <choiceReferences>Petit_Conso_TV</choiceReferences>
                    <choiceReferences>Foyer_test</choiceReferences>
                    <choiceReferences>Foyer_vacancier</choiceReferences>
                    <choiceReferences>Gros_Conso_TV</choiceReferences>
                    <choiceReferences>Indispo</choiceReferences>
                    <choiceReferences>Presence_foyer</choiceReferences>
                    <choiceReferences>PblADSL</choiceReferences>
                    <choiceReferences>Pilote</choiceReferences>
                    <choiceReferences>Suivi_Signature</choiceReferences>
                    <choiceReferences>Ticket_DSI</choiceReferences>
                    <choiceReferences>Travaux</choiceReferences>
                    <choiceReferences>Ticket_incident</choiceReferences>
                    <choiceReferences>Mauvaise_Reception</choiceReferences>
                    <choiceReferences>Mouvement_atypique</choiceReferences>
                    <choiceReferences>Peu_ecoute</choiceReferences>
                    <choiceReferences>Foyer_Temoin</choiceReferences>
                    <choiceReferences>Raisons_personnelles</choiceReferences>
                    <choiceReferences>Profession_atypique</choiceReferences>
                    <choiceReferences>Refus_temporaire</choiceReferences>
                    <choiceReferences>Debranches</choiceReferences>
                    <choiceReferences>EquipeNonActif</choiceReferences>
                    <choiceReferences>Set_meters_debranches</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Nom  de l&apos;étiquette</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>1</conditionLogic>
                        <conditions>
                            <leftValueReference>Type_Panel</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>AIP </stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Statut</name>
                    <choiceReferences>StatutPicklist</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Actif</stringValue>
                    </defaultValue>
                    <fieldText>Statut</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Creer_Etiquette_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Rappel_a_faire_Creation_Etiquette</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Rappel à faire</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Date_de_Rappel_Creation_Etiquette</name>
                    <dataType>Date</dataType>
                    <fieldText>Date de rappel</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Objets_Lies</name>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;strong&gt;Objets liés&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Creer_Etiquette_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Creer_Etiquette_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Foyer_Nom</name>
                    <fieldText>&lt;p&gt;Foyer&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Foyer_Valeur</name>
                    <fieldText>&lt;p&gt;&lt;em&gt;{!GetFoyer.Name}&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>FoyerPaneliste_Nom</name>
                    <fieldText>&lt;p&gt;Foyer Panéliste&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>FoyerPaneliste_Valeur</name>
                    <fieldText>&lt;p&gt;&lt;em&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;{!getFoyerPan.Name}&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Creer_Etiquette_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Composition_Du_Foyer_Creation_Etiquette</name>
                    <choiceReferences>ListeCompositionFoyer</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Composition du Foyer</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Equipement_Foyer_Etiquette</name>
                    <choiceReferences>Liste_Equipement_Foyer</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Equipement Foyer</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Periode_Pre_Codage</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Période de pré-codage&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Creer_Etiquette_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Creer_Etiquette_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Date_de_debut_Creation_Etiquette</name>
                    <dataType>Date</dataType>
                    <fieldText>Date de début</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Creer_Etiquette_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Date_de_fin_Creation_Etiquette</name>
                    <dataType>Date</dataType>
                    <fieldText>Date de fin</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enregistrement_Cree</name>
        <label>Enregistrement Crée</label>
        <locationX>731</locationX>
        <locationY>633</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Message_de_creation</name>
            <fieldText>&lt;p&gt;L&apos;étiquette a bien été créée !&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>getFoyerPan</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>EtiquetteToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Etiquette__c</objectType>
    </variables>
    <variables>
        <name>IdCompositionFoyer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>IdEquipement</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
