force-app/main/default/flows/Creer_une_intervention.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Action_depannage_support</name>
        <label>Action depannage/support</label>
        <locationX>1238</locationX>
        <locationY>2270</locationY>
        <assignmentItems>
            <assignToReference>CreerAction.Foyer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_ObtenirChampsFoyer.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreerAction.Foyer_Paneliste__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_ObtenirChampsFoyerPaneliste.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreerAction.WorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InterventionACreer.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreerAction.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Nouvelle</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreerAction.Actions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InterventionACreer.Actions__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreerAction.Remarques__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InterventionACreer.Remarques__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreerAction.Equipement_du_foyer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VAR_IdEquipementFoyer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Creation_Action</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS_Intervention_Depannage_Avec_RDV</name>
        <label>Intervention Dépannage Avec RDV</label>
        <locationX>1106</locationX>
        <locationY>1694</locationY>
        <assignmentItems>
            <assignToReference>InterventionACreer.Type_de_l_intervention__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>3</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InterventionACreer.Actions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VAR_Actions</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InterventionACreer.CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InterventionACreer.Remarques__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SFTEL_Remarque</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InterventionACreer.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_ObtenirChampsFoyerPaneliste.Foyer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InterventionACreer.Besoin_d_un_RDV__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SFCB_Besoin_d_un_RDV</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InterventionACreer.WorkTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_ObtenirTypedeTravail.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InterventionACreer.Foyer_paneliste__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_ObtenirChampsFoyerPaneliste.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InterventionACreer.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_ObtenirChampsFoyer.Contact_principal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InterventionACreer.Nombre_d_ordinateur__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_ObtenirChampsFoyer.Nombre_pc__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InterventionACreer.Nombre_de_smartphone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_ObtenirChampsFoyer.Nombre_smartphone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InterventionACreer.Nombre_de_tablette__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_ObtenirChampsFoyer.Nombre_tablette__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InterventionACreer.ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_ObtenirChampsFoyer.Territoire_de_service__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InterventionACreer.Nombre_TV__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarNombreTV</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Creer_Intervention</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS_Intervention_Depannage_Sans_RDV</name>
        <label>Intervention Dépannage Sans RDV</label>
        <locationX>1370</locationX>
        <locationY>1694</locationY>
        <assignmentItems>
            <assignToReference>InterventionACreer.Type_de_l_intervention__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>3</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InterventionACreer.Actions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VAR_Actions</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InterventionACreer.CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InterventionACreer.Remarques__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SFTEL_Remarque</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InterventionACreer.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_ObtenirChampsFoyerPaneliste.Foyer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InterventionACreer.Besoin_d_un_RDV__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SFCB_Besoin_d_un_RDV</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InterventionACreer.Foyer_paneliste__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_ObtenirChampsFoyerPaneliste.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InterventionACreer.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_ObtenirChampsFoyer.Contact_principal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InterventionACreer.Nombre_d_ordinateur__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_ObtenirChampsFoyer.Nombre_pc__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InterventionACreer.Nombre_de_smartphone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_ObtenirChampsFoyer.Nombre_smartphone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InterventionACreer.Nombre_de_tablette__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_ObtenirChampsFoyer.Nombre_tablette__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InterventionACreer.ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_ObtenirChampsFoyer.Territoire_de_service__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InterventionACreer.Nombre_TV__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarNombreTV</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Creer_Intervention</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS_Intervention_Desinstallation_Avec_RDV</name>
        <label>Intervention désinstallation avec RDV</label>
        <locationX>2162</locationX>
        <locationY>1694</locationY>
        <assignmentItems>
            <assignToReference>InterventionACreer.Type_de_l_intervention__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>2</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InterventionACreer.Actions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VAR_Actions</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InterventionACreer.CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InterventionACreer.Remarques__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SFTEL_Remarque</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InterventionACreer.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_ObtenirChampsFoyerPaneliste.Foyer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InterventionACreer.Besoin_d_un_RDV__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SFCB_Besoin_d_un_RDV</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InterventionACreer.WorkTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_ObtenirTypedeTravail.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InterventionACreer.Foyer_paneliste__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_ObtenirChampsFoyerPaneliste.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InterventionACreer.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_ObtenirChampsFoyer.Contact_principal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InterventionACreer.Nombre_d_ordinateur__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_ObtenirChampsFoyer.Nombre_pc__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InterventionACreer.Nombre_de_smartphone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_ObtenirChampsFoyer.Nombre_smartphone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InterventionACreer.Nombre_de_tablette__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_ObtenirChampsFoyer.Nombre_tablette__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InterventionACreer.ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_ObtenirChampsFoyer.Territoire_de_service__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InterventionACreer.Nombre_TV__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarNombreTV</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Creer_Intervention_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS_Intervention_Desinstallation_Sans_RDV</name>
        <label>Intervention Désinstallation Sans RDV</label>
        <locationX>2426</locationX>
        <locationY>1694</locationY>
        <assignmentItems>
            <assignToReference>InterventionACreer.Type_de_l_intervention__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>2</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InterventionACreer.Actions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VAR_Actions</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InterventionACreer.CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InterventionACreer.Remarques__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SFTEL_Remarque</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InterventionACreer.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_ObtenirChampsFoyerPaneliste.Foyer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InterventionACreer.Besoin_d_un_RDV__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SFCB_Besoin_d_un_RDV</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InterventionACreer.Foyer_paneliste__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_ObtenirChampsFoyerPaneliste.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InterventionACreer.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_ObtenirChampsFoyer.Contact_principal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InterventionACreer.Nombre_d_ordinateur__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_ObtenirChampsFoyer.Nombre_pc__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InterventionACreer.Nombre_de_smartphone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_ObtenirChampsFoyer.Nombre_smartphone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InterventionACreer.Nombre_de_tablette__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_ObtenirChampsFoyer.Nombre_tablette__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InterventionACreer.ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_ObtenirChampsFoyer.Territoire_de_service__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InterventionACreer.Nombre_TV__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarNombreTV</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Creer_Intervention_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS_Intervention_Installation_Avec_RDV</name>
        <label>Intervention Installation avec RDV</label>
        <locationX>578</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>InterventionACreer.Type_de_l_intervention__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InterventionACreer.Actions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VAR_Actions</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InterventionACreer.CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InterventionACreer.Remarques__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SFTEL_Remarque</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InterventionACreer.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_ObtenirChampsFoyerPaneliste.Foyer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InterventionACreer.Besoin_d_un_RDV__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SFCB_Besoin_d_un_RDV</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InterventionACreer.WorkTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_ObtenirTypedeTravail.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InterventionACreer.Foyer_paneliste__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_ObtenirChampsFoyerPaneliste.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InterventionACreer.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_ObtenirChampsFoyer.Contact_principal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InterventionACreer.Nombre_d_ordinateur__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_ObtenirChampsFoyer.Nombre_pc__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InterventionACreer.Nombre_de_smartphone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_ObtenirChampsFoyer.Nombre_smartphone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InterventionACreer.Nombre_de_tablette__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_ObtenirChampsFoyer.Nombre_tablette__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InterventionACreer.ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_ObtenirChampsFoyer.Territoire_de_service__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InterventionACreer.Nombre_TV__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarNombreTV</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Creer_Intervention_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS_Intervention_Installation_Sans_RDV</name>
        <label>Intervention Installation Sans RDV</label>
        <locationX>842</locationX>
        <locationY>1694</locationY>
        <assignmentItems>
            <assignToReference>InterventionACreer.Type_de_l_intervention__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InterventionACreer.Actions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VAR_Actions</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InterventionACreer.CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InterventionACreer.Remarques__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SFTEL_Remarque</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InterventionACreer.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_ObtenirChampsFoyerPaneliste.Foyer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InterventionACreer.Besoin_d_un_RDV__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SFCB_Besoin_d_un_RDV</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InterventionACreer.Foyer_paneliste__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_ObtenirChampsFoyerPaneliste.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InterventionACreer.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_ObtenirChampsFoyer.Contact_principal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InterventionACreer.Nombre_d_ordinateur__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_ObtenirChampsFoyer.Nombre_pc__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InterventionACreer.Nombre_de_smartphone__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InterventionACreer.Nombre_de_tablette__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_ObtenirChampsFoyer.Nombre_tablette__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InterventionACreer.ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_ObtenirChampsFoyer.Territoire_de_service__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InterventionACreer.Nombre_TV__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarNombreTV</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Creer_Intervention_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_updateFoyerPanIntEnCours</name>
        <label>Copy 1 of updateFoyerPanIntEnCours</label>
        <locationX>1238</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>GET_ObtenirChampsFoyerPaneliste.Intervention_en_cours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_updateFoyerPan</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>updateFoyerPanIntEnCours</name>
        <label>updateFoyerPanIntEnCours</label>
        <locationX>1502</locationX>
        <locationY>2990</locationY>
        <assignmentItems>
            <assignToReference>GET_ObtenirChampsFoyerPaneliste.Intervention_en_cours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateFoyerPan</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ActionNouveauFoyer</name>
        <label>ActionNouveauFoyer</label>
        <locationX>1502</locationX>
        <locationY>1454</locationY>
        <defaultConnector>
            <targetReference>Create_RDV_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Désinstallation</defaultConnectorLabel>
        <rules>
            <name>SiInstallation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VAR_TypeIntervention</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.WOR_Type_d_intervention_Installation</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Besoin_Creer_RDV</targetReference>
            </connector>
            <label>SiInstallation?</label>
        </rules>
        <rules>
            <name>DepannageSupport</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VAR_TypeIntervention</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.WOR_Type_d_intervention_Depannage_support</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_RDV_0_0</targetReference>
            </connector>
            <label>Dépannage/Support</label>
        </rules>
    </decisions>
    <decisions>
        <name>Besoin_Creer_RDV</name>
        <label>Besoin Creer RDV</label>
        <locationX>710</locationX>
        <locationY>1574</locationY>
        <defaultConnector>
            <targetReference>ASS_Intervention_Installation_Sans_RDV</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>sinon</defaultConnectorLabel>
        <rules>
            <name>BesoinRDV</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BesoinRDV_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateRDV</targetReference>
            </connector>
            <label>BesoinRDV</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_RDV_0</name>
        <label>Besoin Créer RDV</label>
        <locationX>2294</locationX>
        <locationY>1574</locationY>
        <defaultConnector>
            <targetReference>ASS_Intervention_Desinstallation_Sans_RDV</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>sinon</defaultConnectorLabel>
        <rules>
            <name>BesoinRDV_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BesoinRDV_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASS_Intervention_Desinstallation_Avec_RDV</targetReference>
            </connector>
            <label>BesoinRDV</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_RDV_0_0</name>
        <label>Besoin Creer RDV</label>
        <locationX>1238</locationX>
        <locationY>1574</locationY>
        <defaultConnector>
            <targetReference>ASS_Intervention_Depannage_Sans_RDV</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>sinon</defaultConnectorLabel>
        <rules>
            <name>BesoinRDV_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SFCB_Besoin_d_un_RDV</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASS_Intervention_Depannage_Avec_RDV</targetReference>
            </connector>
            <label>BesoinRDV</label>
        </rules>
    </decisions>
    <decisions>
        <name>Declencehment_possible</name>
        <label>Déclencehment possible ?</label>
        <locationX>1865</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Possible</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>bypassFlows</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_ObtenirRequeteAssociee</targetReference>
            </connector>
            <label>Possible</label>
        </rules>
    </decisions>
    <decisions>
        <name>SiInterventionEnCours</name>
        <label>SiInterventionEnCours</label>
        <locationX>776</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Choisir_l_action</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>InterventionEnCours</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_ObtenirChampsFoyerPaneliste.Intervention_en_cours__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErreurInterventionEncours</targetReference>
            </connector>
            <label>InterventionEnCours?</label>
        </rules>
        <rules>
            <name>FoyerChute</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_ObtenirChampsFoyerPaneliste.Statut_Foyer_paneliste__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErreurFoyerChute</targetReference>
            </connector>
            <label>FoyerChute</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_d_action</name>
        <label>Type d&apos;action ?</label>
        <locationX>1502</locationX>
        <locationY>998</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Depannage_support</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VAR_TypeIntervention</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.WOR_Type_d_intervention_Depannage_support</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VAR_Actions</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Label.WOR_Sous_type_d_intervention_Ajout_equipement</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Choix_de_l_equipement</targetReference>
            </connector>
            <label>Dépannage support</label>
        </rules>
        <rules>
            <name>Definitve_Nouveau_Foyer</name>
            <conditionLogic>1 OR 2 OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>VAR_TypeIntervention</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.WOR_Type_d_intervention_Desinstallation</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VAR_TypeIntervention</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.WOR_Type_d_intervention_Installation</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VAR_TypeIntervention</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.WOR_Type_d_intervention_Depannage_support</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VAR_Actions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.WOR_Sous_type_d_intervention_Ajout_equipement</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Besoin_d_un_RDV_Instalation_Desinstalation</targetReference>
            </connector>
            <label>Definitve/ Nouveau Foyer</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ListEquipementFoyer</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Foyer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_ObtenirChampsFoyerPaneliste.Foyer__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </filters>
        <object>Equipements_du_foyer__c</object>
        <outputAssignments>
            <assignToReference>VAR_IdEquipementFoyer</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ListTypeIntervention</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type_de_l_intervention__c</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>bypassFlows</name>
        <dataType>Boolean</dataType>
        <expression>{!$User.Bypass_flows__c}</expression>
    </formulas>
    <formulas>
        <name>ChuteDefinitiveFoye</name>
        <dataType>String</dataType>
        <expression>{!$Label.ACC_Statut_du_foyer_Chute_definitive_Label}</expression>
    </formulas>
    <formulas>
        <name>LabelErreurInterventionEnCours</name>
        <dataType>String</dataType>
        <expression>{!$Label.Erreur_InterventionEnCours}</expression>
    </formulas>
    <formulas>
        <name>LabelFoyerChute</name>
        <dataType>String</dataType>
        <expression>{!$Label.Erreur_FoyerChute}</expression>
    </formulas>
    <formulas>
        <name>TypeDetravailParDefaut</name>
        <dataType>String</dataType>
        <expression>{!$Label.TYP_Name_TypeParDefaut}</expression>
    </formulas>
    <formulas>
        <name>VarNombreTV</name>
        <dataType>Number</dataType>
        <expression>VALUE(TEXT({!GET_ObtenirChampsFoyer.Nombre_TV__c}))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Wor_Redirection</name>
        <dataType>String</dataType>
        <expression>{!$Label.WOR_UrlRedirection}</expression>
    </formulas>
    <interviewLabel>Créer un intervention {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Créer une intervention</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Creation_Action</name>
        <label>Création Action</label>
        <locationX>1238</locationX>
        <locationY>2390</locationY>
        <connector>
            <targetReference>Enregistrement_Cree</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErreursCreationInterventionDepannage</targetReference>
        </faultConnector>
        <inputReference>CreerAction</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Creer_Intervention</name>
        <label>Créer Intervention</label>
        <locationX>1238</locationX>
        <locationY>1910</locationY>
        <connector>
            <targetReference>Copy_1_of_updateFoyerPanIntEnCours</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ErreursCreationInterventionDepannage</targetReference>
        </faultConnector>
        <inputReference>InterventionACreer</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Creer_Intervention_0</name>
        <label>Créer Intervention</label>
        <locationX>1502</locationX>
        <locationY>2870</locationY>
        <connector>
            <targetReference>updateFoyerPanIntEnCours</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErreursCreationInterventionDeinstallationInstallation</targetReference>
        </faultConnector>
        <inputReference>InterventionACreer</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GET_ObtenirChampsFoyer</name>
        <label>ObtenirChampsFoyer</label>
        <locationX>776</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SiInterventionEnCours</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_ObtenirRequeteAssociee.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_ObtenirChampsFoyerPaneliste</name>
        <label>ObtenirChampsFoyerPanéliste</label>
        <locationX>776</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GET_ObtenirChampsFoyer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_ObtenirRequeteAssociee.Foyer_paneliste__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Foyer_paneliste__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_ObtenirRequeteAssociee</name>
        <label>ObtenirRequeteAssociée</label>
        <locationX>776</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GET_ObtenirChampsFoyerPaneliste</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_ObtenirTypedeTravail</name>
        <label>ObtenirTypedeTravail</label>
        <locationX>1502</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Type_d_action</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TypeDetravailParDefaut</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_updateFoyerPan</name>
        <label>Copy 1 of updateFoyerPan</label>
        <locationX>1238</locationX>
        <locationY>2150</locationY>
        <connector>
            <targetReference>Action_depannage_support</targetReference>
        </connector>
        <inputReference>GET_ObtenirChampsFoyerPaneliste</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateFoyerPan</name>
        <label>updateFoyerPan</label>
        <locationX>1502</locationX>
        <locationY>3110</locationY>
        <connector>
            <targetReference>Enregistrement_Cree_0</targetReference>
        </connector>
        <inputReference>GET_ObtenirChampsFoyerPaneliste</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateRDV</name>
        <label>UpdateRDV</label>
        <locationX>578</locationX>
        <locationY>1694</locationY>
        <connector>
            <targetReference>ASS_Intervention_Installation_Avec_RDV</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Intervention__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InterventionACreer.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>InterventionACreer.Account.Contact_principal__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceTerritoryId</field>
            <value>
                <elementReference>InterventionACreer.Account.Territoire_de_service__c</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <screens>
        <name>Besoin_d_un_RDV_Instalation_Desinstalation</name>
        <label>Avez-vous besoin d&apos;un RDV ?</label>
        <locationX>1502</locationX>
        <locationY>1334</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ActionNouveauFoyer</targetReference>
        </connector>
        <fields>
            <name>SFCB_Besoin_d_un_RDV</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Besoin d&apos;un RDV</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Choisir_l_action</name>
        <label>Choisir l&apos;action</label>
        <locationX>1502</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GET_ObtenirTypedeTravail</targetReference>
        </connector>
        <fields>
            <name>SFDPL_TypeInterventionAction</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>WorkOrder</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Type_de_l_intervention__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Actions__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Type d&apos;intervention</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Actions</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>VAR_TypeIntervention</assignToReference>
                <name>topValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>VAR_Actions</assignToReference>
                <name>middleValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>SFTEL_Remarque</name>
            <fieldText>Remarque</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Choix_de_l_equipement</name>
        <label>Choix de l&apos;équipement</label>
        <locationX>1282</locationX>
        <locationY>1118</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Besoin_d_un_RDV_Instalation_Desinstalation</targetReference>
        </connector>
        <fields>
            <name>Equipements</name>
            <choiceReferences>ListEquipementFoyer</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Équipements</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enregistrement_Cree</name>
        <label>Enregistrement Créé</label>
        <locationX>1238</locationX>
        <locationY>2510</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Message_De_Creation</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(51, 176, 42);&quot;&gt;L&apos;intervention a bien été créé !&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;{!Wor_Redirection}{!InterventionACreer.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(51, 176, 42);&quot;&gt;Cliquer ici!&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enregistrement_Cree_0</name>
        <label>Action_Desinstallation_Installation</label>
        <locationX>1502</locationX>
        <locationY>3230</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Message_De_Creation_Action_Desinstallation_Installation</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(51, 176, 42);&quot;&gt;L&apos;intervention a bien été créé !&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;{!Wor_Redirection}{!InterventionACreer.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(51, 176, 42);&quot;&gt;Cliquer ici!&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErreurFoyerChute</name>
        <label>ErreurFoyerChute</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErreurFoyerChutee</name>
            <fieldText>&lt;p&gt;{!LabelFoyerChute}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErreurInterventionEncours</name>
        <label>ErreurInterventionEncours</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>AffichageErreur</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!LabelErreurInterventionEnCours}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErreursCreationInterventionDeinstallationInstallation</name>
        <label>ErreursCreationInterventionDeinstallationInstallation</label>
        <locationX>2690</locationX>
        <locationY>2990</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Affichage_ErreursCreationInterventionDeinstallationInstallation</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErreursCreationInterventionDepannage</name>
        <label>ErreursCreationInterventionDepannage</label>
        <locationX>1634</locationX>
        <locationY>2510</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Affichage_derreurs</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1739</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Declencehment_possible</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CreerAction</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>InterventionACreer</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Requete</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>VAR_Actions</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VAR_IdEquipementFoyer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VAR_TypeIntervention</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
