force-app/main/default/flows/CTRL_Donnees_Rapport_Requete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>AddToNotResponsingControlList</name>
        <label>AddToNotResponsingControlList</label>
        <locationX>402</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>NotResponsingControlList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ForEachControls</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ParticipationOrPresence</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddToParticipationControlList</name>
        <label>AddToParticipationControlList</label>
        <locationX>138</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>ParticipationControlList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ForEachControls</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ForEachControls</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddToPresenceControlList</name>
        <label>AddToPresenceControlList</label>
        <locationX>402</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>PresenceControlList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ForEachControls</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ForEachControls</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddToResponsingControlList</name>
        <label>AddToResponsingControlList</label>
        <locationX>138</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>ResponsingControlList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ForEachControls</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ParticipationOrPresence</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>FillCaseFields</name>
        <label>FillCaseFields</label>
        <locationX>50</locationX>
        <locationY>1526</locationY>
        <assignmentItems>
            <assignToReference>NbParticipation</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>ParticipationControlList</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NbPresence</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>PresenceControlList</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.TECH_Nb_Non_Repondant__c</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>NotResponsingControlList</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.TECH_Nb_Participation__c</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>ParticipationControlList</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.TECH_Nb_Repondant__c</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>ResponsingControlList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FillNbParticipationPresence</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>FillNbParticipationPresence</name>
        <label>FillNbParticipationPresence</label>
        <locationX>50</locationX>
        <locationY>1646</locationY>
        <assignmentItems>
            <assignToReference>Case.TECH_Nb_Participation_Presence__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NbParticipationPresence</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateCase</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NbControls</name>
        <label>NbControls</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>Case.Tech_Nb_Controles__c</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>AllControls</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ForEachControls</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CanTrigger</name>
        <label>CanTrigger</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Can&apos;t</defaultConnectorLabel>
        <rules>
            <name>Can</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Bypass_flows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case</targetReference>
            </connector>
            <label>Can</label>
        </rules>
    </decisions>
    <decisions>
        <name>ControlResponse</name>
        <label>ControlResponse</label>
        <locationX>402</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>ParticipationOrPresence</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NoneOfThem</defaultConnectorLabel>
        <rules>
            <name>Responsing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ForEachControls.Rep_ou_non_rep__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Répondant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddToResponsingControlList</targetReference>
            </connector>
            <label>Responsing</label>
        </rules>
        <rules>
            <name>NotResponsing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ForEachControls.Rep_ou_non_rep__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Non répondant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddToNotResponsingControlList</targetReference>
            </connector>
            <label>NotResponsing</label>
        </rules>
    </decisions>
    <decisions>
        <name>ParticipationOrPresence</name>
        <label>ParticipationOrPresence</label>
        <locationX>402</locationX>
        <locationY>1094</locationY>
        <defaultConnector>
            <targetReference>ForEachControls</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NoneOfThem</defaultConnectorLabel>
        <rules>
            <name>Participation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ForEachControls.Type_de_controle__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.CTRL_Type_Participation</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddToParticipationControlList</targetReference>
            </connector>
            <label>Participation</label>
        </rules>
        <rules>
            <name>Presence</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ForEachControls.Type_de_controle__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.CTRL_Type_Presence</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddToPresenceControlList</targetReference>
            </connector>
            <label>Presence</label>
        </rules>
    </decisions>
    <formulas>
        <name>NbParticipationPresence</name>
        <dataType>Number</dataType>
        <expression>{!NbParticipation} + {!NbPresence}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>CTRL Données Rapport Requête {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CTRL Données Rapport Requête</label>
    <loops>
        <name>ForEachControls</name>
        <label>ForEachControls</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <collectionReference>AllControls</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ControlResponse</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>FillCaseFields</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>AllControls</name>
        <label>AllControls</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NbControls</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Requete__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Controle__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Rep_ou_non_rep__c</queriedFields>
        <queriedFields>Type_de_controle__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Case</name>
        <label>Case</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AllControls</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCase</name>
        <label>UpdateCase</label>
        <locationX>50</locationX>
        <locationY>1766</locationY>
        <inputReference>Case</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CanTrigger</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NbParticipation</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NbPresence</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NotResponsingControlList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Controle__c</objectType>
    </variables>
    <variables>
        <name>ParticipationControlList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Controle__c</objectType>
    </variables>
    <variables>
        <name>PresenceControlList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Controle__c</objectType>
    </variables>
    <variables>
        <name>ResponsingControlList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Controle__c</objectType>
    </variables>
</Flow>
