force-app/main/default/flows/EA_Notif_Questionnaire_satisfaction_post_Intervention.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Envoi de l&apos;alerte Email EA Questionnaire de satisfaction au contact associé</description>
        <name>Envoi_du_questionnaire_de_satisfaction</name>
        <label>Envoi du questionnaire de satisfaction</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <actionName>WorkOrder.EA_Questionnaire_de_satisfaction</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Associer_alerte_email_dans_l_activite_foyer</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>WorkOrder.EA_Questionnaire_de_satisfaction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <description>MEDIAMETRIE-559
Envoyer le questionnaire à chaque clôture d&apos;intervention, *statut= terminé et Etat= OK. *
Ceci est valable pour toutes les interventions SAUF pour les interventions de type Désinstallation définitive.</description>
    <environments>Default</environments>
    <interviewLabel>EA_Notif_Envoi questionnaire satisfaction post Intervention {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EA_Notif_Questionnaire satisfaction post Intervention</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Associer_alerte_email_dans_l_activite_foyer</name>
        <label>Associer l&apos;alerte email dans l&apos;activité du foyer</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>CcAddress</field>
            <value>
                <elementReference>$Record.Mail_Support__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <elementReference>$Label.equipe_panel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Questionnaire de satisfaction</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record.Contact.Email</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Envoi_du_questionnaire_de_satisfaction</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Terminée</stringValue>
            </value>
        </filters>
        <filters>
            <field>Etat__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OK</stringValue>
            </value>
        </filters>
        <filters>
            <field>Actions__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>8</stringValue>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Tech_Email__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>WorkOrder</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>bypassflow</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$User.Bypass_flows__c</elementReference>
        </value>
    </variables>
</Flow>
