force-app/main/default/flows/FID_Maj_CompositionDuFoyer_IndividuPaneliste.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>IsBypassed</name>
        <label>IsBypassed</label>
        <locationX>842</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>bypassFalse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>bypassFlows</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Type_de_fidelisation</targetReference>
            </connector>
            <label>bypassFalse</label>
        </rules>
    </decisions>
    <decisions>
        <name>ISTypePanelAip</name>
        <label>TypePanel</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>AIP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_Foyer_Paneliste.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>VAR_Foyer_Paneliste_RecordType_AIP</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_Individu_Paneliste_AIP</targetReference>
            </connector>
            <label>AIP</label>
        </rules>
        <rules>
            <name>IsMediamatPaME</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GET_Foyer_Paneliste.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>VAR_Foyer_Paneliste_RecordType_MMAT_PaME</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_Composition_du_Foyer_MMAT_PaME</targetReference>
            </connector>
            <label>MediamatPaME</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_de_fidelisation</name>
        <label>Type de fidélisation</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Credit_non_Automatique</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>VAR_Fidelisation_RecordType_Credit</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type_de_mouvement__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>6</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_Foyer_Paneliste</targetReference>
            </connector>
            <label>Crédit non Automatique</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>FID_Maj_CompositionDuFoyer_IndividuPaneliste {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FID_Maj_CompositionDuFoyer_IndividuPaneliste</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GET_Composition_du_Foyer_AIP</name>
        <label>Composition du Foyer AIP</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UPDATE_Fidelisation_AIP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_Individu_Paneliste_AIP.Composition_du_foyer__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_Composition_du_Foyer_MMAT_PaME</name>
        <label>Composition du Foyer MMAT/PaME</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GET_Individu_Paneliste_MMAT_PaME</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Foyer__r.Contact_principal__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_Foyer_Paneliste</name>
        <label>Foyer Panéliste</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ISTypePanelAip</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Foyer_paneliste__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Foyer_paneliste__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_Individu_Paneliste_AIP</name>
        <label>Individu Paneliste AIP</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GET_Composition_du_Foyer_AIP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Foyer_paneliste__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_Foyer_Paneliste.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Individu_Paneliste__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Composition_du_foyer__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_Individu_Paneliste_MMAT_PaME</name>
        <label>Individu Paneliste MMAT/PaME</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CompositionFoyerMediamat_PAme</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Composition_du_foyer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_Composition_du_Foyer_MMAT_PaME.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Individu_Paneliste__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>CompositionFoyerMediamat_PAme</name>
        <label>CompositionFoyerMediamat/PAme</label>
        <locationX>314</locationX>
        <locationY>971</locationY>
        <inputAssignments>
            <field>Composition_du_foyer__c</field>
            <value>
                <elementReference>GET_Composition_du_Foyer_MMAT_PaME.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Individu_paneliste__c</field>
            <value>
                <elementReference>GET_Individu_Paneliste_MMAT_PaME.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UPDATE_Fidelisation_AIP</name>
        <label>MàJ Fidélisation AIP</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <inputAssignments>
            <field>Composition_du_foyer__c</field>
            <value>
                <elementReference>GET_Composition_du_Foyer_AIP.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Individu_paneliste__c</field>
            <value>
                <elementReference>GET_Individu_Paneliste_AIP.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IsBypassed</targetReference>
        </connector>
        <object>Fidelisation__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>bypassFlows</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$User.Bypass_flows__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>VAR_Fidelisation_RecordType_Credit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Label.FID_Type_d_enregistrement_Credit</elementReference>
        </value>
    </variables>
    <variables>
        <name>VAR_Foyer_Paneliste_RecordType_AIP</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Label.PAN_recordType_AIP</elementReference>
        </value>
    </variables>
    <variables>
        <name>VAR_Foyer_Paneliste_RecordType_MMAT_PaME</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Label.PAN_recordType_mediamatpame</elementReference>
        </value>
    </variables>
</Flow>
