force-app/main/default/flows/FID_MAJ_Fidelite_Composition_Foyer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Calcul_Somme_Credit_Composition_Foyer</name>
        <label>Calcul somme crédit Composition foyer</label>
        <locationX>138</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>Somme_Credit_Composition_Foyer</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Boucle_Somme_Composition_Foyer.Points_credites__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_id_contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Calcul_somme_Debit_Composition_Foyer</name>
        <label>Calcul somme débit Composition foyer</label>
        <locationX>402</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>Somme_Debit_Composition_Foyer</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Boucle_Somme_Composition_Foyer.Points_debites__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_id_contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_id_contact</name>
        <label>Update id contact</label>
        <locationX>402</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>idContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Boucle_Somme_Composition_Foyer.Composition_du_foyer__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Boucle_Somme_Composition_Foyer</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>By_Pass</name>
        <label>By Pass ?</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Bypass_flows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fidelisation_Composition_Foyer</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Calcul_Debit_ou_Credit</name>
        <label>Calcul débit ou crédit</label>
        <locationX>402</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Credit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Boucle_Somme_Composition_Foyer.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.FID_Type_d_enregistrement_Credit</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calcul_Somme_Credit_Composition_Foyer</targetReference>
            </connector>
            <label>Crédit</label>
        </rules>
        <rules>
            <name>Debit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Boucle_Somme_Composition_Foyer.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.FID_Type_d_enregistrement_Debit</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calcul_somme_Debit_Composition_Foyer</targetReference>
            </connector>
            <label>Débit</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>FID_MAJ_Fidelite_CompositionFoyer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FID_MAJ_Fidelite_Composition_Foyer</label>
    <loops>
        <name>Boucle_Somme_Composition_Foyer</name>
        <label>Somme Composition Foyer</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <collectionReference>Fidelisation_Composition_Foyer</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Calcul_Debit_ou_Credit</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>MaJ_composition_Foyer</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Fidelisation_Composition_Foyer</name>
        <label>Fidélisation Composition Foyer</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Boucle_Somme_Composition_Foyer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Composition_du_foyer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Composition_du_foyer__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Fidelisation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>MaJ_composition_Foyer</name>
        <label>MaJ composition Foyer</label>
        <locationX>50</locationX>
        <locationY>1247</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>idContact</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Nombre_de_points_cr_dit_s__c</field>
            <value>
                <elementReference>Somme_Credit_Composition_Foyer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nombre_de_points_debites__c</field>
            <value>
                <elementReference>Somme_Debit_Composition_Foyer</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>By_Pass</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Composition_du_foyer__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Fidelisation__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>idContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Somme_Credit_Composition_Foyer</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Somme_Debit_Composition_Foyer</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
