force-app/main/default/flows/FoyerPaneliste_MajMotifChute.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>EditFoyerPan_0</name>
        <label>EditFoyerPan</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>GetRelatedFoyerPan.Motif_de_chute__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Motif_de_chute__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetRelatedFoyerPan.Statut_Foyer_paneliste__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>6</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetRelatedFoyerPan.Date_de_chute_temporaire__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateFoyerPan_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EditFoyerPanAip</name>
        <label>EditFoyerPanAip</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>GetRelatedFoyerPan.Motif_de_chute__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Motif_de_chute__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetRelatedFoyerPan.Statut_Foyer_paneliste__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>6</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetRelatedFoyerPan.Date_de_chute_temporaire__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetRelatedFoyerPan.Motif_de_suspension__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>200</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetRelatedFoyerPan.Suspendu__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetRelatedFoyerPan.Date_de_suspension__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateFoyerPanAIP</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>isEquipe</name>
        <label>isEquipe</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isFoyerEquipeAndRefPanelNotNullAndAccTypePanelNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetRelatedFoyerPan.Foyer_equipe__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetRelatedFoyerPan.Referentiel_Panel__r.Type_de_panel__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetRelatedFoyerPan.Foyer__r.Types_de_Panel__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetRelatedFoyerPan.Referentiel_Panel__r.Type_de_panel__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>AIP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EditFoyerPan_0</targetReference>
            </connector>
            <label>isFoyerEquipeAndRefPanelNotNullAndAccTypePanelNotNull</label>
        </rules>
        <rules>
            <name>AIP</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>GetRelatedFoyerPan.Foyer_equipe__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetRelatedFoyerPan.Referentiel_Panel__r.Type_de_panel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AIP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetRelatedFoyerPan.Foyer__r.Types_de_Panel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AIP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetRelatedFoyerPan.Foyer__r.Types_de_Panel__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>AIP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EditFoyerPanAip</targetReference>
            </connector>
            <label>AIP</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>FoyerPaneliste_MajMotifChute {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FoyerPaneliste_MajMotifChute</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetRelatedFoyerPan</name>
        <label>GetRelatedFoyerPan</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isEquipe</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Foyer_paneliste__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Foyer_paneliste__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateFoyerPan_0</name>
        <label>UpdateFoyerPan</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <inputReference>GetRelatedFoyerPan</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateFoyerPanAIP</name>
        <label>UpdateFoyerPanAIP</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <inputReference>GetRelatedFoyerPan</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetRelatedFoyerPan</targetReference>
        </connector>
        <filterFormula>((ISCHANGED({!$Record.Chute_confirmee__c})&amp;&amp; {!$Record.Chute_confirmee__c} = true) || (ISNEW()  &amp;&amp; {!$Record.Chute_confirmee__c} = true))</filterFormula>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
