force-app/main/default/flows/Foyer_Pan_Statut_Audimetrique.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_Item_to_List</name>
        <label>Add Item to List</label>
        <locationX>138</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>listCasesToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_cases</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Case_Status</name>
        <label>Case Status</label>
        <locationX>138</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>For_cases.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Clôturé</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Item_to_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Bypass</name>
        <label>Bypass</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>True</defaultConnectorLabel>
        <rules>
            <name>False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Bypass_flows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_cases</targetReference>
            </connector>
            <label>False</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Foyer_Pan</name>
        <label>Check Foyer Pan</label>
        <locationX>270</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>For_cases</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AIP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_cases.Foyer_paneliste__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.FID_TypePanel_AIP</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Status</targetReference>
            </connector>
            <label>AIP</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Foyer_Pan_Statut_Audimetrique {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Foyer Pan Statut_Audimetrique</label>
    <loops>
        <name>For_cases</name>
        <label>For cases</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <collectionReference>Get_cases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Foyer_Pan</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Close_Case</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_cases</name>
        <label>Get cases</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_cases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Foyer_paneliste__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Foyer_paneliste__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type_de_controle__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>8</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Clôturé</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Non-répondant</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Close_Case</name>
        <label>Close Case</label>
        <locationX>50</locationX>
        <locationY>1247</locationY>
        <inputReference>listCasesToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Bypass</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Statut_Audimetrique__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </filters>
        <object>Foyer_paneliste__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>listCasesToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
