force-app/main/default/flows/FoyerPan_MajCaseAanonymiser.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>EditFoyerPanRecord</name>
        <label>EditFoyerPanRecord</label>
        <locationX>440</locationX>
        <locationY>572</locationY>
        <assignmentItems>
            <assignToReference>GetFoyerPan.A_anonymiser__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>kist</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetFoyerPan</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NbFoyerPan</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateFoyerPanRecords</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>IsBypassed</name>
        <label>IsBypassed</label>
        <locationX>439</locationX>
        <locationY>198</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Bypassed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>bypassFlows</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getRequeteRecord</targetReference>
            </connector>
            <label>Bypassed</label>
        </rules>
    </decisions>
    <interviewLabel>FoyerPan_MajCaseAanonymiser {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FoyerPan_MajCaseAanonymiser</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetFoyerPan</name>
        <label>GetFoyerPan</label>
        <locationX>443</locationX>
        <locationY>452</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EditFoyerPanRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getRequeteRecord.Foyer_paneliste__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Foyer_paneliste__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRequeteRecord</name>
        <label>getRequeteRecord</label>
        <locationX>450</locationX>
        <locationY>340</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetFoyerPan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateFoyerPanRecords</name>
        <label>UpdateFoyerPanRecords</label>
        <locationX>440</locationX>
        <locationY>774</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputReference>kist</inputReference>
    </recordUpdates>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>628</locationX>
        <locationY>778</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Message</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(228, 29, 15); font-size: 20px;&quot;&gt;Erreur !&lt;/b&gt;&lt;b style=&quot;color: rgb(237, 27, 12); font-size: 20px;&quot;&gt; &lt;/b&gt;&lt;b style=&quot;color: rgb(237, 27, 12); font-size: 16px;&quot;&gt;{!$Flow.FaultMessage}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>272</locationX>
        <locationY>779</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Success_MSG</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 20px; color: rgb(13, 98, 24);&quot;&gt;Le Foyer Paneliste a été modifié&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>321</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>IsBypassed</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>bypassFlows</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$User.Bypass_flows__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>kist</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Foyer_paneliste__c</objectType>
    </variables>
    <variables>
        <name>NbFoyerPan</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
