force-app/main/default/flows/FoyerPaneliste_mise_jour_statut_a_chute_definitive.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Chute_temporaire_definitive</name>
        <label>Chute temporaire à définitive</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <actionName>Foyer_paneliste__c.Mettre_jour_le_Statut</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>chute_definitive</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>Chute_temporaire_definitive</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Foyer_paneliste__c.Mettre_jour_le_Statut</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>FoyerPaneliste mise à jour statut chutte définitive {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FoyerPaneliste mise à jour statut à chute définitive</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>chute_definitive</name>
        <label>chute définitive</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Statut_Foyer_paneliste__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>6</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Statut_Foyer_paneliste__c</field>
            <value>
                <stringValue>5</stringValue>
            </value>
        </inputAssignments>
        <object>Foyer_paneliste__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Chute_temporaire_definitive</targetReference>
        </connector>
    </start>
    <status>Draft</status>
</Flow>
