force-app/main/default/flows/IND_Maj_Nom.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>COND_Foyer_Paneliste_Rempli</name>
        <label>Foyer Panéliste Rempli</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>indPanUpdate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Affichage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Foyer_paneliste_Affichage__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IndPanUpdateAfficahge</targetReference>
            </connector>
            <label>Affichage</label>
        </rules>
    </decisions>
    <decisions>
        <name>isByPassed</name>
        <label>isByPassed</label>
        <locationX>380</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>bypassFalse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>bypassFlows</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COND_Foyer_Paneliste_Rempli</targetReference>
            </connector>
            <label>bypassFalse</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IndPanNom</name>
        <dataType>String</dataType>
        <expression>{!$Record.Composition_du_foyer__r.FirstName} + &quot; &quot;+ {!$Record.Composition_du_foyer__r.LastName} +&quot; &quot; + TEXT({!$Record.Foyer_paneliste__r.Referentiel_Panel__r.Type_de_panel__c})</expression>
    </formulas>
    <formulas>
        <name>IndPanNomAffichage</name>
        <dataType>String</dataType>
        <expression>{!$Record.Composition_du_foyer__r.FirstName} + &quot; &quot;+ {!$Record.Composition_du_foyer__r.LastName} +&quot; &quot; + TEXT({!$Record.Foyer_paneliste_Affichage__r.Referentiel_Panel__r.Type_de_panel__c})</expression>
    </formulas>
    <interviewLabel>IND_Maj_Nom {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IND_Maj_Nom</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>indPanUpdate</name>
        <label>indPanUpdate</label>
        <locationX>314</locationX>
        <locationY>551</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>IndPanNom</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>IndPanUpdateAfficahge</name>
        <label>IndPanUpdateAfficahge</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>IndPanNomAffichage</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>isByPassed</targetReference>
        </connector>
        <object>Individu_Paneliste__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>bypassFlows</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$User.Bypass_flows__c</elementReference>
        </value>
    </variables>
</Flow>
