force-app/main/default/flows/IndividuPaneliste_RecupererDateDeSignature.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_convention_signature</name>
        <label>Get convention signature</label>
        <locationX>931</locationX>
        <locationY>777</locationY>
        <actionName>AP02_Convention</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>listIndividuPanelisteIds</name>
            <value>
                <elementReference>getIndividuPaneliste.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AP02_Convention</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Check_if_convention_is_signed</name>
        <label>Check if convention is signed</label>
        <locationX>682</locationX>
        <locationY>696</locationY>
        <defaultConnector>
            <targetReference>Get_convention_signature</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Convention not signed</defaultConnectorLabel>
        <rules>
            <name>Convention_is_signed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getConvention.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Convention_signed</targetReference>
            </connector>
            <label>Convention is signed</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsBypassed</name>
        <label>IsBypassed</label>
        <locationX>449</locationX>
        <locationY>197</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Bypassed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Bypass</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getIndividuPaneliste</targetReference>
            </connector>
            <label>Bypassed</label>
        </rules>
    </decisions>
    <formulas>
        <name>Bypass</name>
        <dataType>Boolean</dataType>
        <expression>{!$User.Bypass_flows__c}</expression>
    </formulas>
    <interviewLabel>IndividuPaneliste_ {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IndividuPaneliste_RecupererDateDeSignature</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getConvention</name>
        <label>getConvention</label>
        <locationX>452</locationX>
        <locationY>692</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_convention_is_signed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Referentiel_convention__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getReferentielConvention.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Individu_Paneliste__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getIndividuPaneliste.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Convention__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getIndividuPaneliste</name>
        <label>getIndividuPaneliste</label>
        <locationX>556</locationX>
        <locationY>310</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getReferentielPanel</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Individu_Paneliste__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getReferentielConvention</name>
        <label>getReferentielConvention</label>
        <locationX>453</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getConvention</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Referentiel_Panel__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getReferentielPanel.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Statut__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Actif</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Referentiel_convention__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getReferentielPanel</name>
        <label>getReferentielPanel</label>
        <locationX>455</locationX>
        <locationY>380</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getReferentielConvention</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type_de_panel__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PaME</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Referentiel_Panel__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Convention_signed</name>
        <label>Convention signed</label>
        <locationX>843</locationX>
        <locationY>501</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Message_convnetion_signed</name>
            <fieldText>&lt;p&gt;La convention a déjà été signé par le panéliste.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>330</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>IsBypassed</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
