force-app/main/default/flows/IndividuPaneliste_RecupererActiviteAudimetrique.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>GetIndividuPanActivity</name>
        <label>GetIndividuPanActivity</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <actionName>AP05_IndividuPaneliste</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Callout_Success_IndividuPaneliste</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>listIndPanIds</name>
            <value>
                <elementReference>GetIndPan.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AP05_IndividuPaneliste</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Callout_Success_IndividuPaneliste</name>
        <label>Callout Success IndividuPaneliste</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Fail_Screen_IndividuPaneliste</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Callout failed</defaultConnectorLabel>
        <rules>
            <name>Callout_Successfull_IndividuPaneliste</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetIndividuPanActivity.responseStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Created</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Success_Screen_IndividuPaneliste</targetReference>
            </connector>
            <label>Callout Successfull IndividuPaneliste</label>
        </rules>
    </decisions>
    <decisions>
        <name>isBypass</name>
        <label>isBypass</label>
        <locationX>380</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isBypassed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Bypass_flows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetIndPan</targetReference>
            </connector>
            <label>isBypassed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>IndividuPaneliste_RecupererActiviteAudimetrique {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IndividuPaneliste_RecupererActiviteAudimetrique</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetIndPan</name>
        <label>GetIndividuPan</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetIndividuPanActivity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Individu_Paneliste__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Fail_Screen_IndividuPaneliste</name>
        <label>Fail Screen - IndividuPaneliste</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FaillMessageIndividuPaneliste</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!$Label.FLW_MAJ_SIPanel_ErreurMAJ}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;{!$Label.FLW_MAJ_SIPanel_ErreurMAJ_Text}&lt;/span&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt; :&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;strong style=&quot;font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;{!$Label.FLW_MAJ_SIPanel_ErrorCode}&lt;/strong&gt;&lt;span style=&quot;font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt; &lt;/span&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;: {!GetIndividuPanActivity.responseStatusCode}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!$Label.FLW_MAJ_SIPanel_ErrorStatus}&lt;/strong&gt;&lt;span style=&quot;font-size: 12px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; : {!GetIndividuPanActivity.responseStatus}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;em style=&quot;font-size: 12px;&quot;&gt;﻿&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Screen_IndividuPaneliste</name>
        <label>Success Screen - IndividuPaneliste</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SuccessMessageIndividuPaneliste</name>
            <fieldText>&lt;p&gt;{!$Label.FLW_MAJ_MAJReussie_IndividuPaneliste}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>isBypass</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
