force-app/main/default/flows/Individu_creer_individu_paneliste.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>fillIndPanLettre</name>
        <label>fillIndPanLettre</label>
        <locationX>751</locationX>
        <locationY>773</locationY>
        <actionName>AP02_MembreDuFoyer</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_individu_paneliste_to_list</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>indPanList</name>
            <value>
                <elementReference>individuPaneliste</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AP02_MembreDuFoyer</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_individu_paneliste_to_list</name>
        <label>Assign individu panéliste to list</label>
        <locationX>575</locationX>
        <locationY>370</locationY>
        <assignmentItems>
            <assignToReference>individusPanelisteToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fillIndPanLettre</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_foyer_paneliste</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fill_individu_paneliste</name>
        <label>Fill individu panéliste</label>
        <locationX>1004</locationX>
        <locationY>343</locationY>
        <assignmentItems>
            <assignToReference>individuPaneliste.Composition_du_foyer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>individuPaneliste.Foyer_paneliste__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_foyer_paneliste.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>individuPaneliste.Date_d_entree_de_l_individu__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>COND_PaME</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Routeur_TV</name>
        <label>Router/ TV</label>
        <locationX>820</locationX>
        <locationY>471</locationY>
        <assignmentItems>
            <assignToReference>individuPaneliste.Routeur__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>individuPaneliste.TV__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>fillIndPanLettre</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_bypass</name>
        <label>Check bypass</label>
        <locationX>439</locationX>
        <locationY>143</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Not_bypassed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Bypass_flows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Username</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Mulesoft_integrationUser_username</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtenir_Type_d_enregistrement</targetReference>
            </connector>
            <label>Not bypassed</label>
        </rules>
    </decisions>
    <decisions>
        <name>COND_PaME</name>
        <label>PaME ?</label>
        <locationX>1075</locationX>
        <locationY>521</locationY>
        <defaultConnector>
            <targetReference>fillIndPanLettre</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non</defaultConnectorLabel>
        <rules>
            <name>Oui</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_foyer_paneliste.Referentiel_Panel__r.Type_de_panel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.RFP_TypePanel_PaME</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Routeur_TV</targetReference>
            </connector>
            <label>Oui</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Individu_creer_individu_paneliste {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Individu_creer_individu_paneliste</label>
    <loops>
        <name>Loop_over_foyer_paneliste</name>
        <label>Loop over foyer panéliste</label>
        <locationX>869</locationX>
        <locationY>135</locationY>
        <collectionReference>Get_foyer_paneliste</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Fill_individu_paneliste</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_individu_paneliste</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_individu_paneliste</name>
        <label>Create individu panéliste</label>
        <locationX>1161</locationX>
        <locationY>200</locationY>
        <inputReference>individusPanelisteToInsert</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_foyer_paneliste</name>
        <label>Get foyer paneliste</label>
        <locationX>689</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_foyer_paneliste</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Foyer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtenir_Type_d_enregistrement.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Foyer_paneliste__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtenir_Type_d_enregistrement</name>
        <label>Obtenir Type d&apos;enregistrement</label>
        <locationX>517</locationX>
        <locationY>42</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_foyer_paneliste</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Foyer_paneliste__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.PAN_recordType_mediamatpame</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>55</locationY>
        <connector>
            <targetReference>Check_bypass</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>idRefentielPanelMMT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>idRefentielPanelPaME</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>individuPaneliste</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Individu_Paneliste__c</objectType>
    </variables>
    <variables>
        <name>individusPanelisteToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Individu_Paneliste__c</objectType>
    </variables>
</Flow>
