force-app/main/default/flows/Intervention_MajChampsFoyer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <constants>
        <name>NullDate</name>
        <dataType>Date</dataType>
    </constants>
    <decisions>
        <name>inter_modifie</name>
        <label>inter modifie</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Maj_foyer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>wo_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>tech_WO_Changed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_foyer</targetReference>
            </connector>
            <label>wo changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>WOStatutNouvelle</name>
        <label>WOStatutNouvelle</label>
        <locationX>314</locationX>
        <locationY>791</locationY>
        <defaultConnector>
            <targetReference>WOstatutTermine</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Nouvelle</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>StatutNouvelle</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>chuteDefinitive</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MajFoyerSectionIntervention1</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Nouvelle?</label>
        </rules>
    </decisions>
    <decisions>
        <name>WOstatutTermine</name>
        <label>WOstatutTerminé</label>
        <locationX>578</locationX>
        <locationY>911</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Termine</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>StatutWOTermine</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>statutFoyer</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>chuteDefinitive</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ObtenirRDV</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Terminé?</label>
        </rules>
        <rules>
            <name>TypeSousTypeModifies</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sous_type_d_intervention__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type_de_l_intervention__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MajFoyerTypeSousType</targetReference>
            </connector>
            <label>TypeSousTypeModifies</label>
        </rules>
    </decisions>
    <description>Mettre à jour les champs du foyer de la section intervention</description>
    <formulas>
        <name>bypassFlows</name>
        <dataType>Boolean</dataType>
        <expression>{!$User.Bypass_flows__c}</expression>
    </formulas>
    <formulas>
        <name>chuteDefinitive</name>
        <dataType>String</dataType>
        <expression>{!$Label.ACC_Statut_du_foyer_Chute_definitive}</expression>
    </formulas>
    <formulas>
        <name>StatutNouvelle</name>
        <dataType>String</dataType>
        <expression>{!$Label.WOR_Status_Nouvelle}</expression>
    </formulas>
    <formulas>
        <name>StatutWOTermine</name>
        <dataType>String</dataType>
        <expression>{!$Label.WOR_Status_Terminee}</expression>
    </formulas>
    <interviewLabel>Intervention_MajChampsFoyer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Intervention_MajChampsFoyer</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>ObtenirIdFoyer</name>
        <label>ObtenirIdFoyer</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>inter_modifie</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>IdFoyer</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>statutFoyer</assignToReference>
            <field>Statut_du_foyer__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>tech_WO_Changed</assignToReference>
            <field>TECHi_is_WorkOrder_Changed__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>ObtenirRDV</name>
        <label>ObtenirRDV</label>
        <locationX>314</locationX>
        <locationY>1031</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MajFoyerQuandInterTerminee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Intervention__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputAssignments>
            <assignToReference>NumeroStationFoyer</assignToReference>
            <field>Numero_de_la_station__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Maj_foyer</name>
        <label>Maj foyer</label>
        <locationX>446</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>WOStatutNouvelle</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TECHi_is_WorkOrder_Changed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>MajDateDebutIntervention</name>
        <label>MajDateDebutIntervention</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>MajFoyerQuandInterTerminee</name>
        <label>MajFoyerQuandInterTerminee</label>
        <locationX>314</locationX>
        <locationY>1151</locationY>
        <connector>
            <targetReference>UpdateFinIntervention</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdFoyer</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_de_fin_d_intervention__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Intervention_en_cours__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>MajFoyerSectionIntervention1</name>
        <label>MajFoyerSectionIntervention1</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <connector>
            <targetReference>MajDateDebutIntervention</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdFoyer</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_de_debut_d_intervention__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_de_fin_d_intervention__c</field>
            <value>
                <elementReference>NullDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Intervention_en_cours__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sous_type_d_intervention__c</field>
            <value>
                <elementReference>$Record.Sous_type_d_intervention__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Station__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_d_intervention__c</field>
            <value>
                <elementReference>$Record.Type_de_l_intervention__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>MajFoyerTypeSousType</name>
        <label>MajFoyerTypeSousType</label>
        <locationX>578</locationX>
        <locationY>1031</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdFoyer</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Sous_type_d_intervention__c</field>
            <value>
                <elementReference>$Record.Sous_type_d_intervention__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_d_intervention__c</field>
            <value>
                <elementReference>$Record.Type_de_l_intervention__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_foyer</name>
        <label>update foyer</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>WOStatutNouvelle</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TECHi_is_WorkOrder_Changed__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateFinIntervention</name>
        <label>UpdateFinIntervention</label>
        <locationX>314</locationX>
        <locationY>1271</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tech_FinInter__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ObtenirIdFoyer</targetReference>
        </connector>
        <object>WorkOrder</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>IdFoyer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IdRDV</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IdRessourceDeService</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NumeroStationFoyer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>statutFoyer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tech_WO_Changed</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
