force-app/main/default/flows/Intervention_DesinstallationDesuspensionFoyer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Desinstallation_du_foyer_Pan</name>
        <label>Désinstallation du foyer Pan</label>
        <locationX>688</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>Foyer_Pan_Intervention.Date_de_chute_temporaire__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dateNulle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sous_type_d_intervention</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fin_de_suspension_du_foyer_Pan</name>
        <label>Fin de suspension du foyer Pan</label>
        <locationX>952</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>Foyer_Pan_Intervention.Suspendu__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Foyer_Pan_Intervention.Date_de_suspension__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dateNulle</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Foyer_Pan_Intervention.Motif_de_suspension__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sous_type_d_intervention</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Foyer_Pan_Chute</name>
        <label>Foyer Pan chuté</label>
        <locationX>314</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>Foyer_Pan_Intervention.Date_de_chute_temporaire__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Foyer_Pan_Intervention.Date_de_chute__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Mise_a_jour_du_foyer_Pan</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Foyer_Pan_date_du_chute_temporaire</name>
        <label>Foyer Pan date du chute temporaire</label>
        <locationX>1018</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>Foyer_Pan_Intervention.Date_de_chute_temporaire__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Foyer_Pan_Intervention.Statut_Foyer_paneliste__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.PAN_Statut_Panel_Desinstalle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Mise_a_jour_du_foyer_Pan</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Foyer_Pan_install</name>
        <label>Foyer Pan installé</label>
        <locationX>50</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>Foyer_Pan_Intervention.Date_d_installation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Mise_a_jour_du_foyer_Pan</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Etat_d_intervention</name>
        <label>Etat d&apos;intervention</label>
        <locationX>446</locationX>
        <locationY>1163</locationY>
        <defaultConnector>
            <targetReference>Mise_a_jour_du_foyer_Pan</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Etat_d_intervention_OK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Etat__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Foyer_Pan_install</targetReference>
            </connector>
            <label>Etat d&apos;intervention OK</label>
        </rules>
        <rules>
            <name>Etat_d_intervention_chut</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Etat__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chuté</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Etapes_de_chute__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Entre le CATI 2 et l&apos;installation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Etapes_de_chute__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pendant l&apos;installation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Foyer_Pan_Chute</targetReference>
            </connector>
            <label>Etat d&apos;intervention chuté</label>
        </rules>
        <rules>
            <name>Etat_ok_ou_chute</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Etat__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Etat__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chuté</stringValue>
                </rightValue>
            </conditions>
            <label>Etat ok ou chuté</label>
        </rules>
    </decisions>
    <decisions>
        <name>Intervention_terminee</name>
        <label>Intervention terminée ?</label>
        <locationX>1293</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Terminee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>bypassFlows</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Terminée</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Foyer_de_l_intervention</targetReference>
            </connector>
            <label>Terminée</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sous_type_d_intervention</name>
        <label>Sous-type d&apos;intervention</label>
        <locationX>952</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Mise_a_jour_du_foyer_Pan</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Nouveau_foyer</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Actions__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TypeNouveauFoyer</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Foyer_Pan_Intervention.Statut_Foyer_paneliste__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Foyer_Pan_Intervention.Statut_Foyer_paneliste__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Etat_d_intervention</targetReference>
            </connector>
            <label>Nouveau foyer</label>
        </rules>
        <rules>
            <name>Definitive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Actions__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TypeDefinitive</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sous_type_definitive</targetReference>
            </connector>
            <label>Définitive</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sous_type_definitive</name>
        <label>Sous type definitive</label>
        <locationX>1150</locationX>
        <locationY>1163</locationY>
        <defaultConnector>
            <targetReference>Mise_a_jour_du_foyer_Pan</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Etat_chute_ou_ok</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Etat__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Etat__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chuté</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Foyer_Pan_date_du_chute_temporaire</targetReference>
            </connector>
            <label>Etat chute ou ok</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_d_intervention</name>
        <label>Type d&apos;intervention</label>
        <locationX>952</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Sous_type_d_intervention</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Chute_definitive</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Actions__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TypeDefinitive</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>foyer.Statut_du_foyer__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>foyer.Statut_du_foyer__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>5</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Desinstallation_du_foyer_Pan</targetReference>
            </connector>
            <label>Chute définitive</label>
        </rules>
        <rules>
            <name>Installation_ou_Depannage_Support</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type_de_l_intervention__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Installation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type_de_l_intervention__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dépannage/Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>foyer.Suspendu__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fin_de_suspension_du_foyer_Pan</targetReference>
            </connector>
            <label>Installation ou Dépannage/Support</label>
        </rules>
    </decisions>
    <description>Correction :
Remplacer le Foyer.Status_du_Foyer__c  par FoyerPaneliste.Statut_Foyer_paneliste__c</description>
    <environments>Default</environments>
    <formulas>
        <name>bypassFlows</name>
        <dataType>Boolean</dataType>
        <expression>{!$User.Bypass_flows__c}</expression>
    </formulas>
    <formulas>
        <name>TypeDefinitive</name>
        <dataType>String</dataType>
        <expression>{!$Label.WOR_Sous_type_d_intervention_Definitive}</expression>
    </formulas>
    <formulas>
        <name>TypeNouveauFoyer</name>
        <dataType>String</dataType>
        <expression>{!$Label.WOR_Sous_type_d_intervention_Nouveau_foyer}</expression>
    </formulas>
    <interviewLabel>Intervention_DésinstallationDésuspensionFoyer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Intervention_DésinstallationDésuspensionFoyer</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Foyer_de_l_intervention</name>
        <label>Foyer de l&apos;intervention</label>
        <locationX>952</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RecordType_AIP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>foyer</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Suspendu__c</queriedFields>
        <queriedFields>Date_de_suspension__c</queriedFields>
        <queriedFields>Motif_de_suspension__c</queriedFields>
        <queriedFields>Statut_du_foyer__c</queriedFields>
        <queriedFields>Date_de_chute_temporaire__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Foyer_Pan_Intervention</name>
        <label>Foyer Pan de l&apos;intervention</label>
        <locationX>952</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Type_d_intervention</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Foyer_paneliste__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>RecordType_AIP.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Foyer_paneliste__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>RecordType_AIP</name>
        <label>RecordType AIP</label>
        <locationX>952</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Foyer_Pan_Intervention</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.PAN_recordType_AIP</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Foyer_paneliste__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Mise_a_jour_du_foyer_Pan</name>
        <label>Mise à jour du foyer Pan</label>
        <locationX>952</locationX>
        <locationY>1547</locationY>
        <inputReference>Foyer_Pan_Intervention</inputReference>
    </recordUpdates>
    <start>
        <locationX>1167</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Intervention_terminee</targetReference>
        </connector>
        <object>WorkOrder</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>dateNulle</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>foyer</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
