force-app/main/default/flows/Intervention_Cloture.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Tech</name>
        <label>Assign Tech</label>
        <locationX>446</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>$Record.Tech_AudimPoste__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Audim</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NombreAudim</name>
        <label>NombreAudim</label>
        <locationX>182</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>NbreAudim</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>listAssetFPan</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Audim</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_to_Update</name>
        <label>Check to Update</label>
        <locationX>182</locationX>
        <locationY>1103</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Assign_Tech</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Tech_Audim</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckPosteIn_Audim</name>
        <label>CheckPosteIn_Audim</label>
        <locationX>358</locationX>
        <locationY>719</locationY>
        <defaultConnector>
            <targetReference>Assign_Tech</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Filled</defaultConnectorLabel>
        <rules>
            <name>Filled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Audim.Equipement_du_foyer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Audim.Equipement_du_foyer__r.RecordType.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GetRecordType_Poste.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Audim</targetReference>
            </connector>
            <label>Filled</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Intervention_ {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Intervention_Cloture</label>
    <loops>
        <name>Loop_Audim</name>
        <label>Loop Audim</label>
        <locationX>182</locationX>
        <locationY>611</locationY>
        <collectionReference>listAssetFPan</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CheckPosteIn_Audim</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_to_Update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetAsset_FoyerPan</name>
        <label>GetAsset_FoyerPan</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NombreAudim</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>Foyer_paneliste__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Foyer_paneliste__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type_de_materiel__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>22</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type_de_materiel__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>30</stringValue>
            </value>
        </filters>
        <object>Asset</object>
        <outputReference>listAssetFPan</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Equipement_du_foyer__c</queriedFields>
        <queriedFields>Type_de_materiel__c</queriedFields>
        <queriedFields>Audimetre__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetRecordType_Poste</name>
        <label>GetRecordType_Poste</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetAsset_FoyerPan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.EQPF_RecordType_PosteTV</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Equipements_du_foyer__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Tech_Audim</name>
        <label>Update Tech Audim</label>
        <locationX>50</locationX>
        <locationY>1211</locationY>
        <inputAssignments>
            <field>Tech_AudimPoste__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetRecordType_Poste</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Terminée</stringValue>
            </value>
        </filters>
        <object>WorkOrder</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>listAssetFPan</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>listEquiNotFilled</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>NbreAudim</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
