force-app/main/default/flows/Intervention_MajStatus.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <decisions>
        <name>By_Pass</name>
        <label>By Pass</label>
        <locationX>73</locationX>
        <locationY>405</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Bypass_flows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>StatutModifie</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>StatutModifie</name>
        <label>StatutModifie</label>
        <locationX>191</locationX>
        <locationY>360</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Encours</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RDVenCours</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MajStatutEncours</targetReference>
            </connector>
            <label>Encours</label>
        </rules>
        <rules>
            <name>Termine</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RDVStatusTermine</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MajAction</targetReference>
            </connector>
            <label>Terminé</label>
        </rules>
    </decisions>
    <description>Mettre à jour le statut de l&apos;intervention et l&apos;Action  selon le statut du rendez-vous</description>
    <environments>Default</environments>
    <formulas>
        <name>InterventionTermine</name>
        <dataType>String</dataType>
        <expression>{!$Label.WOR_Status_Terminee}</expression>
    </formulas>
    <formulas>
        <name>MotifStatutResolue</name>
        <dataType>String</dataType>
        <expression>{!$Label.CAS_MotifStatut_Resolue}</expression>
    </formulas>
    <formulas>
        <name>RDVenCours</name>
        <dataType>String</dataType>
        <expression>{!$Label.RDV_Statut_En_cours}</expression>
    </formulas>
    <formulas>
        <name>RDVStatusTermine</name>
        <dataType>String</dataType>
        <expression>{!$Label.RDV_Statut_Termine}</expression>
    </formulas>
    <formulas>
        <name>RdvStatutAnnuler</name>
        <dataType>String</dataType>
        <expression>{!$Label.RDV_Motif_d_annulation_Probleme_resolu}</expression>
    </formulas>
    <formulas>
        <name>StatusAction</name>
        <dataType>String</dataType>
        <expression>{!$Label.Action_Status_Terminee}</expression>
    </formulas>
    <interviewLabel>Intervention_MajStatus {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Intervention_MajStatus</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>MajAction</name>
        <label>MajAction</label>
        <locationX>448</locationX>
        <locationY>487</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Intervention__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>StatusAction</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
    </recordUpdates>
    <recordUpdates>
        <name>MajStatusRequete</name>
        <label>MajStatusRequete</label>
        <locationX>489</locationX>
        <locationY>272</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Intervention__r.Case.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Nouveau</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>RDVenCours</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>MajStatutEncours</name>
        <label>MajStatutEncours</label>
        <locationX>366</locationX>
        <locationY>271</locationY>
        <connector>
            <targetReference>MajStatusRequete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Intervention__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Terminée</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>RDVenCours</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>By_Pass</targetReference>
        </connector>
        <object>ServiceAppointment</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
