force-app/main/default/flows/Intervention_DesuspensionFoyerPaneliste.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>ASS_MaJ_Foyer_Paneliste</name>
        <label>MàJ Foyer Panéliste</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>GET_Recuperation_Foyer_Paneliste.Suspendu__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GET_Recuperation_Foyer_Paneliste.Date_de_fin_d_intervention__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FOR_Date_Today</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>MaJ_Foyer_Paneliste</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>COND_ByPass</name>
        <label>ByPass ?</label>
        <locationX>380</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Non</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Bypass_flows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COND_Foyer_Paneliste_Suspendu</targetReference>
            </connector>
            <label>Non</label>
        </rules>
    </decisions>
    <decisions>
        <name>COND_Foyer_Paneliste_Suspendu</name>
        <label>Foyer Panéliste Suspendu</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Non</defaultConnectorLabel>
        <rules>
            <name>Oui</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Foyer_paneliste__r.Suspendu__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_Recuperation_Foyer_Paneliste</targetReference>
            </connector>
            <label>Oui</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FOR_Date_Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Intervention_DesuspensionFoyerPaneliste {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Intervention_DesuspensionFoyerPaneliste</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GET_Recuperation_Foyer_Paneliste</name>
        <label>Récupération Foyer Panéliste</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ASS_MaJ_Foyer_Paneliste</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Foyer_paneliste__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Foyer_paneliste__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>MaJ_Foyer_Paneliste</name>
        <label>MàJ Foyer Panéliste</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <inputReference>GET_Recuperation_Foyer_Paneliste</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>COND_ByPass</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND ((3 AND 5) OR 4)</filterLogic>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Terminée</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type_de_l_intervention__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type_de_l_intervention__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>3</stringValue>
            </value>
        </filters>
        <filters>
            <field>Etat__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OK</stringValue>
            </value>
        </filters>
        <object>WorkOrder</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
