force-app/main/default/flows/Launch_get_record_from_sipanel.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_account_from_sipanel</name>
        <label>Get account from sipanel</label>
        <locationX>364</locationX>
        <locationY>382</locationY>
        <actionName>AP02_Foyer</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>listAccountExternalIds</name>
            <value>
                <elementReference>externalId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AP02_Foyer</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_assets_from_sipanel</name>
        <label>Get assets from sipanel</label>
        <locationX>666</locationX>
        <locationY>386</locationY>
        <actionName>AP03_Foyer</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>listAccountExternalIds</name>
            <value>
                <elementReference>externalId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AP03_Foyer</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_contact_from_sipanel</name>
        <label>Get contact from sipanel</label>
        <locationX>532</locationX>
        <locationY>381</locationY>
        <actionName>AP01_MembreDuFoyer</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>listContactExternalIds</name>
            <value>
                <elementReference>externalId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AP01_MembreDuFoyer</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <constants>
        <name>accountObject</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Account</stringValue>
        </value>
    </constants>
    <constants>
        <name>assetObject</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Asset</stringValue>
        </value>
    </constants>
    <constants>
        <name>contactObject</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Contact</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Route_based_on_object</name>
        <label>Route based on object</label>
        <locationX>517</locationX>
        <locationY>171</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>Route_to_account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>object</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>accountObject</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_account_from_sipanel</targetReference>
            </connector>
            <label>Route to account</label>
        </rules>
        <rules>
            <name>Route_to_contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>object</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>contactObject</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_contact_from_sipanel</targetReference>
            </connector>
            <label>Route to contact</label>
        </rules>
        <rules>
            <name>Route_to_asset</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>object</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>assetObject</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_assets_from_sipanel</targetReference>
            </connector>
            <label>Route to asset</label>
        </rules>
    </decisions>
    <interviewLabel>Launch get record from sipanel {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Launch get record from sipanel</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>98</locationX>
        <locationY>80</locationY>
        <connector>
            <targetReference>Route_based_on_object</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>externalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>object</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
