force-app/main/default/flows/MAJ_date_freeze.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>suspendu</name>
        <label>freeze?</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>date_de_freeze_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>non freeze</defaultConnectorLabel>
        <rules>
            <name>foyer_freeze</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Freeze__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>date_de_freeze</targetReference>
            </connector>
            <label>foyer freeze</label>
        </rules>
    </decisions>
    <formulas>
        <name>datenull</name>
        <dataType>Date</dataType>
        <expression>null</expression>
    </formulas>
    <interviewLabel>MAJ date freeze {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MAJ date freeze</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>date_de_freeze</name>
        <label>date de freeze</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Date_de_Freeze__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>date_de_freeze_null</name>
        <label>date de freeze null</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Date_de_Freeze__c</field>
            <value>
                <elementReference>datenull</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>suspendu</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Freeze__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
