force-app/main/default/flows/MaJ_Contact_Principal_Intervention_Requete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Changement_Intervention</name>
        <label>Changement Intervention</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>Intervention_en_Cours.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact_principal__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Changement_Requetes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Changement_Requete</name>
        <label>Changement Requête</label>
        <locationX>264</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>Changement_Requetes.Contact_sur_place__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact_principal__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Changement_Requetes</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>MaJ_Contact_Principal_Intervention_Requete {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MaJ_Contact_Principal_Intervention_Requete</label>
    <loops>
        <name>Changement_Requetes</name>
        <label>Changement Requêtes</label>
        <locationX>176</locationX>
        <locationY>695</locationY>
        <collectionReference>GET_Requete_ouverte</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Changement_Requete</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GET_Requete_ouverte</name>
        <label>Requête ouverte</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Changement_Intervention</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4)</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Nouveau</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>En cours</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Hiérarchisé</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Intervention_en_Cours</name>
        <label>Intervention en Cours</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GET_Requete_ouverte</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>En cours</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Nouvelle</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Intervention_en_Cours</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Contact_principal__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
