force-app/main/default/flows/Maj_Statut_du_RDV.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>EnCours</name>
        <choiceText>En cours</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Termine</name>
        <choiceText>Terminé</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Declenchement_possible</name>
        <label>Déclenchement possible ?</label>
        <locationX>168</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Possible</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentUser.Bypass_flows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ObtenirIdRDV</targetReference>
            </connector>
            <label>Possible</label>
        </rules>
    </decisions>
    <decisions>
        <name>RDV_Termine</name>
        <label>RDV_Terminé</label>
        <locationX>555</locationX>
        <locationY>194</locationY>
        <defaultConnector>
            <targetReference>MajEnCours</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>SiTermine</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Termine</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CommentaireSiTermin</targetReference>
            </connector>
            <label>Terminé?</label>
        </rules>
    </decisions>
    <description>cette action permette aux ambasadeurs de mettre à jour le statut de leur rendez-vous.</description>
    <formulas>
        <name>bypassFlows</name>
        <dataType>Boolean</dataType>
        <expression>{!$User.Bypass_flows__c}</expression>
    </formulas>
    <formulas>
        <name>StatutEncours</name>
        <dataType>String</dataType>
        <expression>{!$Label.RDV_Statut_En_cours}</expression>
    </formulas>
    <formulas>
        <name>statutRDVEnCours</name>
        <dataType>String</dataType>
        <expression>{!$Label.RDV_Statut_En_cours}</expression>
    </formulas>
    <formulas>
        <name>statutRDVTermine</name>
        <dataType>String</dataType>
        <expression>{!$Label.RDV_Statut_Termine}</expression>
    </formulas>
    <interviewLabel>Maj Statut du RDV {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Maj Statut du RDV</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>GetUser</name>
        <label>GetUser</label>
        <locationX>176</locationX>
        <locationY>143</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Declenchement_possible</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>CurrentUser</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Bypass_flows__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>ObtenirIdRDV</name>
        <label>ObtenirIdRDV</label>
        <locationX>292</locationX>
        <locationY>465</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MajStatus</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputAssignments>
            <assignToReference>Id_RDV</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>MajEnCours</name>
        <label>MajEnCours</label>
        <locationX>573</locationX>
        <locationY>474</locationY>
        <faultConnector>
            <targetReference>Affichage_d_erreurs</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id_RDV</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ActualStartTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Faux_RDV__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>En cours</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>MajTermine</name>
        <label>MajTerminé</label>
        <locationX>1051</locationX>
        <locationY>195</locationY>
        <faultConnector>
            <targetReference>Affichage_d_erreurs</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id_RDV</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ActualEndTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commentaires__c</field>
            <value>
                <elementReference>Ajout_d_un_commentaire</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Faux_RDV__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Terminé</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <screens>
        <name>Affichage_d_erreurs</name>
        <label>Affichage d&apos;erreurs</label>
        <locationX>1055</locationX>
        <locationY>478</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Erreur</name>
            <fieldText>&lt;p&gt;{&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CommentaireSiTermin</name>
        <label>CommentaireSiTerminé</label>
        <locationX>818</locationX>
        <locationY>195</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>MajTermine</targetReference>
        </connector>
        <fields>
            <name>Ajout_d_un_commentaire</name>
            <fieldText>Ajout d&apos;un commentaire</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>MajStatus</name>
        <label>MajStatus</label>
        <locationX>352</locationX>
        <locationY>191</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>RDV_Termine</targetReference>
        </connector>
        <fields>
            <name>Choisir_un_statut</name>
            <choiceReferences>EnCours</choiceReferences>
            <choiceReferences>Termine</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choisir un statut</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetUser</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CurrentUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Id_RDV</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
