force-app/main/default/flows/MajObjetIntervention_AjoutEquipement.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>DureePassageNonimprovistePaME</name>
        <label>DureePassageNonimprovistePaME</label>
        <locationX>904</locationX>
        <locationY>2494</locationY>
        <assignmentItems>
            <assignToReference>DureeEnheure</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DureeNonImprovistePaME</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>MajEquipement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MajDureeDesinstallation</name>
        <label>MajDureeDesinstallation</label>
        <locationX>558</locationX>
        <locationY>2331</locationY>
        <assignmentItems>
            <assignToReference>DureeEnheure</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DureeDesinstallation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>MajEquipement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MajDureeMediamatAjoutEquipement</name>
        <label>MajDureeMediamatAjoutEquipement</label>
        <locationX>408</locationX>
        <locationY>2307</locationY>
        <assignmentItems>
            <assignToReference>DureeEnheure</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DureeAjoutEquipement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>MajEquipement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MajDureeNonPassageImprovisteMediamat</name>
        <label>MajDureeNonPassageImprovisteMediamat</label>
        <locationX>1295</locationX>
        <locationY>2594</locationY>
        <assignmentItems>
            <assignToReference>DureeEnheure</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DureeNonImprovisteMediamat</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>MajEquipement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MajDureePassageImproviste</name>
        <label>MajDureePassageImproviste</label>
        <locationX>889</locationX>
        <locationY>2246</locationY>
        <assignmentItems>
            <assignToReference>DureeEnheure</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DureePassageImproviste</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>MajEquipement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MajMontantDifferentNouveauFoyer</name>
        <label>MajMontantDifferentNouveauFoyer</label>
        <locationX>405</locationX>
        <locationY>1881</locationY>
        <assignmentItems>
            <assignToReference>Montant</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ValeurMontant2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SiMediamatAjoutEquipement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MajMontantNouveauFoyerMediamat</name>
        <label>MajMontantNouveauFoyerMediamat</label>
        <locationX>143</locationX>
        <locationY>1717</locationY>
        <assignmentItems>
            <assignToReference>Montant</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ValeurMontant1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DureeEnheure</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DureeNouveauFoyerMediamat</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>MajEquipement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MajMontantPaMENouveauFoyer</name>
        <label>MajMontantPaMENouveauFoyer</label>
        <locationX>1470</locationX>
        <locationY>2715</locationY>
        <assignmentItems>
            <assignToReference>Montant</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ValeurMontant3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DureeEnheure</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DureeNouveauFoyerPaME</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>MajEquipement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NombresPeripherique</name>
        <label>NombresPeripherique</label>
        <locationX>456</locationX>
        <locationY>1480</locationY>
        <assignmentItems>
            <assignToReference>NombreDePeripherique</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>EquipementsPeripheriquesLiesAuFoyer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NouveauFoyerMediamat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NombresPostes</name>
        <label>NombresPostes</label>
        <locationX>456</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>NombreDePoste</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>EquipementPosteLiesAuFoyer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NombresPeripherique</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remplissage_Id_du_foyer</name>
        <label>Remplissage Id du foyer</label>
        <locationX>453</locationX>
        <locationY>587</locationY>
        <assignmentItems>
            <assignToReference>IdFoyer</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ObtenirChampsFoyer</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>test1</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Declenchement_Possible</name>
        <label>Déclenchement Possible?</label>
        <locationX>452</locationX>
        <locationY>375</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Possible</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Bypass_flows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InterventionToUpdate.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remplissage_Id_du_foyer</targetReference>
            </connector>
            <label>Possible</label>
        </rules>
    </decisions>
    <decisions>
        <name>DifferentNouveauFoyerMediamat</name>
        <label>DifferentNouveauFoyerMediamat</label>
        <locationX>690</locationX>
        <locationY>1720</locationY>
        <defaultConnector>
            <targetReference>PaMENouveauInstallation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>SiDifferentNouveauFoyerMediamat</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PanelFoyer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Mediamat</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InterventionToUpdate.Sous_type_d_intervention__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>SousTypeNouveauFoyer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MajMontantDifferentNouveauFoyer</targetReference>
            </connector>
            <label>SiDifferentNouveauFoyerMediamat</label>
        </rules>
    </decisions>
    <decisions>
        <name>NouveauFoyerMediamat</name>
        <label>NouveauFoyerMediamat</label>
        <locationX>447</locationX>
        <locationY>1655</locationY>
        <defaultConnector>
            <targetReference>DifferentNouveauFoyerMediamat</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>SiNouveauFoyerMediamat</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PanelFoyer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Mediamat</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InterventionToUpdate.Sous_type_d_intervention__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SousTypeNouveauFoyer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MajMontantNouveauFoyerMediamat</targetReference>
            </connector>
            <label>SiNouveauFoyerMediamat</label>
        </rules>
    </decisions>
    <decisions>
        <name>PaMENouveauInstallation</name>
        <label>PaMENouveauInstallation</label>
        <locationX>888</locationX>
        <locationY>1917</locationY>
        <defaultConnector>
            <targetReference>SiMediamatAjoutEquipement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>SiPaMENouveauInstallation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PanelFoyer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PaME</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InterventionToUpdate.Sous_type_d_intervention__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SousTypeNouveauFoyer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MajMontantPaMENouveauFoyer</targetReference>
            </connector>
            <label>SiPaMENouveauInstallation</label>
        </rules>
    </decisions>
    <decisions>
        <name>SidureeNonImproviste</name>
        <label>SidureeNonImproviste</label>
        <locationX>1211</locationX>
        <locationY>2279</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DureeNonImproiviste</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InterventionToUpdate.Sous_type_d_intervention__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Passage Improviste</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InterventionToUpdate.Sous_type_d_intervention__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Mutationaudimetre</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InterventionToUpdate.Sous_type_d_intervention__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Reinstallation</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SiPaME</targetReference>
            </connector>
            <label>DureeNonImproiviste?</label>
        </rules>
    </decisions>
    <decisions>
        <name>SiMediamatAjoutEquipement</name>
        <label>SiMediamatAjoutEquipement</label>
        <locationX>397</locationX>
        <locationY>2064</locationY>
        <defaultConnector>
            <targetReference>SiTypeDesinstallation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MediamatAjoutEquipement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InterventionToUpdate.Sous_type_d_intervention__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SousTypeAjoutEquipement</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MajDureeMediamatAjoutEquipement</targetReference>
            </connector>
            <label>MediamatAjoutEquipement?</label>
        </rules>
    </decisions>
    <decisions>
        <name>SiPaME</name>
        <label>SiPaME</label>
        <locationX>1065</locationX>
        <locationY>2461</locationY>
        <defaultConnector>
            <targetReference>MajDureeNonPassageImprovisteMediamat</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PanelPaME</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PanelFoyer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PaME</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DureePassageNonimprovistePaME</targetReference>
            </connector>
            <label>PanelPaME?</label>
        </rules>
    </decisions>
    <decisions>
        <name>SiSousTypePassageImproviste</name>
        <label>SiSousTypePassageImproviste</label>
        <locationX>1198</locationX>
        <locationY>2031</locationY>
        <defaultConnector>
            <targetReference>SidureeNonImproviste</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SousTypePassageImproviste</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InterventionToUpdate.Sous_type_d_intervention__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PassageImproviste</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MajDureePassageImproviste</targetReference>
            </connector>
            <label>SousTypePassageImproviste?</label>
        </rules>
    </decisions>
    <decisions>
        <name>SiTypeDesinstallation</name>
        <label>SiTypeDesinstallation</label>
        <locationX>713</locationX>
        <locationY>2121</locationY>
        <defaultConnector>
            <targetReference>SiSousTypePassageImproviste</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SousTypeDesinstallation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InterventionToUpdate.Sous_type_d_intervention__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TypeDesinstallation</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MajDureeDesinstallation</targetReference>
            </connector>
            <label>SousTypeDesinstallation?</label>
        </rules>
    </decisions>
    <formulas>
        <name>DureeAjoutEquipement</name>
        <dataType>Number</dataType>
        <expression>1 + (0.55 * {!NombreDePoste})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>DureeDesinstallation</name>
        <dataType>Number</dataType>
        <expression>0.42</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>DureeNonImprovisteMediamat</name>
        <dataType>Number</dataType>
        <expression>0.3</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>DureeNonImprovistePaME</name>
        <dataType>Number</dataType>
        <expression>0.5</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>DureeNouveauFoyerMediamat</name>
        <dataType>Number</dataType>
        <expression>{!DureeAjoutEquipement} + (0.25)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>DureeNouveauFoyerPaME</name>
        <dataType>Number</dataType>
        <expression>{!DureeNouveauFoyerMediamat} + ((5/60) * {!NombreDePeripherique})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>DureePassageImproviste</name>
        <dataType>Number</dataType>
        <expression>0.5</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>EquipementPoste</name>
        <dataType>String</dataType>
        <expression>{!$Label.ASS_Type_Poste}</expression>
    </formulas>
    <formulas>
        <name>EquipPeripherique</name>
        <dataType>String</dataType>
        <expression>{!$Label.ASS_Type_Peripherique}</expression>
    </formulas>
    <formulas>
        <name>Intervention_Statut_Terminee</name>
        <dataType>String</dataType>
        <expression>{!$Label.WOR_Status_Terminee}</expression>
    </formulas>
    <formulas>
        <name>Mediamat</name>
        <dataType>String</dataType>
        <expression>{!$Label.ACC_Type_de_panel_Mediamat}</expression>
    </formulas>
    <formulas>
        <name>Mutationaudimetre</name>
        <dataType>String</dataType>
        <expression>{!$Label.WOR_Sous_type_d_intervention_Mutation_audimetre}</expression>
    </formulas>
    <formulas>
        <name>PaME</name>
        <dataType>String</dataType>
        <expression>{!$Label.ACC_Type_de_panel_Pame}</expression>
    </formulas>
    <formulas>
        <name>PassageImproviste</name>
        <dataType>String</dataType>
        <expression>{!$Label.WOR_Sous_type_d_intervention_Passage_improviste}</expression>
    </formulas>
    <formulas>
        <name>Reinstallation</name>
        <dataType>String</dataType>
        <expression>{!$Label.WOR_Sous_type_d_intervention_Reinstallation}</expression>
    </formulas>
    <formulas>
        <name>SousTypeAjoutEquipement</name>
        <dataType>String</dataType>
        <expression>{!$Label.WOR_Sous_type_d_intervention_Ajout_equipement}</expression>
    </formulas>
    <formulas>
        <name>SousTypeNouveauFoyer</name>
        <dataType>String</dataType>
        <expression>{!$Label.WOR_Sous_type_d_intervention_Nouveau_foyer}</expression>
    </formulas>
    <formulas>
        <name>TypeDesinstallation</name>
        <dataType>String</dataType>
        <expression>{!$Label.WOR_Type_d_intervention_Desinstallation}</expression>
    </formulas>
    <formulas>
        <name>TypeDetravailParDefaut</name>
        <dataType>String</dataType>
        <expression>{!$Label.TYP_Name_TypeParDefaut}</expression>
    </formulas>
    <formulas>
        <name>ValeurMontant1</name>
        <dataType>Currency</dataType>
        <expression>(37.8 + 45) + (37.8 * {!NombreDePoste} )</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ValeurMontant2</name>
        <dataType>Currency</dataType>
        <expression>37.80</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ValeurMontant3</name>
        <dataType>Currency</dataType>
        <expression>(37.8 + 45+35)+(37.8 * {!NombreDePeripherique})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>MajObjetIntervention_AjoutEquipement {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MajObjetIntervention_AjoutEquipement</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obtenir_Intervention_a_MAJ</name>
        <label>Obtenir Intervention à MAJ</label>
        <locationX>908</locationX>
        <locationY>207</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Declenchement_Possible</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Intervention_Statut_Terminee</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>InterventionToUpdate</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Type_de_l_intervention__c</queriedFields>
        <queriedFields>Sous_type_d_intervention__c</queriedFields>
        <queriedFields>Montant__c</queriedFields>
        <queriedFields>Duration</queriedFields>
        <queriedFields>Nombre_d_equipements__c</queriedFields>
        <queriedFields>Nombre_de_peripheriques__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>ObtenirChampsFoyer</name>
        <label>ObtenirChampsFoyer</label>
        <locationX>456</locationX>
        <locationY>757</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ObtenirTypeDenregistrementPoste</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdFoyer</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>ContactPrincipalFoyer</assignToReference>
            <field>Contact_principal__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>IdTerritoireDeservice</assignToReference>
            <field>Territoire_de_service__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PanelFoyer</assignToReference>
            <field>Type_de_foyer__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>ObtenirEquipementPoste</name>
        <label>ObtenirEquipementPoste</label>
        <locationX>456</locationX>
        <locationY>1237</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NombresPostes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdFoyer</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdTypePoste</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputReference>EquipementPosteLiesAuFoyer</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>ObtenirEquipementsPheripherique</name>
        <label>ObtenirEquipementsPheripherique</label>
        <locationX>457</locationX>
        <locationY>1117</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ObtenirEquipementPoste</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdFoyer</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdTypePheripherique</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputReference>EquipementsPeripheriquesLiesAuFoyer</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>ObtenirTypeDenregistrementPoste</name>
        <label>ObtenirTypeDenregistrementPoste</label>
        <locationX>456</locationX>
        <locationY>877</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TypeDenregistremenPeripheriquetId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EquipementPoste</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>IdTypePoste</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>TypeDenregistremenPeripheriquetId</name>
        <label>TypeDenregistremenPeripheriquetId</label>
        <locationX>456</locationX>
        <locationY>997</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ObtenirEquipementsPheripherique</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EquipPeripherique</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>IdTypePheripherique</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>MajEquipement</name>
        <label>MajEquipement</label>
        <locationX>157</locationX>
        <locationY>2731</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InterventionToUpdate.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Duration</field>
            <value>
                <elementReference>DureeEnheure</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Montant__c</field>
            <value>
                <elementReference>Montant</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nombre_d_equipements__c</field>
            <value>
                <elementReference>NombreDePoste</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nombre_de_peripheriques__c</field>
            <value>
                <elementReference>NombreDePeripherique</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <start>
        <locationX>330</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Obtenir_Intervention_a_MAJ</targetReference>
        </connector>
        <object>Asset</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>ContactPrincipalFoyer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DureeEnheure</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>EquipementPosteLiesAuFoyer</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>EquipementsPeripheriquesLiesAuFoyer</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>IdFoyer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IdTerritoireDeservice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IdTypedeTravailParDefaut</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IdTypePheripherique</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IdTypePoste</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>InterventionToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>Montant</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NombreDePeripherique</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NombreDePoste</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>PanelFoyer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
