force-app/main/default/flows/MajObjetIntervention.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>DureeAjoutEquipements</name>
        <label>DureeAjoutEquipement</label>
        <locationX>1018</locationX>
        <locationY>1367</locationY>
        <assignmentItems>
            <assignToReference>DureeEnMinutes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DureeAjoutEquipement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>SiMediamateDifferentNouveauFoyer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DureeMediamatNouveauFoyerr</name>
        <label>DureeMediamatNouveauFoyer</label>
        <locationX>1282</locationX>
        <locationY>1475</locationY>
        <assignmentItems>
            <assignToReference>DureeEnMinutes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DureeMediamatNouveauFoyer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Montant</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ValeurMontant1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Besoin_RDV</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DureePameNouveauFoyer</name>
        <label>DureePameNouveauFoyer</label>
        <locationX>1546</locationX>
        <locationY>1475</locationY>
        <assignmentItems>
            <assignToReference>DureeEnMinutes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DureeNouveauFoyerPaME</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Montant</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ValeurMontant3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Besoin_RDV</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MajDureeChute</name>
        <label>MajDureeChute</label>
        <locationX>50</locationX>
        <locationY>1367</locationY>
        <assignmentItems>
            <assignToReference>DureeEnMinutes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DureeChute</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>SiMediamateDifferentNouveauFoyer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MajDureeDepannage</name>
        <label>MajDureeDepannage</label>
        <locationX>710</locationX>
        <locationY>1367</locationY>
        <assignmentItems>
            <assignToReference>DureeEnMinutes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DureeDepannage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SiMediamateDifferentNouveauFoyer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MajDureeSuppressionPoste</name>
        <label>MajDureeSuppressionPoste</label>
        <locationX>314</locationX>
        <locationY>1367</locationY>
        <assignmentItems>
            <assignToReference>DureeEnMinutes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DureeSuppressionPoste</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>SiMediamateDifferentNouveauFoyer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MontantMediamatDifferentNouveauFoyer</name>
        <label>MontantMediamatDifferentNouveauFoyer</label>
        <locationX>578</locationX>
        <locationY>1583</locationY>
        <assignmentItems>
            <assignToReference>Montant</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ValeurMontant2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Besoin_RDV</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NombresPeripherique</name>
        <label>NombresPeripherique</label>
        <locationX>1062</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>NombreDePeripherique</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>EquipementsPeripheriquesLiesAuFoyer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ChoixSousType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NombresPostes</name>
        <label>NombresPostes</label>
        <locationX>1062</locationX>
        <locationY>1043</locationY>
        <assignmentItems>
            <assignToReference>NombreDePoste</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>EquipementPosteLiesAuFoyer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NombresPeripherique</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Besoin_RDV</name>
        <label>Besoin RDV?</label>
        <locationX>1062</locationX>
        <locationY>1859</locationY>
        <defaultConnector>
            <targetReference>Maj_Intervention_Sans_RDV</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Oui</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Besoin_d_un_RDV__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Maj_Intervention_Avec_RDV</targetReference>
            </connector>
            <label>Oui</label>
        </rules>
    </decisions>
    <decisions>
        <name>ByPass</name>
        <label>ByPass ?</label>
        <locationX>1700</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>No_ByPass</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Bypass_workflows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtenir_Foyer</targetReference>
            </connector>
            <label>No ByPass</label>
        </rules>
    </decisions>
    <decisions>
        <name>ChoixSousType</name>
        <label>ChoixSousType</label>
        <locationX>1062</locationX>
        <locationY>1259</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SiMediamateDifferentNouveauFoyer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SiChuteDefinitive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Actions__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>8</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MajDureeChute</targetReference>
            </connector>
            <label>SiChuteDefinitive</label>
        </rules>
        <rules>
            <name>SiSuppressionPoste</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Actions__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>MajDureeSuppressionPoste</targetReference>
            </connector>
            <label>SiSuppressionPoste</label>
        </rules>
        <rules>
            <name>SiDepannageSupport</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type_de_l_intervention__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MajDureeDepannage</targetReference>
            </connector>
            <label>SiDepannageSupport</label>
        </rules>
        <rules>
            <name>SiAjoutEquipement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Actions__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>21</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DureeAjoutEquipements</targetReference>
            </connector>
            <label>SiAjoutEquipement</label>
        </rules>
        <rules>
            <name>SiNouveauFoyer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Actions__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PaMEouMediamet</targetReference>
            </connector>
            <label>SiNouveauFoyer</label>
        </rules>
    </decisions>
    <decisions>
        <name>PaMEouMediamet</name>
        <label>PaMEouMediamet</label>
        <locationX>1546</locationX>
        <locationY>1367</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SiMediamats</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Foyer_paneliste__r.Referentiel_Panel__r.Type_de_panel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MMT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DureeMediamatNouveauFoyerr</targetReference>
            </connector>
            <label>SiMediamat</label>
        </rules>
        <rules>
            <name>SiPaME</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Foyer_paneliste__r.Referentiel_Panel__r.Type_de_panel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PAME</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DureePameNouveauFoyer</targetReference>
            </connector>
            <label>SiPaME</label>
        </rules>
    </decisions>
    <decisions>
        <name>SiMediamateDifferentNouveauFoyer</name>
        <label>SiMédiamateDifferentNouveauFoyer</label>
        <locationX>710</locationX>
        <locationY>1475</locationY>
        <defaultConnector>
            <targetReference>Besoin_RDV</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DifferentNouveauFoyer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Foyer_paneliste__r.Referentiel_Panel__r.Type_de_panel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MMT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MontantMediamatDifferentNouveauFoyer</targetReference>
            </connector>
            <label>DifferentNouveauFoyer</label>
        </rules>
    </decisions>
    <formulas>
        <name>DureeAjoutEquipement</name>
        <dataType>Number</dataType>
        <expression>40</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>DureeChute</name>
        <dataType>Number</dataType>
        <expression>IF({!NombreDePoste}==1,30,IF({!NombreDePoste}==2,30,IF({!NombreDePoste}==3,60,IF({!NombreDePoste}==4,60,0))))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>DureeDepannage</name>
        <dataType>Number</dataType>
        <expression>30</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>DureeMediamatNouveauFoyer</name>
        <dataType>Number</dataType>
        <expression>120</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>DureeNouveauFoyerMediamat</name>
        <dataType>Number</dataType>
        <expression>{!DureeAjoutEquipement} + (0.25)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>DureeNouveauFoyerPaME</name>
        <dataType>Number</dataType>
        <expression>135</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>DureeSuppressionPoste</name>
        <dataType>Number</dataType>
        <expression>15</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TypeDetravailParDefaut</name>
        <dataType>String</dataType>
        <expression>{!$Label.TYP_Name_TypeParDefaut}</expression>
    </formulas>
    <formulas>
        <name>ValeurMontant1</name>
        <dataType>Currency</dataType>
        <expression>(37.8 + 45) + (37.8 * {!NombreDePoste} )</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ValeurMontant2</name>
        <dataType>Currency</dataType>
        <expression>37.80</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ValeurMontant3</name>
        <dataType>Currency</dataType>
        <expression>(37.8 + 45+35)+(37.8 * {!NombreDePeripherique})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Maj {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MajObjetIntervention</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obtenir_Foyer</name>
        <label>Obtenir Foyer</label>
        <locationX>1062</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ObtenirTypedeTravail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObtenirEquipementPoste</name>
        <label>ObtenirEquipementPoste</label>
        <locationX>1062</locationX>
        <locationY>935</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NombresPostes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Foyer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ObtenirTypeDenregistrementPoste.Id</elementReference>
            </value>
        </filters>
        <object>Equipements_du_foyer__c</object>
        <outputReference>EquipementPosteLiesAuFoyer</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>ObtenirEquipementsPheripherique</name>
        <label>ObtenirEquipementsPheripherique</label>
        <locationX>1062</locationX>
        <locationY>827</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ObtenirEquipementPoste</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Foyer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ObtenirTypeDenregistrementPeripheriquetId.Id</elementReference>
            </value>
        </filters>
        <object>Equipements_du_foyer__c</object>
        <outputReference>EquipementsPeripheriquesLiesAuFoyer</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>ObtenirTypeDenregistrementPeripheriquetId</name>
        <label>ObtenirTypeDenregistrementPeripheriquetId</label>
        <locationX>1062</locationX>
        <locationY>719</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ObtenirEquipementsPheripherique</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.EQPF_RecordType_Peripheriques</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Equipements_du_foyer__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObtenirTypeDenregistrementPoste</name>
        <label>ObtenirTypeDenregistrementPoste</label>
        <locationX>1062</locationX>
        <locationY>611</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ObtenirTypeDenregistrementPeripheriquetId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.EQPF_RecordType_PosteTV</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Equipements_du_foyer__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObtenirTypedeTravail</name>
        <label>ObtenirTypedeTravail</label>
        <locationX>1062</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ObtenirTypeDenregistrementPoste</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TypeDetravailParDefaut</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Maj_Intervention_Avec_RDV</name>
        <label>Maj Intervention Avec RDV</label>
        <locationX>930</locationX>
        <locationY>1967</locationY>
        <inputAssignments>
            <field>Duration</field>
            <value>
                <elementReference>DureeEnMinutes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DurationType</field>
            <value>
                <stringValue>Minutes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Montant__c</field>
            <value>
                <elementReference>Montant</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nombre_d_equipements__c</field>
            <value>
                <elementReference>NombreDePoste</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nombre_de_peripheriques__c</field>
            <value>
                <elementReference>NombreDePeripherique</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tech_Email__c</field>
            <value>
                <elementReference>Obtenir_Foyer.Adresse_e_mail_principale__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkTypeId</field>
            <value>
                <elementReference>ObtenirTypedeTravail.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Maj_Intervention_Sans_RDV</name>
        <label>Maj Intervention Sans RDV</label>
        <locationX>1194</locationX>
        <locationY>1967</locationY>
        <inputAssignments>
            <field>Duration</field>
            <value>
                <elementReference>DureeEnMinutes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DurationType</field>
            <value>
                <stringValue>Minutes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Montant__c</field>
            <value>
                <elementReference>Montant</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nombre_d_equipements__c</field>
            <value>
                <elementReference>NombreDePoste</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nombre_de_peripheriques__c</field>
            <value>
                <elementReference>NombreDePeripherique</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tech_Email__c</field>
            <value>
                <elementReference>Obtenir_Foyer.Adresse_e_mail_principale__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1574</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ByPass</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Tech_TestClass__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>WorkOrder</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>DureeEnMinutes</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>EquipementPosteLiesAuFoyer</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Equipements_du_foyer__c</objectType>
    </variables>
    <variables>
        <name>EquipementsPeripheriquesLiesAuFoyer</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Equipements_du_foyer__c</objectType>
    </variables>
    <variables>
        <name>Montant</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NombreDePeripherique</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NombreDePoste</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
