force-app/main/default/flows/NoteDeFrais_MAJ_Montant.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Is30km</name>
        <label>Is30km</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>UpdateMontantSupp30Km</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Supp30km</defaultConnectorLabel>
        <rules>
            <name>X30km</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Km__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>kmStandard</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateMontant30Km</targetReference>
            </connector>
            <label>30km</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsBypassed</name>
        <label>IsBypassed</label>
        <locationX>380</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Bypass</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BypassFlow</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is30km</targetReference>
            </connector>
            <label>Bypass</label>
        </rules>
    </decisions>
    <formulas>
        <name>fraisMoins30Km</name>
        <dataType>Number</dataType>
        <expression>VALUE({!$Label.NTF_Forfait_KmFixe})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>kmStandard</name>
        <dataType>Number</dataType>
        <expression>VALUE({!$Label.NTF_FluxMajMontant_StandardKm})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Montant_Formula</name>
        <dataType>Number</dataType>
        <expression>VALUE( {!$Label.NTF_Montant_KmSupplementaire })*({!$Record.Km__c}-VALUE({!$Label.NTF_FluxMajMontant_StandardKm}))+VALUE({!$Label.NTF_Forfait_KmFixe})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>NoteDeFrais_MAJ_Montant {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NoteDeFrais_MAJ_Montant</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpdateMontant30Km</name>
        <label>UpdateMontant30Km</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Montant__c</field>
            <value>
                <elementReference>fraisMoins30Km</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateMontantSupp30Km</name>
        <label>UpdateMontantSupp30Km</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Montant__c</field>
            <value>
                <elementReference>Montant_Formula</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IsBypassed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type_de_frais__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Km</stringValue>
            </value>
        </filters>
        <filters>
            <field>Km__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Note_de_frais__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>BypassFlow</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$User.Bypass_flows__c</elementReference>
        </value>
    </variables>
</Flow>
