force-app/main/default/flows/ORD_Maj_FoyerPaneliste_Suspension_RemplacementMateriel.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendToMule</name>
        <label>SendToMule</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <actionName>AP07_FoyerPaneliste</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>idsList</name>
            <value>
                <elementReference>$Record.Foyer_paneliste__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AP07_FoyerPaneliste</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>set_suspension_to_true</name>
        <label>set suspension to true</label>
        <locationX>270</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>loop_foyer_pan.Suspendu__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop_foyer_pan.Motif_de_suspension__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>203</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop_foyer_pan.Date_de_suspension__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateFoyerPan</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateFoyerPan</name>
        <label>UpdateFoyerPan</label>
        <locationX>270</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>FoyerPanToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_foyer_pan</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_foyer_pan</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Utilisateur_d_integration</name>
        <label>Utilisateur d&apos;integration</label>
        <locationX>182</locationX>
        <locationY>947</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Username</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Label.User_Technique_Username</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendToMule</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <description>ajout de la Synchro avec SIP pour l&apos;utilisateur intégration</description>
    <environments>Default</environments>
    <interviewLabel>ORD_Maj_FoyerPaneliste_Suspension {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ORD_Maj_FoyerPaneliste_Suspension_RemplacementMateriel</label>
    <loops>
        <name>loop_foyer_pan</name>
        <label>loop foyer pan</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <collectionReference>get_related_foyer_paneliste</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>set_suspension_to_true</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_foyer_pan</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_related_foyer_paneliste</name>
        <label>get related foyer paneliste</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_foyer_pan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Foyer_paneliste__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Foyer_paneliste__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_foyer_pan</name>
        <label>update foyer pan</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Utilisateur_d_integration</targetReference>
        </connector>
        <inputReference>FoyerPanToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_related_foyer_paneliste</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Remplacement de Matériel</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pack initial Pager</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pack Initial pager Setmeter</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pack Initial ROAv3</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pack Initial ROAV3 Setmeter</stringValue>
            </value>
        </filters>
        <object>Order</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>FoyerPanToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Foyer_paneliste__c</objectType>
    </variables>
</Flow>
