force-app/main/default/flows/ORD_Remplissage_Type_Envoie.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>By_Pass</name>
        <label>By Pass</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Bypass_flows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Type_d_envoie</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_d_envoie</name>
        <label>Type d&apos;envoie</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Lettre</defaultConnectorLabel>
        <rules>
            <name>Colissimo</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4 OR 5 OR (6 AND 7) OR (9 AND 7)) AND 8</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Order.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renvoi Beacon</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Order.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Remplacement de Matériel</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product2.Type_de_produit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Beacon</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product2.Type_de_produit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pager</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product2.Type_de_produit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Setmeter</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product2.Type_de_produit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accessoire</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product2.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>5 prises</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Order.Type_envoi__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product2.Type_de_produit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consommable</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MaJ_Commande_Colissimo</targetReference>
            </connector>
            <label>Colissimo</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>ORD_Remplissage_Type_Envoie {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ORD_Remplissage_Type_Envoie</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>MaJ_Commande_Colissimo</name>
        <label>MàJ Commande Colissimo</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Type_envoi__c</field>
            <value>
                <stringValue>2</stringValue>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>By_Pass</targetReference>
        </connector>
        <object>OrderItem</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
