force-app/main/default/flows/PAN_Creation_Foyer_Pan_Mesure_Plateforme.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Ajout_individu_Paneliste_To_List</name>
        <label>Ajout individu Panéliste To List</label>
        <locationX>953</locationX>
        <locationY>470</locationY>
        <assignmentItems>
            <assignToReference>IndividuPanelisteToInsertList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>IndividuPanelisteToInsert</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Creation_Individus_Paneliste</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Attribution_Individu_Paneliste</name>
        <label>Attribution Individu Panéliste</label>
        <locationX>1212</locationX>
        <locationY>469</locationY>
        <assignmentItems>
            <assignToReference>IndividuPanelisteToInsert.Foyer_paneliste__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FoyerPanelisteId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IndividuPanelisteToInsert.Foyer_paneliste_Affichage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FoyerPanelisteId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IndividuPanelisteToInsert.Composition_du_foyer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Creation_Individus_Paneliste.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IndividuPanelisteToInsert.CON_EXTId_SIPanel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Creation_Individus_Paneliste.CON_ExtId_SIPanel__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IndividuPanelisteToInsert.Date_d_entree_de_l_individu__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DateToday</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ajout_individu_Paneliste_To_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Existe_il_deja_un_foyer_Paneliste_Mesure_plateforme</name>
        <label>Existe il déjà un foyer Panéliste Mesure plateforme ?</label>
        <locationX>611</locationX>
        <locationY>238</locationY>
        <defaultConnector>
            <targetReference>Creation_Foyer_Paneliste_Mesure_Plateforme</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non</defaultConnectorLabel>
        <rules>
            <name>Oui</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recuperation_Mesure_plateforme_deja_existant</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Erreur_Mesure_Plateforme</targetReference>
            </connector>
            <label>Oui</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DateToday</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>PAN_ExtId_Foyer_Paneliste</name>
        <dataType>String</dataType>
        <expression>&apos;8&apos; + MID({!Get_Recuperation_Foyer_Paneliste.Foyer_Paneliste_ExtId_SIPanel__c}, 2, 50)</expression>
    </formulas>
    <formulas>
        <name>PAN_Name</name>
        <dataType>String</dataType>
        <expression>&apos;8&apos; + MID({!Get_Recuperation_Foyer_Paneliste.Name}, 2, 20)</expression>
    </formulas>
    <formulas>
        <name>Wor_Redirection</name>
        <dataType>String</dataType>
        <expression>{!$Label.WOR_UrlRedirection}</expression>
    </formulas>
    <interviewLabel>PAN_ {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PAN_Creation_Foyer_Pan_Mesure_Plateforme</label>
    <loops>
        <name>Creation_Individus_Paneliste</name>
        <label>Création Individus Panéliste</label>
        <locationX>1106</locationX>
        <locationY>237</locationY>
        <collectionReference>Get_Recuperation_Composition_du_Foyer</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Attribution_Individu_Paneliste</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Creation_Individu_Paneliste</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Creation_Foyer_Paneliste_Mesure_Plateforme</name>
        <label>Création Foyer Panéliste Mesure Plateforme</label>
        <locationX>777</locationX>
        <locationY>234</locationY>
        <assignRecordIdToReference>FoyerPanelisteId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Recuperation_Composition_du_Foyer</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Echec_Creation</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ACC_EXTId_SIPanel__c</field>
            <value>
                <elementReference>Get_Recuperation_Foyer_Paneliste.ACC_EXTId_SIPanel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Foyer_Paneliste_ExtId_SIPanel__c</field>
            <value>
                <elementReference>PAN_ExtId_Foyer_Paneliste</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Foyer__c</field>
            <value>
                <elementReference>Get_Recuperation_Foyer_Paneliste.Foyer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Identifiant_foyer_pame__c</field>
            <value>
                <elementReference>Get_Recuperation_Foyer_Paneliste.Identifiant_foyer_pame__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lettre_operateur__c</field>
            <value>
                <elementReference>Get_Recuperation_Foyer_Paneliste.Lettre_operateur__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>PAN_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Numero_foyer__c</field>
            <value>
                <elementReference>Get_Recuperation_Foyer_Paneliste.Numero_foyer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Recuperation_Foyer_Paneliste.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referentiel_Panel__c</field>
            <value>
                <elementReference>GET_Recuperation_Mesure_Plateforme.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Foyer_paneliste__c</object>
    </recordCreates>
    <recordCreates>
        <name>Creation_Individu_Paneliste</name>
        <label>Création Individu Panéliste</label>
        <locationX>1319</locationX>
        <locationY>235</locationY>
        <connector>
            <targetReference>Update_date_de_Creation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Echec_Creation</targetReference>
        </faultConnector>
        <inputReference>IndividuPanelisteToInsertList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Recuperation_Composition_du_Foyer</name>
        <label>Récupération Composition du Foyer</label>
        <locationX>918</locationX>
        <locationY>233</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Creation_Individus_Paneliste</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Recuperation_Foyer_Paneliste.Foyer__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Recuperation_Foyer_Paneliste</name>
        <label>Récupération Foyer Panéliste</label>
        <locationX>434</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GET_Recuperation_Mesure_Plateforme</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Foyer_paneliste__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_Recuperation_Mesure_Plateforme</name>
        <label>Récupération Mesure Plateforme</label>
        <locationX>437</locationX>
        <locationY>80</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recuperation_Mesure_plateforme_deja_existant</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.RFP_Nom_Mesure_Plateforme</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Referentiel_Panel__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperation_Mesure_plateforme_deja_existant</name>
        <label>Récupération Mesure plateforme déjà existant</label>
        <locationX>637</locationX>
        <locationY>75</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_il_deja_un_foyer_Paneliste_Mesure_plateforme</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Foyer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Recuperation_Foyer_Paneliste.Foyer__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Referentiel_Panel__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_Recuperation_Mesure_Plateforme.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Foyer_paneliste__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_date_de_Creation</name>
        <label>Update date de Création</label>
        <locationX>1407</locationX>
        <locationY>143</locationY>
        <connector>
            <targetReference>Succes_Creation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Echec_Creation</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FoyerPanelisteId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_de_creation__c</field>
            <value>
                <elementReference>DateToday</elementReference>
            </value>
        </inputAssignments>
        <object>Foyer_paneliste__c</object>
    </recordUpdates>
    <screens>
        <name>Echec_Creation</name>
        <label>Echec Création</label>
        <locationX>974</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TXT_Error</name>
            <fieldText>&lt;p&gt;Une erreur c&apos;est produit durant la création&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Erreur_Mesure_Plateforme</name>
        <label>Erreur Mesure Plateforme</label>
        <locationX>614</locationX>
        <locationY>432</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MessageErreur</name>
            <fieldText>&lt;p&gt;Un foyer panéliste Mesure Plateforme existe déjà/a déjà été crée pour ce foyer Panélsite&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Succes_Creation</name>
        <label>Succés Création</label>
        <locationX>1461</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TXT_Succes</name>
            <fieldText>&lt;p&gt;Le Foyer Panéliste Mesure Plateforme a été créé.&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;{!Wor_Redirection}{!FoyerPanelisteId}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!PAN_Name}&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>61</locationX>
        <locationY>190</locationY>
        <connector>
            <targetReference>Get_Recuperation_Foyer_Paneliste</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>FoyerPanelisteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IndividuPanelisteToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Individu_Paneliste__c</objectType>
    </variables>
    <variables>
        <name>IndividuPanelisteToInsertList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Individu_Paneliste__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
