force-app/main/default/flows/PAN_Chute_Foyer_Paneliste.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>ASS_Ajout_Liste_Individu_Paneliste</name>
        <label>Ajout Liste Individu Panéliste</label>
        <locationX>138</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>IndividuPanelisteToUpdate</assignToReference>
            <operator>AddAtStart</operator>
            <value>
                <elementReference>FOR_Chuter_les_individus_panelistes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FOR_Chuter_les_individus_panelistes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS_MaJ_Date_de_Chute</name>
        <label>MàJ Date de Chute</label>
        <locationX>138</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>FOR_Chuter_les_individus_panelistes.Date_de_chute_de_l_individu__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ASS_Ajout_Liste_Individu_Paneliste</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>COND_By_Pass</name>
        <label>By Pass ?</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Non</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Bypass_flows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_Recuperation_Individus_Paneliste_du_foyer_Paneliste</targetReference>
            </connector>
            <label>Non</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>PAN_Chute_Foyer_Paneliste {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PAN_Chute_Foyer_Paneliste</label>
    <loops>
        <name>FOR_Chuter_les_individus_panelistes</name>
        <label>Chuter les individus panélistes</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <collectionReference>GET_Recuperation_Individus_Paneliste_du_foyer_Paneliste</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ASS_MaJ_Date_de_Chute</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UPDATE_MaJ_Individus_Paneliste</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GET_Recuperation_Individus_Paneliste_du_foyer_Paneliste</name>
        <label>Récupération Individus Panéliste du foyer Panéliste</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FOR_Chuter_les_individus_panelistes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Foyer_paneliste__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Date_de_chute_de_l_individu__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Individu_Paneliste__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UPDATE_MaJ_Individus_Paneliste</name>
        <label>MàJ Individus Panéliste</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <inputReference>IndividuPanelisteToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>COND_By_Pass</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Statut_Foyer_paneliste__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>5</stringValue>
            </value>
        </filters>
        <filters>
            <field>Statut_Foyer_paneliste__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Foyer_paneliste__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>IndividuPanelisteToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Individu_Paneliste__c</objectType>
    </variables>
</Flow>
