force-app/main/default/flows/PAN_Synchro_Nielsen.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Declanchement_Synchro</name>
        <label>Déclanchement Synchro</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <actionName>AP12_FoyerPaneliste</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Validation_Synchro</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>foyerPanelisteIdList</name>
            <value>
                <elementReference>ExtId_SIPanel</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AP12_FoyerPaneliste</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>By_Pass</name>
        <label>By Pass ?</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Bypass_flows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Foyer_Paneliste</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>PAN_Synchro_Nielsen {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PAN_Synchro_Nielsen</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Foyer_Paneliste</name>
        <label>Get Foyer Panéliste</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Declanchement_Synchro</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Foyer_paneliste__c</object>
        <outputAssignments>
            <assignToReference>ExtId_SIPanel</assignToReference>
            <field>Foyer_Paneliste_ExtId_SIPanel__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Validation_Synchro</name>
        <label>Validation Synchro</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Message_Ok</name>
            <fieldText>&lt;p&gt;Le foyer panéliste a été synchronisé avec Nielsen&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>By_Pass</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ExtId_SIPanel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ListFoyerPanId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
