force-app/main/default/flows/RC_MAJ_date_de_fin.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>MAJ_Date_De_Fin_Ancienne_Version</name>
        <label>MAJ Date De Fin Ancienne Version</label>
        <locationX>892</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>Dernier_Referentiel_Convention_du_Referentiel_Panel.Date_de_fin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Date_de_debut__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>MAJ_Dernier_Referentiel_Convention</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>By_pass</name>
        <label>ByPass</label>
        <locationX>321</locationX>
        <locationY>290</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>No_ByPass</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Bypass_flows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dernier_Referentiel_Convention_du_Referentiel_Panel</targetReference>
            </connector>
            <label>No ByPass</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_t_il_une_ancienne_version</name>
        <label>Existe-t-il une ancienne version</label>
        <locationX>595</locationX>
        <locationY>280</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Il_y_a_une_ancienne_version</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Dernier_Referentiel_Convention_du_Referentiel_Panel</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MAJ_Date_De_Fin_Ancienne_Version</targetReference>
            </connector>
            <label>Il y a une ancienne version</label>
        </rules>
    </decisions>
    <description>Renseigner le champ Date de fin de la version Vn-1</description>
    <interviewLabel>RC_MAJ_date_de_fin {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RC_MAJ_date_de_fin</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Dernier_Referentiel_Convention_du_Referentiel_Panel</name>
        <label>Dernier référentiel convention du référentiel panel</label>
        <locationX>605</locationX>
        <locationY>59</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_t_il_une_ancienne_version</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Referentiel_Panel__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Referentiel_Panel__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type_de_la_convention__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Type_de_la_convention__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Date_de_fin__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Referentiel_convention__c</object>
        <sortField>Date_de_debut__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>MAJ_Dernier_Referentiel_Convention</name>
        <label>MAJ Dernier Référentiel Convention</label>
        <locationX>892</locationX>
        <locationY>68</locationY>
        <inputReference>Dernier_Referentiel_Convention_du_Referentiel_Panel</inputReference>
    </recordUpdates>
    <start>
        <locationX>42</locationX>
        <locationY>12</locationY>
        <connector>
            <targetReference>By_pass</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Date_de_fin__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Referentiel_convention__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
