force-app/main/default/flows/RDV_Remplissage_mail_station.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>RemplisageNumeroStation</name>
        <label>RemplisageNumeroStation</label>
        <locationX>735</locationX>
        <locationY>245</locationY>
        <assignmentItems>
            <assignToReference>NumeroStation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ressource_de_service.NumeroStationSansEspace__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Station_externe</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remplissage_mail_de_la_station</name>
        <label>Remplissage mail de la station</label>
        <locationX>393</locationX>
        <locationY>281</locationY>
        <assignmentItems>
            <assignToReference>Rendez_vous_de_service.Mail_de_la_station_externe__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ressource_de_service.Adresse_e_mail__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Rendez_vous_de_service.Faux_RDV__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Rendez_vous_de_service.Numero_de_la_station__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NumeroStation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Mise_a_jour_du_rendez_vous_de_service</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Declenchement_possible</name>
        <label>Déclenchement possible ?</label>
        <locationX>430</locationX>
        <locationY>122</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Possible</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>bypassFlows</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rendez_vous_de_service</targetReference>
            </connector>
            <label>Possible</label>
        </rules>
    </decisions>
    <decisions>
        <name>Station_externe</name>
        <label>Station externe ?</label>
        <locationX>653</locationX>
        <locationY>375</locationY>
        <defaultConnector>
            <targetReference>MajNumeroStationSA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Enregistrement_trouve</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Ressource_de_service.Station_externe__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remplissage_mail_de_la_station</targetReference>
            </connector>
            <label>Enregistrement trouvé</label>
        </rules>
    </decisions>
    <description>Remplissage du champ Mail de la station externe(ou non MEDIAMETRIE-168) à partir de la ressource attribuée</description>
    <formulas>
        <name>bypassFlows</name>
        <dataType>Boolean</dataType>
        <expression>{!$User.Bypass_flows__c}</expression>
    </formulas>
    <formulas>
        <name>NumeroSansEspace</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!NumeroStation}, &quot; &quot;, &quot;&quot;)</expression>
    </formulas>
    <interviewLabel>RDV_Remplissage_mail_station {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RDV_Remplissage_mail_station</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Rendez_vous_de_service</name>
        <label>Rendez-vous de service</label>
        <locationX>614</locationX>
        <locationY>118</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Ressource_de_service</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceAppointmentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Mail_de_la_station_externe__c</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Ressource_de_service</name>
        <label>Ressource de service</label>
        <locationX>764</locationX>
        <locationY>118</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RemplisageNumeroStation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceResourceId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceResource</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Adresse_e_mail__c</queriedFields>
        <queriedFields>Station_externe__c</queriedFields>
        <queriedFields>NumeroStationSansEspace__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>MAJFoyerNumeroDestation</name>
        <label>MAJFoyerNumeroDestation</label>
        <locationX>401</locationX>
        <locationY>596</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Rendez_vous_de_service.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Station__c</field>
            <value>
                <elementReference>NumeroStation</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>MajNumeroStationSA</name>
        <label>MajNumeroStationSA</label>
        <locationX>660</locationX>
        <locationY>591</locationY>
        <connector>
            <targetReference>MAJFoyerNumeroDestation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Rendez_vous_de_service.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Mail_de_la_station_externe__c</field>
            <value>
                <elementReference>Ressource_de_service.Adresse_e_mail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Numero_de_la_station__c</field>
            <value>
                <elementReference>NumeroStation</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Mise_a_jour_du_rendez_vous_de_service</name>
        <label>Mise à jour du rendez-vous de service</label>
        <locationX>191</locationX>
        <locationY>270</locationY>
        <connector>
            <targetReference>MAJFoyerNumeroDestation</targetReference>
        </connector>
        <inputReference>Rendez_vous_de_service</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Declenchement_possible</targetReference>
        </connector>
        <object>AssignedResource</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>NumeroStation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
