force-app/main/default/flows/Recupeeration_du_lien_meter_depuis_Google.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Invoquer</name>
        <label>Invoquer</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <actionName>AP01_LienMeter</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Message_success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>erreur</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>IndivPanId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AP01_LienMeter</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>invoquer_apex</name>
        <label>invoquer apex</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <actionName>AP01_LienMeter</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Copy_1_of_Message_success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_1_of_erreur</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>IndivPanId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AP01_LienMeter</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>HaveAConv</name>
        <label>HaveAConv</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Message_Fail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>HaveConv</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetIndivPan_Conv</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Compo_Foyer.Age__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>18.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invoquer</targetReference>
            </connector>
            <label>HaveConv</label>
        </rules>
        <rules>
            <name>Age_entre_15_ET_18</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Compo_Foyer.Age__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>15.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Compo_Foyer.Age__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>18.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>invoquer_apex</targetReference>
            </connector>
            <label>Age entre 15 ET 18</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsBypassed</name>
        <label>IsBypassed</label>
        <locationX>974</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Bypassed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Bypass</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetIndPan_Rec</targetReference>
            </connector>
            <label>Bypassed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Bypass</name>
        <dataType>Boolean</dataType>
        <expression>{!$User.Bypass_flows__c}</expression>
    </formulas>
    <interviewLabel>Récupération du lien meter depuis Google {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Récupération du lien meter depuis Google</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Compo_Foyer</name>
        <label>Get Compo Foyer</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HaveAConv</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetIndPan_Rec.Composition_du_foyer__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetIndivPan_Conv</name>
        <label>GetIndivPan_Conv</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Compo_Foyer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Individu_Paneliste__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Date_de_signature_de_la_convention__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Referentiel_convention__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Convention__c</object>
        <sortField>Date_de_signature_de_la_convention__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetIndPan_Rec</name>
        <label>GetIndPan_Rec</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetIndivPan_Conv</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Individu_Paneliste__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Copy_1_of_erreur</name>
        <label>Copy 1 of erreur</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_messageErreur</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(240, 13, 13); background-color: rgb(255, 255, 255);&quot;&gt;Une erreur est produite : &lt;/b&gt;&lt;b style=&quot;color: rgb(240, 13, 13); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;{!$Flow.FaultMessage}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Message_success</name>
        <label>Copy 1 of Message success</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_SuccessMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(16, 95, 10); background-color: rgb(255, 255, 255);&quot;&gt;Le lien meter est ajouté à l&apos;individu &lt;/strong&gt;&lt;strong style=&quot;color: rgb(16, 95, 10); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;{!GetIndPan_Rec.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>erreur</name>
        <label>erreur</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>messageErreur</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(240, 13, 13); background-color: rgb(255, 255, 255);&quot;&gt;Une erreur est produite : &lt;/b&gt;&lt;b style=&quot;color: rgb(240, 13, 13); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;{!$Flow.FaultMessage}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Message_Fail</name>
        <label>Message Fail</label>
        <locationX>1106</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Fail</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(218, 15, 15);&quot;&gt;Nous n&apos;avons pas trouvé de convention signée pour cet individu panéliste ou individu a mois de 15 ans.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Message_success</name>
        <label>Message success</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(16, 95, 10); background-color: rgb(255, 255, 255);&quot;&gt;Le lien meter est ajouté à l&apos;individu &lt;/strong&gt;&lt;strong style=&quot;color: rgb(16, 95, 10); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;{!GetIndPan_Rec.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IsBypassed</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
