force-app/main/default/flows/RefConvention_Actif_MAJConventionAjour.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>AddToUpdateList</name>
        <label>AddToUpdateList</label>
        <locationX>138</locationX>
        <locationY>1236</locationY>
        <assignmentItems>
            <assignToReference>ListFoyerPanToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ForEachFoyerPan</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ForEachFoyerPan</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EditFoyerPan</name>
        <label>EditFoyerPan</label>
        <locationX>138</locationX>
        <locationY>1116</locationY>
        <assignmentItems>
            <assignToReference>ForEachFoyerPan.Convention_a_jour__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddToUpdateList</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>IsBypassed</name>
        <label>IsBypassed</label>
        <locationX>611</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>bypassFalse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>bypassFlows</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRefConvOfRefPanel</targetReference>
            </connector>
            <label>bypassFalse</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsLatestOne</name>
        <label>IsLatestOne</label>
        <locationX>380</locationX>
        <locationY>516</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>LatestOne</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetRefConvOfRefPanel</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetConvOfRefConv</targetReference>
            </connector>
            <label>LatestOne</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsRefConvContainsConv</name>
        <label>IsRefConvContainsConv</label>
        <locationX>182</locationX>
        <locationY>756</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>NotContainsConv</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetConvOfRefConv</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetFoyerPanOfRefConv</targetReference>
            </connector>
            <label>NotContainsConv</label>
        </rules>
    </decisions>
    <interviewLabel>RefConvention_Actif_MAJConventionAjour {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RefConvention_Actif_MAJConventionAjour</label>
    <loops>
        <name>ForEachFoyerPan</name>
        <label>ForEachFoyerPan</label>
        <locationX>50</locationX>
        <locationY>996</locationY>
        <collectionReference>ListFoyerPan</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>EditFoyerPan</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateFoyerPan</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetConvOfRefConv</name>
        <label>GetConvOfRefConv</label>
        <locationX>182</locationX>
        <locationY>636</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsRefConvContainsConv</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Referentiel_convention__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Convention__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetFoyerPanOfRefConv</name>
        <label>GetFoyerPanOfRefConv</label>
        <locationX>50</locationX>
        <locationY>876</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ForEachFoyerPan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Referentiel_Panel__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Referentiel_Panel__c</elementReference>
            </value>
        </filters>
        <object>Foyer_paneliste__c</object>
        <outputReference>ListFoyerPan</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetRefConvOfRefPanel</name>
        <label>GetRefConvOfRefPanel</label>
        <locationX>380</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsLatestOne</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Referentiel_Panel__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Referentiel_Panel__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Date_de_debut__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Record.Date_de_debut__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Referentiel_convention__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateFoyerPan</name>
        <label>UpdateFoyerPan</label>
        <locationX>50</locationX>
        <locationY>1452</locationY>
        <inputReference>ListFoyerPanToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IsBypassed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Statut__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Actif</stringValue>
            </value>
        </filters>
        <object>Referentiel_convention__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-11-10</startDate>
            <startTime>06:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>bypassFlows</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$User.Bypass_flows__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>ListFoyerPan</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Foyer_paneliste__c</objectType>
    </variables>
    <variables>
        <name>ListFoyerPanToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Foyer_paneliste__c</objectType>
    </variables>
</Flow>
