force-app/main/default/flows/ReplanificationStations.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>AttribuerHeure</name>
        <label>AttribuerHeure</label>
        <locationX>903</locationX>
        <locationY>419</locationY>
        <assignmentItems>
            <assignToReference>DatePlanification</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RDVReplanifie.Date_intervention__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HeureDebutplanifie</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RDVReplanifie.HeureDebut__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HeureFinPlanifie</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RDVReplanifie.HeureFin__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Declenchement_possible</name>
        <label>Déclenchement possible</label>
        <locationX>148</locationX>
        <locationY>216</locationY>
        <defaultConnector>
            <targetReference>ReplanificationNonAutorise</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Possible</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>CurrentUser.Bypass_flows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentUser.Replanification_autorisee__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetIdSA</targetReference>
            </connector>
            <label>Possible</label>
        </rules>
    </decisions>
    <formulas>
        <name>bypassFlows</name>
        <dataType>Boolean</dataType>
        <expression>{!$User.Bypass_flows__c}</expression>
    </formulas>
    <formulas>
        <name>ReplanificationAutorise</name>
        <dataType>Boolean</dataType>
        <expression>{!$User.Replanification_autorisee__c}</expression>
    </formulas>
    <formulas>
        <name>test1</name>
        <dataType>String</dataType>
        <expression>{!$User.ProfileId}</expression>
    </formulas>
    <formulas>
        <name>test2</name>
        <dataType>String</dataType>
        <expression>{!$Profile.Name}</expression>
    </formulas>
    <formulas>
        <name>test3</name>
        <dataType>String</dataType>
        <expression>&apos;testtesttest&apos;</expression>
    </formulas>
    <formulas>
        <name>test4</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}</expression>
    </formulas>
    <interviewLabel>ReplanificationStations {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ReplanificationStations</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>GetIdSA</name>
        <label>GetIdSA</label>
        <locationX>385</locationX>
        <locationY>219</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Planification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputAssignments>
            <assignToReference>Status</assignToReference>
            <field>Status</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetUser</name>
        <label>GetUser</label>
        <locationX>50</locationX>
        <locationY>214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Declenchement_possible</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>CurrentUser</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Bypass_flows__c</queriedFields>
        <queriedFields>Replanification_autorisee__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>ObtenirHeure</name>
        <label>ObtenirHeure</label>
        <locationX>882</locationX>
        <locationY>275</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>RDVReplanifie</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Date_intervention__c</queriedFields>
        <queriedFields>HeureDebut__c</queriedFields>
        <queriedFields>HeureFin__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>MajDateSA</name>
        <label>MajDateSA</label>
        <locationX>740</locationX>
        <locationY>238</locationY>
        <connector>
            <targetReference>Succes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Faux_RDV__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SchedEndTime</field>
            <value>
                <elementReference>Fin_planifi</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SchedStartTime</field>
            <value>
                <elementReference>Debut_Planifie</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <screens>
        <name>Planification</name>
        <label>Planification</label>
        <locationX>536</locationX>
        <locationY>219</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>MajDateSA</targetReference>
        </connector>
        <fields>
            <name>EnteteRelanification</name>
            <fieldText>&lt;h1&gt;&lt;b style=&quot;color: rgb(53, 121, 211); font-family: sans-serif; font-size: 12px;&quot;&gt;Veuillez s&apos;il vous plait saisir la date de début et la date de fin de votre rendez-vous!&lt;/b&gt;&lt;/h1&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Debut_Planifie</name>
            <dataType>DateTime</dataType>
            <fieldText>Debut Planifié</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Fin_planifi</name>
            <dataType>DateTime</dataType>
            <fieldText>Fin planifié</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ReplanificationNonAutorise</name>
        <label>ReplanificationNonAutorise</label>
        <locationX>154</locationX>
        <locationY>441</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NonAutorise</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(34, 36, 224); font-size: 16px; font-family: sans-serif;&quot;&gt;﻿Désolé! Vous n&apos;etes pas autoriser à replanifier un rendez-vous.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Succes</name>
        <label>Succes</label>
        <locationX>730</locationX>
        <locationY>427</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>PlanificationSucces</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(31, 31, 228); font-size: 16px; font-family: sans-serif;&quot;&gt;Le rendez-vous sera replanifié du {!Debut_Planifie} au {!Fin_planifi}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>125</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetUser</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CurrentUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>DatePlanification</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DatePlanifie</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HeureDebutplanifie</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>HeureFinPlanifie</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RDVReplanifie</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
