force-app/main/default/flows/STATDVC_MaJ_Poste_ExtId_partenaire.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>By_Pass</name>
        <label>By Pass ?</label>
        <locationX>743</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Bypass_flows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RecordType_Equipement_du_foyer</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>RecordType_Equipement_du_foyer</name>
        <label>RecordType Equipement du foyer</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Type_peripherique</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Périphérique</defaultConnectorLabel>
        <rules>
            <name>Poste_TV_Device</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Equipement_du_foyer__r.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.EQPF_RecordType_PosteTV</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>M_J_Poste_ExtID_partenaire_Poste_TV</targetReference>
            </connector>
            <label>Poste TV</label>
        </rules>
        <rules>
            <name>Device</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Equipement_du_foyer__r.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.EQF_RecodType_Device</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MaJ_Poste_ExtID_partenaire</targetReference>
            </connector>
            <label>Device</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_peripherique</name>
        <label>Type périphérique</label>
        <locationX>710</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Statut_Device_Poste_associe</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Autre</defaultConnectorLabel>
        <rules>
            <name>Objet_Connecte</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Equipement_du_foyer__r.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>13</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MaJ_Poste_ExtID_partenaire_Objet_Connecte</targetReference>
            </connector>
            <label>Objet Connecté</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>STATDVC_MàJ_Poste_ExtId_partenaire {!$Flow.CurrentDateTime}</interviewLabel>
    <label>STATDVC_MaJ_Poste_ExtId_partenaire</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Statut_Device_Poste_associe</name>
        <label>Statut Device Poste associé</label>
        <locationX>842</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MaJ_Poste_ExtID_partenaire_Peripherique</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Equipement_du_foyer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Equipement_du_foyer__r.Poste_TV__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Statut_Device_Equipement_Mesure__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>M_J_Poste_ExtID_partenaire_Poste_TV</name>
        <label>MàJ Poste_ExtID_partenaire_Poste_TV</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>poste_ExtID_partenaire__c</field>
            <value>
                <elementReference>$Record.ExtID_partenaire__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>MaJ_Poste_ExtID_partenaire</name>
        <label>MàJ Poste_ExtID_partenaire</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>poste_ExtID_partenaire__c</field>
            <value>
                <numberValue>99.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>MaJ_Poste_ExtID_partenaire_Objet_Connecte</name>
        <label>MàJ Poste_ExtID_partenaire Objet Connecté</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>poste_ExtID_partenaire__c</field>
            <value>
                <numberValue>99.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>MaJ_Poste_ExtID_partenaire_Peripherique</name>
        <label>MàJ Poste_ExtID_partenaire Peripherique</label>
        <locationX>842</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>poste_ExtID_partenaire__c</field>
            <value>
                <elementReference>Statut_Device_Poste_associe.ExtID_partenaire__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>617</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>By_Pass</targetReference>
        </connector>
        <object>Statut_Device_Equipement_Mesure__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
