force-app/main/default/flows/SuiviStockSAV_Duree_Garantie.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>COND_Bande_Usine_non_nul</name>
        <label>Bande Usine non nul</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Oui</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.equipement_de_mesure__r.Bande_Usine__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UPD_MaJ_duree_Garantie_Suivi_Stock_SAV</targetReference>
            </connector>
            <label>Oui</label>
        </rules>
    </decisions>
    <decisions>
        <name>COND_By_Pass</name>
        <label>By Pass ?</label>
        <locationX>380</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Bypass_flows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COND_Bande_Usine_non_nul</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <interviewLabel>SuiviStockSAV_Duree_Garantie {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SuiviStockSAV_Duree_Garantie</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UPD_MaJ_duree_Garantie_Suivi_Stock_SAV</name>
        <label>MàJ durée Garantie Suivi Stock/SAV</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Duree_de_la_garantie__c</field>
            <value>
                <elementReference>$Record.equipement_de_mesure__r.Bande_Usine__r.Duree_de_la_garantie__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>COND_By_Pass</targetReference>
        </connector>
        <object>Suivi_Stock_SAV__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
