force-app/main/default/flows/Update_TASK_FROM_FOYER.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Maj_status</name>
        <label>Maj status</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Update_status.Statut_audim_tirique__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Statut_Audimetrique__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Update_status.Statut_du_foyer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Statut_Foyer_paneliste__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_status</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Task_To_Update</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Task To Update</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Obtenir_task</collectionReference>
        <connector>
            <targetReference>Update_status</targetReference>
        </connector>
        <limit>1</limit>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>CreatedDate</sortField>
            <sortOrder>Desc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <environments>Default</environments>
    <interviewLabel>Update TASK FROM FOYER {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update TASK FROM FOYER</label>
    <loops>
        <name>Update_status</name>
        <label>Update status</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <collectionReference>Obtenir_task</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Maj_status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Maj_tache</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obtenir_task</name>
        <label>Obtenir task</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Task_To_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Maj_tache</name>
        <label>Maj tache</label>
        <locationX>176</locationX>
        <locationY>839</locationY>
        <inputReference>Update_status</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obtenir_task</targetReference>
        </connector>
        <filterLogic>(1 OR 2) OR ( 1 AND 2 )</filterLogic>
        <filters>
            <field>Statut_Audimetrique__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Statut_Foyer_paneliste__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Foyer_paneliste__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
